<section class="order-page page-template personal-info-page p-3">

<section class="pi-sec-1">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h1>Account details</h1>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
</div>
</div>
</div>
</section>


<section class="acc-pi-sec-2">
<div class="container">
<div class="row pi-sec-2-row">
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 acc-pi-clmn acc-pi-clmn-1  ">
<div class="acc-pi-left acc-pi-div">
<ul class="acc-pi-links">
<li>
<a class="" href="/account/information">Personal info</a>
</li>
<li>
<a href="/pages/orders">My Orders</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</section>

</section>