<section class="login-details-page page-template login-page">
<section class="login-register-sec">
<div class="container">
<div class="row login-page-row-1">
 <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 login-clmn-1 commo-form-clmn">
   
<h1 id="login" tabindex="-1">Login to your account</h1>
   
    <div>
    {%- if recover_success == true -%}
      <h3 class="form__message" tabindex="-1" autofocus>
        <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13">
          <path d="M6.5 12.35C9.73087 12.35 12.35 9.73086 12.35 6.5C12.35 3.26913 9.73087 0.65 6.5 0.65C3.26913 0.65 0.65 3.26913 0.65 6.5C0.65 9.73086 3.26913 12.35 6.5 12.35Z" fill="#428445" stroke="white" stroke-width="0.7"/>
          <path d="M5.53271 8.66357L9.25213 4.68197" stroke="white"/>
          <path d="M4.10645 6.7688L6.13766 8.62553" stroke="white">
        </svg>
        {{ 'customer.recover_password.success' | t }}
      </h3>
    {%- endif -%}
        </div>
   
{%- form 'customer_login', novalidate: 'novalidate' -%}
   
<div class="form-row">
<div class="form-group col-lg-12">
<div class="form_label"><label for="Email">Email address</label></div>
  <input type="email" class="form-control input-field" name="customer[email]"  id="CustomerEmail"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          placeholder="" required="required">
  </div>
  
<div class="form-group col-lg-12">
<div class="form_label"><label for="Password">Password</label></div>
 <input  type="password" class="form-control input-field"
            value=""
            name="customer[password]"
            id="Password"
            placeholder=""
         required="required"> 
  </div>  
</div>
          
 <a href="/pages/recover-password" class="text-right text-muted">Forgot your password?</a>
          
<div class="form-row">
<div class="form-group col-lg-12 field-correct form-btn-common login-form-btn">
<button class="btn" type="submit">Continue</button>
</div>
</div>
                    
  {% endform %}
   
   
   

</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 login-clmn-1">
<h2>Create a new account</h2>
<div class="green-btn-login"><a class="btn btn-primary" href="{{ routes.account_register_url }}" role="button">Create a new account</a></div>
</div>
</div>
  
   {%- if shop.checkout.guest_login -%}
    <div>
      <hr>
      <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

      {%- form 'guest_login' -%}
        <button>
          {{ 'customer.login_page.guest_continue' | t }}
        </button>
      {%- endform -%}
    </div>
  {%- endif -%}
  
</div>
</section>

<section class="news-setter-sec section_padding">
<div class="container">
<div class="row news-setter-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 commo-form-clmn news-setter-clmn">
<div class="news-setter-heading text-center"><h2>Join our VIP club and get access to special offers, discounts, giveaways and much more</h2></div>
<form action="/account/registernewsletter" method="post">
<div class="form-row">
<div class="form-group col-lg-6">
<div class="form_label"><label for="Name">Email address</label></div>
<input type="text" id="email_address" placeholder="" class="form-control input-field" data-val="true" data-val-required="The Name field is required." name="Name" value="" />
<span class="text-danger field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
</div>
<div class="form-group col-lg-6">
<div class="form_label"><label for="Email">Email address</label></div>
<input type="email" id="email_address" placeholder="" class="form-control input-field" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." name="Email" value="" />
<span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
</div>
 </div>
<div class="form-row news-setter-checkbox">
<div class="single-checkbox">
<div class="check-box-wrap">
<input type="checkbox" id="marketing_consent" name="Marketing Consent" value="marketing_consent" data-val="true" data-val-required="The MarketingConsent field is required.">
<label for="marketing_consent">I’d like Instasmile to send me offers, discounts and new product information. I can opt out at any time.</label>
</div>
</div>
<span class="text-danger field-validation-valid" data-valmsg-for="MarketingConsent" data-valmsg-replace="true"></span>
</div>
<div class="form-row">
<div class="form-group col-lg-12 news-setter-btn text-center">
<button type="submit" class="btn" value="Join now">Join now</button>
</div>
</div>
<input name="__RequestVerificationToken" type="hidden" value="CfDJ8Bhkg-7CQSdIqEh2R-uLkBPFXxVe1hSE45Ii54Uf-rxNOhyp9KtcbKhZEd7ii75GNTjRj-19yED_eBpNjgDwVKC36N80hen8mPXmC3-GqurlsBuKGrKBFAJjogMGzfU47IDKICfsCBTBpJtJzfeqdEc" /><input name="MarketingConsent" type="hidden" value="false"></form>
</div>
</div>
</div>
</section>

<section class="home-section-9 section_padding">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="sec-9-details text-center">
<h2>Over 200,000 happy customers have already found their perfect smile</h2>
<p class="home-sub-head"><span>Rated GREAT on Trustpilot</span><img src="https://cdn.instasmile.com/new-website/images/sec-3-rating.svg"><span>Based on <a href="https://uk.trustpilot.com/review/instasmile.com" style="color: black; text-decoration: underline">3,706 reviews</a></span></p>
</div>
</div>
</div>
</div>
<div class="row client-testimonial">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 testimonial-col">
<div id="owl-demo" class="owl-carousel owl-reviews owl-theme owl-height">
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618fee8601034f34babe7c9e" target="_blank">Lex</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I required several interactions to finally get some acceptable impressions. It took time but the personnel I dealt with were always kind and...</p>
 <p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618fea7501034f34babe7909" target="_blank">julie winnett</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Due to missing teeth I decided to do something about it, so I went to Instasmile and I can honestly say the support I received throughout my whole...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618eaea601034f34babdb8c2" target="_blank">B.Denny</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">The teeth fit perfectly. My smile looks wonderful. I am very excited about them. Thank you instasmile.</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618e333601034f34babd1656" target="_blank">Cheryl-lee</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Thank you so much to the instasmile team for all your hard work. And also the great communication &#x1F44F; I absolutely love love my new smile I have gained...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618d850601034f34babcc00b" target="_blank">Nicola</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I&#x27;m so happy with my veneers they give me so much more confidence I can now smile &#x1F603;</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618d6a31fb38891f5f08f6ec" target="_blank">Donna Thompson</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I spoke to jack very understanding .explained in an easy way of how to take the impression very helpful</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618c33cdfb38891f5f07f497" target="_blank">Karen Grant</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I&#x27;m so happy with my veneers they are perfect.. Just wot I wanted and so easy to use. Strong and durable too.. I&#x27;m delighted I got them.. Will prob...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618c111901034f34babb7c77" target="_blank">Ms Mills</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Brilliant service and excellent end product. Very happy &#x1F60A;</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618bb6ed75069a4da49edc69" target="_blank">Carol</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">They service from this company is amazing from start to finish just can&#x2019;t fault them end product amazing all staff amazing Thanks for a great...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618a6d8d234f1b1fe572c6b2" target="_blank">Hair at Christines </a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I am so happy with my instasmile. My first set didn&#x2019;t fit me but they worked with me and gave me lots of feedback and support to get my impression...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618984a875069a4da49d32ba" target="_blank">Mark Lyles</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I am so pleased with my intasmile veneers! I have purchased veneers from another company and not only were they more expensive but they are not near...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6189674975069a4da49d0edf" target="_blank">Sherrilynn</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I am absolutely obsessed with my Instasmile!! I have not smiled with my teeth showing in 10&#x2B; years, now I can&#x27;t stop :) I love how thin they are so...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6187e47b75069a4da49bdc7d" target="_blank">Mauricio Alejandro Villalobos</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">And now, for your reading pleasure, a pre-view that trusts instasmile will deliver nothing less than their serendipitous has, and if I may indulge,...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/61842a10234f1b1fe56e7653" target="_blank">Martyn</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Excellent service throughout the process. I had initially gone for an upper set of veneers as I was unsure if it was a good move but once my...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618425d175069a4da499787b" target="_blank">Julie Mccarthy</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Excellent company very helpful phone back when ask answers emails looking forward to receiving my veneers high recommend</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182de7975069a4da4986589" target="_blank">Talus2</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Stellar Performance !</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182d34d75069a4da49857ee" target="_blank">victor cancel</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">My smiles looks beautiful. I feel like a brand new person &#x2665;&#xFE0F;</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182734675069a4da497dd2b" target="_blank">Ann Stickney</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Quick turnaround time after they approve impressions. Super customer service team. Fit was perfect and they look great and natural.</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182637275069a4da497c98e" target="_blank">Luna Sheehan</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I highly recommend, before getting these I had no confidence and hadn&#x27;t smiled in many years since getting these instasmile veneers I have been...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618146ef75069a4da496f5cf" target="_blank">Phil Carl Griffin</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">The process is slightly lengthy, but the results are amazing! I&#x27;ve ordered twice with Instasmile, and will continue with them in the future.</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
</div>
</div>
</div>
</section>
</section>