<section id="mobile-menu-nav" class="mobile-menu" style="left: -380px;">
<div class="row mobile-inner-row-1">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="show-desktop">
<li><img src="https://cdn.instasmile.com/new-website/images/Footer_Star.svg"></li>
<li>3,685 customers rate us GREAT</li>
</div>
<div class="show-mobile">
<ul style="padding-left: 0px;">
<li style="font-size: smaller;"><img src="https://cdn.instasmile.com/new-website/images/cta-buy-now.svg" style="padding-right: 10px;">12 Month Warranty Included</li>
</ul>
</div>
</div>
</div>
<div class="row mobile-inner-row-2">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mobile-inner-clmn-1">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-times"></i></a>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mobile-inner-clmn-2 vertical-center">
<a class="navbar-brand" href="/"><img src="https://cdn.instasmile.com/new-website/images/logo-instasmile-mobile.svg" class="img-fluid" alt="instasmile"></a>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mobile-inner-clmn-3 vertical-center">
<div class="mobile-right-content vertical-center">
<ul>
<li><a href="/" style="color: #14181e;"><i class="fas fa-globe"></i></a></li>
<li class="user_login_icon-mobile"><i class="fas fa-user-circle"></i></li>
</ul>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mobile-clmn-menu-1">
<p class="mobile-menu-btn mobile-menu-btn-1"><a class="btn btn-primary btn-01" role="button" href="/smile-assessment-step-1">Get Started</a></p>
<p class="mobile-menu-btn mobile-menu-btn-2"><a class="btn btn-primary" href="/auth/login">Sign In</a></p>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mobile-clmn-menu mobile-menu-icon">
<ul class="menu-item-mobile menu-item-mobile-1">
<li><a>How We Can Help</a></li>
<li>
<a href="/how-we-can-help/missing-chipped-teeth">
<div class="mega-menu-mob-img mega-menu-mob-img-1">
<img class="mega-menu-image" src="https://cdn.instasmile.com/new-website/images/h_icon_1.svg">
</div>
Missing / Chipped Teeth
</a>
</li>
<li>
<a href="/how-we-can-help/white-teeth">
<div class="mega-menu-mob-img mega-menu-mob-img-2">
<img class="mega-menu-image" src="https://cdn.instasmile.com/new-website/images/h_icon_2.svg">
</div>Whiter Smile
</a>
</li>
<li>
<a href="/how-we-can-help/straighter-smile">
<div class="mega-menu-mob-img mega-menu-mob-img-3">
<img class="mega-menu-image" src="https://cdn.instasmile.com/new-website/images/h_icon_3.svg">
</div>
Straighter Smile
</a>
</li>
<li>
<a href="/how-we-can-help/cosmetic-enhancement">
<div class="mega-menu-mob-img mega-menu-mob-img-4">
<img class="mega-menu-image" src="https://cdn.instasmile.com/new-website/images/h_icon_4.svg">
</div>
Cosmetic Enhancement
</a>
</li>
</ul>
<ul class="menu-item-mobile menu-item-mobile-1">
<li>
<a href="/knowledge-base">
Knowledge Base
</a>
</li>
</ul>
<ul class="menu-item-mobile menu-item-mobile-1">
<li><a>How It Works</a></li>
<li>
<a href="/how-it-works/process">
<div class="mega-menu-mob-img mega-menu-mob-img-5">
<img class="mega-menu-image" src="https://cdn.instasmile.com/new-website/images/h_icon_5.svg">
</div>
The Process
</a>
</li>
<li>
<a href="/how-it-works/impression-kit-guide">
<div class="mega-menu-mob-img mega-menu-mob-img-6">
<img class="mega-menu-image" src="https://cdn.instasmile.com/new-website/images/h_icon_6.svg">
</div>
Impression Kit Guide
</a>
</li>
</ul>
<ul class="menu-item-mobile menu-item-mobile-2 mobile-menu-icon">
<li>Product Range</li>
<li>
<a href="/product-range/instasmile-classic">
<div class="mega-menu-mob-img mega-menu-mob-img-7">
<img class="mega-menu-image" src="https://cdn.instasmile.com/new-website/images/h_icon_7.svg">
</div>
Instasmile Classic
</a>
</li>
<li>
<a href="/product-range/instasmile-dynamic">
<div class="mega-menu-mob-img mega-menu-mob-img-8">
<img class="mega-menu-image" src="https://cdn.instasmile.com/new-website/images/icon-instasmile-dynamic-new.svg">
</div>
Instasmile Dynamic
</a>
</li>
<li>
<a href="/product-range/shade-guide">
<div class="mega-menu-mob-img mega-menu-mob-img-9">
<img class="mega-menu-image" src="https://cdn.instasmile.com/new-website/images/h_icon_9.svg">
</div>
Shades
</a>
</li>
</ul>
<div class="mobile-menu-without-child">
<div>
<ul class="menu-item-mobile">
<li><a href="/results">Results</a></li>
<li><a href="/who-we-are">Who We Are</a></li>
</ul>
</div>
<div>
<ul class="menu-item-mobile">
<li><a href="/pricing">Pricing</a></li>
<li><a href="/faqs">FAQs</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</div>
</div>
</div>
</div>
</section>