<section class="checkout-top-mobile-1 checkout-top-mobile show-mobile">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 vertical-center">
<div class="checkout-header-mobile">
<p style="font-size: smaller;"><img class="top-star-img" src="https://cdn.instasmile.com/new-website/images/cta-buy-now.svg">12 Month Warranty Included</p>
</div>
</div>
</div>
</div>
</section>