<section class="checkout-top-header show-desktop">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 checkou-header-clmn-1 checkou-header-clmn">
<div class="checkout-header-left">
<a class="navbar-brand" href="/"><img src="https://cdn.instasmile.com/new-website/images/logo-instasmile-strapline-black.svg" class="img-fluid" alt="instasmile"></a>
</div>
</div>
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 checkou-header-clmn-2 checkou-header-clmn vertical-center">
<div class="checkout-header-center">
<p><img class="top-star-img" src="https://cdn.instasmile.com/new-website/images/cta-buy-now.svg">Free Shipping</p>
</div>
</div>
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 checkou-header-clmn-2 checkou-header-clmn vertical-center">
<div class="checkout-header-center">
<p><img class="top-star-img" src="https://cdn.instasmile.com/new-website/images/cta-buy-now.svg">12 Month Warranty Included</p>
</div>
</div>
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 checkou-header-clmn-3 checkou-header-clmn vertical-center">
<div class="checkout-header-right">
<p><img class="top-star-img" src="https://cdn.instasmile.com/new-website/images/Footer_Star.svg">3,700 customers rate us GREAT</p>
</div>
</div>
</div>
</div>
</section>