<section class="checkout-top-mobile-2 checkout-top-mobile show-mobile">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
<div class="checkout-header-mobile">
<a class="navbar-brand" href="/"><img src="https://cdn.instasmile.com/new-website/images/logo-instasmile-mobile.svg" class="img-fluid" alt="instasmile"></a>
</div>
</div>
</div>
</div>
</section>