<footer class="footer-2">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 footer-2-clmn-1">
<div class="footer_logo"><a href="/"><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/logo-instasmile-white.png?v=1635335357"></a></div>
<p class="footer_intro">We believe everyone deserves a perfect smile. That’s why we create affordable alternatives to dental veneers. Discover your confidence.</p>
<a class="btn btn-primary footer-btn-1" role="button" href="/smile-assessment-step-1">Get Started</a>
<a class="btn btn-primary footer-btn-2" role="button" href="/auth/login">Sign in <i class="fa fa-user" aria-hidden="true"></i></a>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-2-clmn-2">
<div class="footer_menu_1">
<ul>
<li><a>How We Can Help</a></li>
<li><a href="/how-we-can-help/missing-chipped-teeth">Missing / Chipped Teeth</a></li>
<li><a href="/how-we-can-help/white-teeth">Instant White Smile</a></li>
<li><a href="/how-we-can-help/straighter-smile">Straighter Smile</a></li>
<li><a href="/how-we-can-help/cosmetic-enhancement">Cosmetic Enhancement</a></li>
</ul>
<ul>
<li><a>How It Works</a></li>
<li><a href="/how-it-works/process">The Process</a></li>
<li><a href="/how-it-works/impression-kit-guide">Impression Kit Guide</a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-2-clmn-3">
<div class="footer_menu_2">
<ul>
<li><a>Product Range</a></li>
<li><a href="/product-range/instasmile-classic">Instasmile Classic</a></li>
<li><a href="/product-range/instasmile-dynamic">Instasmile Dynamic</a></li>
<li><a href="/product-range/shade-guide">Shades</a></li>
<li><a></a></li>
</ul>
<ul>
<li><a href="/results">Results</a></li>
</ul>
<ul>
<li><a href="/pricing">Pricing</a></li>
</ul>
</div>
</div>

<div class="col-sm-6 col-md-6 footer-Mobile-menu">
<ul>
<li><a>How It Works</a></li>
<li><a href="/how-it-works/process">The Process</a></li>
<li><a href="/how-it-works/impression-kit-guide">Impression Kit Guide</a></li>
</ul>
</div>
<div class="col-sm-6 col-md-6 footer-Mobile-menu">
<ul>
<li><a href="/results">Results</a></li>
<li><a href="/pricing">Pricing</a></li>
<li><a href="/faqs">FAQs</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</div>

<div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 footer-2-clmn-4">
<div class="footer_menu_3">
<ul>
<li><a href="/who-we-are">Who We Are</a></li>
<li><a href="/faqs">FAQs</a></li>
<li><a href="/knowledge-base">Knowledge Base</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</div>
<div class="footer_social_media">
<ul>
 <li><a href="https://www.instagram.com/instasmile_usa" target="_blank"><i class="fab fa-instagram"></i></a></li>
<li><a href="https://www.facebook.com/instasmileUS/" target="_blank"><i class="fab fa-facebook"></i></a></li>
<li><a href="https://twitter.com/instasmile" target="_blank"><i class="fab fa-twitter"></i></a></li>
<li><a href="https://www.youtube.com/c/INSTAsmilecliponveneers" target="_blank"><i class="fab fa-youtube"></i></a></li>
<li><a href="https://uk.trustpilot.com/review/instasmile.com" target="_blank"><img src="https://cdn.instasmile.com/new-website/images/footer_Trsutpilot_icon.png"></a></li>
</ul>
</div>
</div>
</div>
</div>
</footer>





{% schema %}
  {
    "name": "Footer-2",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
