<footer class="footer-1">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 vertical-center">
<div class="footer_star"><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/Footer_Star.png?v=1635571126">&emsp;3,685 customers rate us GREAT</div>
</div>
<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 vertical-center show-desktop">
<div class="footer_buy"><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/cta-buy-now.png?v=1635571167">&emsp;Free Shipping</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 vertical-center show-desktop">
<div class="footer_buy"><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/cta-buy-now.png?v=1635571167">&emsp;12 Month Warranty Included</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 vertical-center show-mobile" style="text-align: center;">
<div class="checkout-header-center">
<p><img class="top-star-img" src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/Footer_Star.png?v=1635571126">3,685 customers rate us GREAT</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 vertical-center">
<div class="footer_pay" style="display: contents;"><img alt="Merchants Banner" src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/Payment_Type_3-2.png?v=1635571245" style="max-height:100%"></div>

</div>
</div>
</div>
</footer>





{% schema %}
  {
    "name": "Footer-1",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
