<footer class="footer-3">
<div class="container">
<div class="row">
<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 footer-3-clmn-1">
<p>instasmile® - all rights reserved</p>
</div>
<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 footer-3-clmn-2">
<div class="policy-link"><a href="/terms-and-conditions">Terms &amp; Conditions</a>&emsp;&emsp;<a href="/privacy-policy">Privacy Policy</a></div>
</div>
</div>
</div>
</footer>



{% schema %}
  {
    "name": "Footer-3",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
