<section class="banner-sec-desk home-page-banner banner-sec-desk-new" style="background-image: url('https://cdn.shopify.com/s/files/1/0608/5879/4210/files/web-banner-02_2x_77e2d806-eeff-4886-9508-42e771f760d1.jpg?v=1635316569');">
<div class="row banner-desk-row ">
<div class="col-lg-5 col-md-10 col-sm-12 col-xs-12 bn-clmn">
</div>
<div class="col-lg-2 col-md-10 col-sm-12 col-xs-12 bn-clmn">
</div>
<div class="col-lg-5 col-md-10 col-sm-12 col-xs-12 bn-clmn">
</div>
</div>
<div class="banner-content">
<h1>Discover Your Confidence</h1>
<p class="home_banner_details">Custom-made clip-on veneers: An affordable, convenient &amp; non-surgical alternative to cosmetic dental treatments. All from the comfort of your own home.</p>
<p><a class="btn btn-primary btn-01" role="button" href="/smile-assessment-step-1">Get Started</a></p>
<p><a class="btn btn-primary btn-01 banner-btn-2" role="button" href="/pricing">View Pricing</a></p>
</div>
</section>

<section class="banner-sec-mobile" style="background-color: #f7e6ee;">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-1 col-sm-12 col-xs-12">
</div>
<div class="col-lg-6 col-md-10 col-sm-12 col-xs-12">
<div class="banner-content-mobile">
<h1>Discover Your Confidence</h1>
<p class="home_banner_details">Custom-made clip-on veneers: An affordable, convenient &amp; non-surgical alternative to cosmetic dental treatments. All from the comfort of your own home.</p>
<p><a class="btn btn-primary btn-01" role="button" href="/smile-assessment-step-1">Get Started</a></p>
<p><a class="btn btn-primary btn-01 banner-btn-2" role="button" href="/pricing">View Pricing</a></p>
</div>
</div>
<div class="col-lg-3 col-md-1 col-sm-12 col-xs-12">
</div>
</div>
</div>
<div class="banner-mobile-img"><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/mobilebanner.jpg?v=1635843675"></div>
</section>





{% schema %}
  {
    "name": "HomePage Banner",
    "settings": [],

"presets": [
{
"name": "HomePage Banner"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
