<section class="home-section-1 section_padding">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
<div class="icon-box-details text-center">
<img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/sec-1-icon-2.svg?v=1636376562" style="width: 120px; height: 120px;">
<h2>Affordable</h2>
<p>We have a range of payment options to suit your budget. Your dream smile is more affordable than you might think.</p>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
<div class="icon-box-details text-center">
<img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/sec-1-icon-1_1.svg?v=1636376860" style="width: 120px; height: 120px;">
<h2>Convenient</h2>
<p>Get started today by taking our online Smile Assessment, place your order and we will send your impression kit directly to your door.</p>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
<div class="icon-box-details text-center">
<img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/sec-1-icon-3_1.svg?v=1636376860" style="width: 120px; height: 120px;">
<h2>Scientifically Tested</h2>
<p>
We have over 25 years of experience in dental technology, and all our instasmile products have been scientifically tested for your safety and comfort.
</p>
</div>
</div>
</div>
</div>
</section>






{% schema %}
  {
    "name": "Column Section",
    "settings": [],

"presets": [
{
"name": "Column Section"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
