<section class="home-section-5">
<div class="container">
<div class="row">
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/smile_icon_1.svg?v=1636376860">
<p>Patented</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/smile_icon_6.svg?v=1636376860">
<p>Choice of shade	</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/smile_icon_3.svg?v=1636376860">
<p>Custom-made</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/smile_icon_4.svg?v=1636376860">
<p>Slimline</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/smile_icon_5.svg?v=1636376860">
<p>Eat &amp; drink</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/smile_icon_2.svg?v=1636376860">
<p>Award Winning</p>
</div>
</div>
</div>
</div>
</section>






{% schema %}
  {
    "name": "Icon Image Section",
    "settings": [],
"presets": [
{
"name": "Icon Image Section"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
