
<section class="ppc-instasmile-sec section_padding">
<div class="container">
<div class="row ppc-insta-row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 vertical-center ppc-insta-clmn-1">
<img src="https://cdn.instasmile.com/new-website/images/product-shade-block/classic-a1.png">
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
<h2>Instasmile Classic</h2>
<ul class="insta-clasic-list">
<li><img src="https://cdn.instasmile.com/new-website/images/PPC/ppc-insta-1-icon.svg"><span>Choice of shade BL1 / A1 / A2 / A3</span></li>
<li><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/smile_icon_4.svg?v=1636376860">Slimline 0.6mm-1.0mm profile</li>
<li><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/smile_icon_5.svg?v=1636376860">Eat and drink softer foods</li>
<li><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/smile_icon_1.svg?v=1636376860">12 month warranty included </li>
<li><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/smile_icon_3.svg?v=1636376860">Custom made to fit your mouth</li>
</ul>
<p class="ppc-insta-smile-btn"><a class="btn btn-primary btn-01 ppc-insta-btn" role="button" href="/smile-assessment-step-1">Get Started</a></p>
</div>
</div>
</div>
</section>











{% schema %}
  {
    "name": "Instasmile-classic Image",
    "settings": [],
"presets": [
{
"name": "Instasmile-classic image"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
