<section class="mb-sec-13 mb-p-element">
<div class="container">
<div class="row mb-row mb-row-13 mb-border-row"></div>

<div class="row mb-row mb-row-13-2 mb-step-13-block-row show-desktop">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-13-2">
<div class="mb-step-13-box mb-block img-width">
<img src="https://cdn.instasmile.com/new-website/images/product-dynamic/dynamic-ideal-for.jpg">
<p>Ideal for:</p>
<ul>
<li>Covering multiple larger gaps</li>
<li>Missing Teeth - up to six teeth per arch</li>
<li>Mildly crooked teeth</li>
<li>Short or ground down teeth</li> 
<li>Multiple missing teeth in a row (max of five per arch)</li>
<li>Any combination of above issues</li>
</ul>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-13-2">
<div class="mb-step-13-box mb-block img-width">
<img src="https://cdn.instasmile.com/new-website/images/product-dynamic/dynamic-not-ideal-for.jpg">
<p>Not ideal for:</p>
<ul>
<li>Missing Teeth - six or more teeth per arch</li>
<li>Moderate to severe crooked teeth</li>
</ul>
</div>
</div>
</div>


<div class="row mb-row mb-row-13-2 mb-step-13-block-row show-mobile">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-13-2 mb-slider-item">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<div class="mb-step-13-box mb-block img-width">
<img src="https://cdn.instasmile.com/new-website/images/product-dynamic/dynamic-ideal-for.jpg">
<p>Ideal for:</p>
<ul>
 <li>Covering multiple larger gaps</li>
<li>Missing Teeth - up to six teeth per arch</li>
<li>Mildly crooked teeth</li>
<li>Short or ground down teeth</li>
<li>Multiple missing teeth in a row (max of five per arch)</li>
<li>Any combination of above issues</li>
</ul>
</div>
</div>
<div class="item">
<div class="mb-step-13-box mb-block img-width">
<img src="https://cdn.instasmile.com/new-website/images/product-dynamic/dynamic-not-ideal-for.jpg">
<p>Not ideal for:</p>
<ul>
<li>Missing Teeth - six or more teeth per arch</li>
<li>Moderate to severe crooked teeth</li>
</ul>
</div>
</div>
</div>
</div>
</div>

</div>
</section>




{% schema %}
  {
    "name": "Instasmile-dynamic Block",
    "settings": [],
"presets": [
{
"name": "Instasmile-dynamic Block"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

