<section class="mb-sec-13 mb-p-element">
<div class="container">
<div class="row mb-row mb-row-13 mb-border-row"></div>

<div class="row mb-row mb-row-13-2 mb-step-13-block-row show-desktop">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-13-2">
<div class="mb-step-13-box mb-block img-width">
<img src="https://cdn.instasmile.com/new-website/images/product-classic/classic-ideal-for.jpg">
<p>Ideal for:</p>
<ul>
<li>All around cosmetic uplift</li>
<li>Covering minimal gaps</li>
<li>Covering chipped teeth</li>
<li>Up to 2 missing teeth in a row per arch</li>
<li>Mild to moderate crooked teeth</li>
</ul>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-13-2">
<div class="mb-step-13-box mb-block img-width">
<img src="https://cdn.instasmile.com/new-website/images/product-classic/classic-not-ideal-for.jpg">
<p>Not ideal for:</p>
<ul>
<li>Missing teeth - 4 or more teeth per arch</li>
<li>Missing teeth - more than 2 teeth in a row per arch</li>
<li>Short or ground down teeth</li>
<li>Multiple larger gaps in between teeth</li>
<li>Severely crooked teeth</li>
</ul>
</div>
</div>
</div>


<div class="row mb-row mb-row-13-2 mb-step-13-block-row show-mobile">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-13-2 mb-slider-item">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag owl-hidden">


<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-400px, 0px, 0px); transition: all 0s ease 0s; width: 2400px;"><div class="owl-item cloned" style="width: 400px;"><div class="item">
<div class="mb-step-13-box mb-block img-width">
<img src="https://cdn.instasmile.com/new-website/images/product-classic/classic-ideal-for.jpg">
<p>Ideal for:</p>
<ul>
<li>All around cosmetic uplift</li>
<li>Covering minimal gaps</li>
<li>Covering chipped teeth</li>
<li>Up to 2 missing teeth in a row per arch</li>
<li>Mild to moderate crooked teeth</li>
</ul>
</div>
</div></div><div class="owl-item cloned" style="width: 400px;"><div class="item">
<div class="mb-step-13-box mb-block img-width">
<img src="https://cdn.instasmile.com/new-website/images/product-classic/classic-not-ideal-for.jpg">
<p>Not ideal for:</p>
<ul>
<li>Missing teeth - 4 or more teeth per arch</li>
<li>Missing teeth - more than 2 teeth in a row per arch</li>
<li>Short or ground down teeth</li>
<li>Multiple larger gaps in between teeth</li>
<li>Severely crooked teeth</li>
</ul>
</div>
</div></div><div class="owl-item active" style="width: 400px;"><div class="item">
<div class="mb-step-13-box mb-block img-width">
<img src="https://cdn.instasmile.com/new-website/images/product-classic/classic-ideal-for.jpg">
<p>Ideal for:</p>
<ul>
<li>All around cosmetic uplift</li>
<li>Covering minimal gaps</li>
<li>Covering chipped teeth</li>
<li>Up to 2 missing teeth in a row per arch</li>
<li>Mild to moderate crooked teeth</li>
</ul>
</div>
</div></div><div class="owl-item" style="width: 400px;"><div class="item">
<div class="mb-step-13-box mb-block img-width">
<img src="https://cdn.instasmile.com/new-website/images/product-classic/classic-not-ideal-for.jpg">
<p>Not ideal for:</p>
<ul>
<li>Missing teeth - 4 or more teeth per arch</li>
<li>Missing teeth - more than 2 teeth in a row per arch</li>
<li>Short or ground down teeth</li>
<li>Multiple larger gaps in between teeth</li>
<li>Severely crooked teeth</li>
</ul>
</div>
</div></div><div class="owl-item cloned" style="width: 400px;"><div class="item">
<div class="mb-step-13-box mb-block img-width">
<img src="https://cdn.instasmile.com/new-website/images/product-classic/classic-ideal-for.jpg">
<p>Ideal for:</p>
<ul>
<li>All around cosmetic uplift</li>
<li>Covering minimal gaps</li>
<li>Covering chipped teeth</li>
<li>Up to 2 missing teeth in a row per arch</li>
<li>Mild to moderate crooked teeth</li>
</ul>
</div>
</div></div><div class="owl-item cloned" style="width: 400px;"><div class="item">
<div class="mb-step-13-box mb-block img-width">
<img src="https://cdn.instasmile.com/new-website/images/product-classic/classic-not-ideal-for.jpg">
<p>Not ideal for:</p>
<ul>
<li>Missing teeth - 4 or more teeth per arch</li>
<li>Missing teeth - more than 2 teeth in a row per arch</li>
<li>Short or ground down teeth</li>
<li>Multiple larger gaps in between teeth</li>
<li>Severely crooked teeth</li>
</ul>
</div>
</div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>

</div>
</section>




{% schema %}
  {
    "name": "Instasmile-classic Block",
    "settings": [],
"presets": [
{
"name": "Instasmile-classic Block"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
