

<section class="mb-sec-11 mb-p-element" style="padding-bottom: 35px;">
<div class="container">
<div class="row mb-row mb-row-11 mb-border-row"></div>
<div class="row mb-row mb-row-11-1">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-11 text-center">
<h2 class="mb-h2 show-desktop">Our New and Improved Dynamic Range</h2>
<h2 class="mb-h2 show-mobile">Our New and Improved <br> Dynamic Range</h2>
<p>
Hard-wearing, long-lasting and far more affordable than many cosmetic dental options, Instasmile Dynamic Veneers are ideal for covering missing teeth or multiple dental issues; Perfect for everyone who wants to wear a winning smile all day long.
</p>
</div>
</div>
</div>
</section>







{% schema %}
  {
    "name": "Instasmile-dynamic Text",
    "settings": [],
"presets": [
{
"name": "Instasmile-dynamic Text"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
