<section class="straighter-section-7 section_padding">

<div class="container">
<div class="row straighter-sec-7-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 straighter-sec-7-clmn-1">
<h2>Results</h2>
<p class="home-sub-head show-desktop">Every smile is unique, but seeing one of our customers wearing their instasmile can help you get a feel for how your new perfect smile will look.</p>
<p class="home-sub-head show-mobile">Every smile is unique, but seeing one of our customers wearing their instasmile can help you get a feel for how your new perfect smile will look.</p>
</div>
</div>
<div class="row straighter-sec-7-row-2">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 straighter-sec-7-clmn-2 straighter-sec-7-story">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">










<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-9892px, 0px, 0px); transition: all 0.25s ease 0s; width: 14133px;"><div class="owl-item cloned" style="width: 706.62px;"><div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_MJ_Smallman_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
MJ's natural teeth are small and he has lost a number of them after years of competing as a boxer.<b... <="" p="">
</b...></p><div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg"><span>MJ S • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item cloned" style="width: 706.62px;"><div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Daniel_Moore_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Daniel was always covering his mouth with his hand when talking to people so his chipped tooth... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_5.svg"><span>Daniel M • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item cloned" style="width: 706.62px;"><div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Stacie_Rigby_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Stacie was so embarrased of her natural teeth that she taught herself to speak without showing them.... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg"><span>Stacie R • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item cloned" style="width: 706.62px;"><div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Brandon_Harris_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Brandon's natural teeth aren't as white as he would like. Whitening treatments would be too... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg"><span>Brandon H • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item cloned" style="width: 706.62px;"><div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Bianca_Tomic_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Bianca didn't like the appearance of her 'crooked and missing' teeth, and has used instasmile to hid... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Bianca T • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item" style="width: 706.62px;"><div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Sarah_Kaye_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Sarah wanted a brighter smile to conceal the staining on her natural teeth.<br><br>"I feel so... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg"><span>Sarah K • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item" style="width: 706.62px;"><div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Anthony_Fox_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Anthony has great natural teeth, but he wanted a bit of a cosmetic uplift to take his smile from gre... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Anthony F • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item" style="width: 706.62px;"><div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chloe_Collins_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Chloe wanted a simple cosmetic uplift to make her smile a bit brighter. She opted for our whitest... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Chloe C • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item" style="width: 706.62px;"><div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Alisha_Harris_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Alisha wasn't happy with her natural teeth as they weren't the colour she wanted and her front teeth... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg"><span>Alisha H • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item" style="width: 706.62px;"><div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Ellesse_Holbrook_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Ellesse's 'fangs' were a big confidence issue for her, even though no one would think she has... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg"><span>Ellesse H • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item" style="width: 706.62px;"><div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_MJ_Smallman_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
MJ's natural teeth are small and he has lost a number of them after years of competing as a boxer.<b... <="" p="">
</b...></p><div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg"><span>MJ S • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item" style="width: 706.62px;"><div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Daniel_Moore_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Daniel was always covering his mouth with his hand when talking to people so his chipped tooth... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_5.svg"><span>Daniel M • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item" style="width: 706.62px;"><div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Stacie_Rigby_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Stacie was so embarrased of her natural teeth that she taught herself to speak without showing them.... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg"><span>Stacie R • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item" style="width: 706.62px;"><div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Brandon_Harris_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Brandon's natural teeth aren't as white as he would like. Whitening treatments would be too... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg"><span>Brandon H • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item active" style="width: 706.62px;"><div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Bianca_Tomic_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Bianca didn't like the appearance of her 'crooked and missing' teeth, and has used instasmile to hid... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Bianca T • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item cloned active" style="width: 706.62px;"><div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Sarah_Kaye_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Sarah wanted a brighter smile to conceal the staining on her natural teeth.<br><br>"I feel so... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg"><span>Sarah K • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item cloned" style="width: 706.62px;"><div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Anthony_Fox_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Anthony has great natural teeth, but he wanted a bit of a cosmetic uplift to take his smile from gre... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Anthony F • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item cloned" style="width: 706.62px;"><div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chloe_Collins_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Chloe wanted a simple cosmetic uplift to make her smile a bit brighter. She opted for our whitest... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Chloe C • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item cloned" style="width: 706.62px;"><div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Alisha_Harris_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Alisha wasn't happy with her natural teeth as they weren't the colour she wanted and her front teeth... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg"><span>Alisha H • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div></div><div class="owl-item cloned" style="width: 706.62px;"><div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Ellesse_Holbrook_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Ellesse's 'fangs' were a big confidence issue for her, even though no one would think she has... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg"><span>Ellesse H • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div></div>
</div>
</div>
<div class="row straighter-smile-btn">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p><a class="btn btn-primary btn-02" role="button" href="/results">More results</a></p>
</div>
</div>
</div>

</section>









{% schema %}
  {
    "name": "Instasmile-classic Review",
    "settings": [],
"presets": [
{
"name": "Instasmile-classic Review"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

