<section class="straighter-section-7 section_padding">

<div class="container">
<div class="row straighter-sec-7-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 straighter-sec-7-clmn-1">
<h2>Results</h2>
<p class="home-sub-head show-desktop">Every smile is unique, but seeing one of our customers wearing their instasmile can help you get a feel for how your new perfect smile will look.</p>
<p class="home-sub-head show-mobile">Every smile is unique, but seeing one of our customers wearing their instasmile can help you get a feel for how your new perfect smile will look.</p>
</div>
</div>
<div class="row straighter-sec-7-row-2">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 straighter-sec-7-clmn-2 straighter-sec-7-story">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Bianca_Tomic_After.jpg"></div>
<div class="straighter-story-content">
 <p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Bianca didn't like the appearance of her 'crooked and missing' teeth, and has used instasmile to... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Bianca T • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Carol_Connelly_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Carol's teeth have stained over time, and she wanted to feel more comfortable smiling freely.<br /><... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Carol C • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Alicia_Davis_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Alicia had always been unhappy with her natural smile due to the gaps on show.<br /><br />"This has... </p>
 <div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg"><span>Alicia D • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Taylor_Crisp_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Taylor has a composite veneer over her front tooth which has discoloured and has also had a tooth re... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
 <img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg"><span>Taylor C • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Craig_Cummings_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Craig wanted to upgrade his natural smile to a dazzling Hollywood style grin.<br /><br />"I wear... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg"><span>Craig C • Classic&nbsp;BL1</span>
</p>
 </div>
</div>
</div>
</div>
<div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chloe_Collins_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Chloe wanted a simple cosmetic uplift to make her smile a bit brighter. She opted for our whitest sh... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Chloe C • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Claire_Bown_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Claire wasn't happy with her stained teeth or the gaps on show, and so made the decision to choose... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg"><span>Claire B • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chloe_Jones_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Chloe wanted to improve the appearance of her overall smile.<br /><br />"My teeth are a bit crooked... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg"><span>Chloe J • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Amy_Morris_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Amy was self conscious about the gap in her teeth and wanted to find a solution that didn't cost... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg"><span>Amy M • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Daniel_Taffs_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Daniel's been enjoying his new smile for three years and it's made a huge difference to his life.<br... < p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Daniel T • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row straighter-smile-btn">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p><a class="btn btn-primary btn-02" role="button" href="/results">More results</a></p>
</div>
</div>
</div>

</section>

<section class="straighter-section-3">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p class="smile-story-line"><img src="https://cdn.instasmile.com/new-website/images/Smile_Row_Icon.svg"></p>
</div>
</div>
</div>
</section>







{% schema %}
  {
    "name": "Instasmile-classic Review",
    "settings": [],
"presets": [
{
"name": "Instasmile-classic Review"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

