<section class="ppc-banner-sec">
<div class="container">
<div class="row">
<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 vertical-center ppc-banner-clmn-1">
<div class="ppc-banner-content">
<h1>Instasmile Classic Veneers</h1>
<p class="ppc-banner-details">
Our Instasmile Classic Veneers are our original clip-on veneers. Designed to be super slim and lightweight, they give you a beaming smile that conceals any mild or moderate cosmetic issues. 12 month warranty included.
</p>
<p><a class="btn btn-primary btn-01 ppc-btn" role="button" href="/smile-assessment-step-1">Get Started</a></p>
</div>
</div>
<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 ppc-banner-clmn-2">
<img src="https://cdn.instasmile.com/new-website/images/product-shade-block/classic-banner.png">
</div>
</div>
</div>
</section>


{% schema %}
  {
    "name": "Instasmile-classic Banner",
    "settings": [],
"presets": [
{
"name": "Instasmile-classic Banner"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
