<section class="mb-sec-11 mb-p-element">
<div class="container">
<div class="row mb-row mb-row-11 mb-border-row"></div>
<div class="row mb-row mb-row-11-1">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-11 text-center">
<h2 class="mb-h2">Our Original Clip-On Veneers</h2>
<p>
Classic veneers can cover the smaller gaps caused by up to four missing teeth, and create a straighter looking smile that covers slightly crooked teeth.
</p>
<br>
<p>
Affordable and lightweight - with a slimline profile from 0.6mm, instasmile Classic clip-on veneers are perfect for special occasions or everyday wear. They’re the perfect solution for those times you want to clip on a confident smile.
</p>
</div>
</div>
</div>
</section>



{% schema %}
  {
    "name": "Instasmile-classic Text",
    "settings": [],
"presets": [
{
"name": "Instasmile-classic Text"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
