<section class="ppc-banner-sec">
<div class="container">
<div class="row">
<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 vertical-center ppc-banner-clmn-1">
<div class="ppc-banner-content">
<h1>Instasmile Dynamic Veneers</h1>
<p class="ppc-banner-details">
Our Instasmile Dynamic Veneers are a more durable dental framework. Designed with more structure and an optimum fit for people with multiple defects; concealing moderate to severe issues. 12 month warranty included.
</p>
<p><a class="btn btn-primary btn-01 ppc-btn" role="button" href="/smile-assessment-step-1">Get Started</a></p>
</div>
</div>
<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 ppc-banner-clmn-2">
<img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-banner.png">
</div>
</div>
</div>
</section>







{% schema %}
  {
    "name": "Instasmile-dynamic Banner",
    "settings": [],
"presets": [
{
"name": "Instasmile-dynamic Banner"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

