<section class="mb-sec-13 mb-p-element">
<div class="container">
<div class="row mb-row mb-row-13 mb-border-row"></div>

<div class="row mb-row mb-row-13-2 mb-step-13-block-row show-desktop">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-13-2">
<div class="mb-step-13-box mb-block img-width">
<img src="https://cdn.instasmile.com/new-website/images/product-classic/classic-ideal-for.jpg">
<p>Ideal for:</p>
<ul>
<li>All around cosmetic uplift</li>
<li>Covering minimal gaps</li>
<li>Covering chipped teeth</li>
<li>Up to 2 missing teeth in a row per arch</li>
<li>Mild to moderate crooked teeth</li>
</ul>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-13-2">
<div class="mb-step-13-box mb-block img-width">
<img src="https://cdn.instasmile.com/new-website/images/product-classic/classic-not-ideal-for.jpg">
<p>Not ideal for:</p>
<ul>
<li>Missing teeth - 4 or more teeth per arch</li>
<li>Missing teeth - more than 2 teeth in a row per arch</li>
<li>Short or ground down teeth</li>
<li>Multiple larger gaps in between teeth</li>
<li>Severely crooked teeth</li>
</ul>
</div>
</div>
</div>


<div class="row mb-row mb-row-13-2 mb-step-13-block-row show-mobile">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-13-2 mb-slider-item">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<div class="mb-step-13-box mb-block img-width">
 <img src="https://cdn.instasmile.com/new-website/images/product-classic/classic-ideal-for.jpg">
<p>Ideal for:</p>
<ul>
<li>All around cosmetic uplift</li>
<li>Covering minimal gaps</li>
<li>Covering chipped teeth</li>
<li>Up to 2 missing teeth in a row per arch</li>
<li>Mild to moderate crooked teeth</li>
</ul>
</div>
</div>
<div class="item">
<div class="mb-step-13-box mb-block img-width">
<img src="https://cdn.instasmile.com/new-website/images/product-classic/classic-not-ideal-for.jpg">
<p>Not ideal for:</p>
<ul>
<li>Missing teeth - 4 or more teeth per arch</li>
<li>Missing teeth - more than 2 teeth in a row per arch</li>
<li>Short or ground down teeth</li>
<li>Multiple larger gaps in between teeth</li>
<li>Severely crooked teeth</li>
</ul>
</div>
</div>
</div>
</div>
</div>

</div>
</section>




{% schema %}
  {
    "name": "Instasmile-classic Block",
    "settings": [],
"presets": [
{
"name": "Instasmile-classic Block"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


