<section class="home-section-6 section_padding">
<div class="container">
<div class="row pricing-title-row">
<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
</div>
<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
<div class="text-center">
<h2>What Does Confidence Cost?</h2>
<p class="home-sub-head">Your brand new Instasmile veneers are more affordable than you might think, and with a range of payment options available, you can spread the cost.</p>
<p class="home-sub-head"><b>All products now include a 12 month warranty in the price.</b></p>
</div>
</div>
<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
</div>
</div>
<div class="row pricing-details">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pricing-details-left">
<div class="pricing-details text-center">
<h3>Top <i>or</i> Bottom Veneers</h3>
<p class="price-sec-price">
<sup>From</sup>
$400
</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pricing-details-right">
<div class="pricing-details text-center">
<h3>Top <i>and</i> Bottom Veneers</h3>
<p class="price-sec-price">
<sup>From</sup>
$600
</p>
</div>
</div>
</div>
<div class="row pricing-details" style="display:">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="pricing-details text-center">
<p>Monthly From $17.08</p>
</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 40px;">
<div class="pricing-details text-center">
<p style="font-size: smaller;">
<b>Representative example:</b><br class="show-mobile"> instasmile Classic Top or Bottom veneers.<br><br class="show-mobile">Pay <b>$195</b> deposit and spread the balance of <b>$205</b> over <b>12 months</b> (monthly payments of <b>$17.08</b>) with 0% interest.<br>Equivalent of $0.56 per day
</p>
</div>
</div>
</div>
<div class="top_header_rate text-center" style="padding-top: 20px;">
<text>Use code <b>TAKE20</b> to get a <b>20% discount</b> when you pay in full today!</text>
</div>
</div>
</section>





{% schema %}
  {
    "name": "Montly Price Section",
    "settings": [],
"presets": [
{
"name": "Montly Price Section"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
