

<section class="home-section-7 section_padding">
<div class="container">
<div class="row smile-step-title text-center">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h2>Three simple steps to your perfect instasmile</h2>
</div>
</div>

<div class="row smile-step-row smile-step-row-desk">
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 smile-step-clmn-1">
<div class="smile-step-text-over smile-step-text-over-1">
</div>
<p class="smile-step-details">
<b>Order Online</b><br>
Complete your online <a href="/smile-assessment-step-1">Smile Assessment</a> and find the instasmile that’s right for you. Order your instasmile securely through our online store.
</p>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 smile-step-clmn-2">
<div class="smile-step-text-over smile-step-text-over-2">
</div>
<p class="smile-step-details">
<b>Make an Impression</b><br>
You’ll get your Impression Kit in the post. Read through all the instructions so you get the perfect impression, and send us a photo so we can check it’s all OK.
</p>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 smile-step-clmn-3">
<div class="smile-step-text-over smile-step-text-over-3">
</div>
<p class="smile-step-details">
<b>Receive Your New Smile</b><br>
After we’ve checked and approved your photo, send us your completed impression. We’ll then get to work on creating your brand new smile.
</p>
</div>
</div>
  
  
  
<!--mobile-->

<div class="row smile-step-row smile-step-row-mobile">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 smile-step-clmn-1">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<div class="smile-step-text-over smile-step-text-over-1">
</div>
<p class="smile-step-details">
 <b>Order Online</b><br />
Complete your online <a href="/smile-assessment-step-1">Smile Assessment</a> and find the instasmile that’s right for you. Order your instasmile securely through our online store.
</p>
</div>
<div class="item">
<div class="smile-step-text-over smile-step-text-over-2">
</div>
<p class="smile-step-details">
<b>Make an Impression</b><br />
You’ll get your Impression Kit in the post. Read through all the instructions so you get the perfect impression, and send us a photo so we can check it’s all OK.
</p>
</div>
<div class="item">
<div class="smile-step-text-over smile-step-text-over-3">
</div>
<p class="smile-step-details">
<b>Receive Your New Smile</b><br />
After we’ve checked and approved your photo, send us your completed impression. We’ll then get to work on creating your brand new smile.
</p>
</div>
</div>
</div>
</div>

<div class="row smile-step-btn">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p><a class="btn btn-primary btn-01" role="button" href="/pages/smile-assessment-1">Get Started</a></p>
</div>
</div>
</div>
</section>







{% schema %}
  {
    "name": "Perfect-instasmile",
    "settings": [],
"presets": [
{
"name": "Perfect-instasmile"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}



    <script type="text/javascript">
    /* Start Story Image Slider Js */
    $(document).ready(function () {
        $(".smile-step-row-mobile #owl-demo").owlCarousel({
            navigation: false, // Show next and prev buttons
            center: true,
            slideSpeed: 300,
            loop: true,
            nav: false,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            items: 1
        });
    });
    /* End Story Image Slider Js */


</script>