<section class="home-section-3">
<div class="container">
<div class="row">
<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
<div class="sec-3-details text-center">
<h2>Results</h2>
<p class="home-sub-head">Every smile is unique, but seeing one of our customers wearing their instasmile can help you get a feel for how your new perfect smile will look.</p>
</div>
</div>
<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
</div>
</div>

<div class="row story-box-row-1 story-box-row-desk">
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Christian_Diesel_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="person_name"> &ensp;Christian D<text>.</text></div>
</div>
<p>Solution: Crooked</p>
<p>Classic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#ChristianD" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Jayd_Ford_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="person_name"> &ensp;Jayd F<text>.</text></div>
</div>
<p>Solution: Crooked</p>
<p>Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#JaydF" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Liz_Gibbons_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg">
</div>
<div class="person_name"> &ensp;Liz G<text>.</text></div>
</div>
<p>Solution: Missing</p>
<p>Dynamic&ensp;BL1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#LizG" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chanelle_Lowry_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg">
</div>
<div class="person_name"> &ensp;Chanelle L<text>.</text></div>
</div>
<p>Solution: Missing</p>
<p>Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#ChanelleL" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Ahmed_Mohammed_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="person_name"> &ensp;Ahmed M<text>.</text></div>
</div>
<p>Solution: Crooked</p>
<p>Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#AhmedM" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Bianca_Tomic_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="person_name"> &ensp;Bianca T<text>.</text></div>
</div>
<p>Solution: Missing</p>
<p>Classic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#BiancaT" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Catherine_Todd_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="person_name"> &ensp;Catherine T<text>.</text></div>
</div>
<p>Solution: Combination Of Issues</p>
<p>Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#CatherineT" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Elena_Genevinne_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg">
</div>
<div class="person_name"> &ensp;Elena G<text>.</text></div>
</div>
<p>Solution: Crooked</p>
<p>Classic&ensp;BL1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#ElenaG" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Anissa_Trujillo_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="person_name"> &ensp;Anissa T<text>.</text></div>
</div>
<p>Solution: Missing</p>
<p>Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#AnissaT" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Emma_Kalsi_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg">
</div>
<div class="person_name"> &ensp;Emma K<text>.</text></div>
</div>
<p>Solution: Missing</p>
<p>Classic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#EmmaK" role="button">More Details</a>
</p>
</div>
</div>
</div>


<div class="row story-box-row-1 story-box-row-mob">
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Christian_Diesel_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg" class="story-person">&ensp;Christian D</p>
<p class="story_hide">Solution: Crooked</p>
<p class="story_hide">Classic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#ChristianD" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Jayd_Ford_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg" class="story-person">&ensp;Jayd F</p>
<p class="story_hide">Solution: Crooked</p>
<p class="story_hide">Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#JaydF" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Liz_Gibbons_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg" class="story-person">&ensp;Liz G</p>
<p class="story_hide">Solution: Missing</p>
<p class="story_hide">Dynamic&ensp;BL1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#LizG" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chanelle_Lowry_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg" class="story-person">&ensp;Chanelle L</p>
<p class="story_hide">Solution: Missing</p>
<p class="story_hide">Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#ChanelleL" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Ahmed_Mohammed_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg" class="story-person">&ensp;Ahmed M</p>
<p class="story_hide">Solution: Crooked</p>
<p class="story_hide">Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#AhmedM" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Bianca_Tomic_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg" class="story-person">&ensp;Bianca T</p>
<p class="story_hide">Solution: Missing</p>
<p class="story_hide">Classic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#BiancaT" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Catherine_Todd_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg" class="story-person">&ensp;Catherine T</p>
<p class="story_hide">Solution: Combination Of Issues</p>
<p class="story_hide">Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#CatherineT" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Elena_Genevinne_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg" class="story-person">&ensp;Elena G</p>
<p class="story_hide">Solution: Crooked</p>
<p class="story_hide">Classic&ensp;BL1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#ElenaG" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Anissa_Trujillo_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg" class="story-person">&ensp;Anissa T</p>
<p class="story_hide">Solution: Missing</p>
<p class="story_hide">Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#AnissaT" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Emma_Kalsi_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg" class="story-person">&ensp;Emma K</p>
<p class="story_hide">Solution: Missing</p>
<p class="story_hide">Classic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#EmmaK" role="button">More Details</a>
</p>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="ChristianD" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Christian_Diesel_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Christian_Diesel_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="ss-person-name">
Christian D<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">× </button>
<div class="ss-lightbox-review">
<p>Christian's natural teeth have discoloured over time, and he was looking for an affordable solution.<br><br>"I wanted my teeth to still look my teeth, but whiter. I love the end result!"</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Crooked
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Classic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="ss-person-name">
Christian D<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Christian_Diesel_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Christian_Diesel_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Christian's natural teeth have discoloured over time, and he was looking for an affordable solution.<br><br>"I wanted my teeth to still look my teeth, but whiter. I love the end result!"</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Crooked
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Classic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="JaydF" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
 <div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Jayd_Ford_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Jayd_Ford_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="ss-person-name">
Jayd F<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">× </button>
<div class="ss-lightbox-review">
<p>Jayd wears her clip-on veneer to cover her own teeth "uneven and crooked teeth". She feels really confident with them in and her teeth now look like they are the same shape and length as well as looking whiter.</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<br>
<div class="smile-lightbox-btn">
<a class="btn btn-primary" href="https://youtu.be/_m3hOScfGjI" role="button" target="_blank">
Watch my review on
<img class="ss-youtube-btn" src="https://cdn.instasmile.com/new-website/images/button-more-info.png">
</a>
</div>
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Crooked
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="ss-person-name">
Jayd F<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Jayd_Ford_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Jayd_Ford_Before.jpg">
 </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Jayd wears her clip-on veneer to cover her own teeth "uneven and crooked teeth". She feels really confident with them in and her teeth now look like they are the same shape and length as well as looking whiter.</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="smile-lightbox-btn">
<a class="btn btn-primary" href=" https://youtu.be/_m3hOScfGjI" role="button" target="_blank">
Watch my review on
<img class="ss-youtube-btn" src="https://cdn.instasmile.com/new-website/images/button-more-info.png">
 </a>
</div>
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Crooked
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
 
</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="LizG" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Liz_Gibbons_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Liz_Gibbons_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg">
</div>
<div class="ss-person-name">
Liz G<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">× </button>
<div class="ss-lightbox-review">
<p>Liz was in a car crash when she 19 and lost more than 6 teeth. She couldn't afford cosmetic veneers so chose instasmile.</p><br><p>"I can eat with them and nearly every new person I meet, they have no idea I'm wearing instasmile. They look so real and they feel real and they really have changed my confidence immensely"</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<br>
<div class="smile-lightbox-btn">
<a class="btn btn-primary" href="https://www.youtube.com/watch?v=il4PB0sx1Dw" role="button" target="_blank">
Watch my review on
<img class="ss-youtube-btn" src="https://cdn.instasmile.com/new-website/images/button-more-info.png">
</a>
</div>
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Missing
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Dynamic BL1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg">
</div>
<div class="ss-person-name">
Liz G<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Liz_Gibbons_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Liz_Gibbons_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Liz was in a car crash when she 19 and lost more than 6 teeth. She couldn't afford cosmetic veneers so chose instasmile.</p><br><p>"I can eat with them and nearly every new person I meet, they have no idea I'm wearing instasmile. They look so real and they feel real and they really have changed my confidence immensely"</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="smile-lightbox-btn">
<a class="btn btn-primary" href=" https://www.youtube.com/watch?v=il4PB0sx1Dw" role="button" target="_blank">
Watch my review on
<img class="ss-youtube-btn" src="https://cdn.instasmile.com/new-website/images/button-more-info.png">
</a>
</div>
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Missing
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Dynamic BL1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="ChanelleL" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chanelle_Lowry_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chanelle_Lowry_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg">
</div>
<div class="ss-person-name">
Chanelle L<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">× </button>
<div class="ss-lightbox-review">
<p>Chanelle is missing a front tooth, which would be expensive to replace. instasmile was an affordable option to give the appearance of a full smile.<br><br>"It's like having my tooth back. I can eat, drink and laugh with no problems which is a big impovement."</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Missing
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
 <div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg">
</div>
<div class="ss-person-name">
Chanelle L<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chanelle_Lowry_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chanelle_Lowry_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Chanelle is missing a front tooth, which would be expensive to replace. instasmile was an affordable option to give the appearance of a full smile.<br><br>"It's like having my tooth back. I can eat, drink and laugh with no problems which is a big impovement."</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Missing
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="AhmedM" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Ahmed_Mohammed_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Ahmed_Mohammed_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="ss-person-name">
Ahmed M<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">× </button>
<div class="ss-lightbox-review">
<p>Overcrowding had caused Ahmed's teeth to overlap at the front which he was very aware of when he smiled.<br><br>"I'm amazed by the results, exactly what I wanted."</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
 Solution: Crooked
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="ss-person-name">
Ahmed M<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Ahmed_Mohammed_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Ahmed_Mohammed_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Overcrowding had caused Ahmed's teeth to overlap at the front which he was very aware of when he smiled.<br><br>"I'm amazed by the results, exactly what I wanted."</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Crooked
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="BiancaT" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Bianca_Tomic_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Bianca_Tomic_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
 <div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="ss-person-name">
Bianca T<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">× </button>
<div class="ss-lightbox-review">
<p>Bianca didn't like the appearance of her 'crooked and missing' teeth, and has used instasmile to hide any gaps and boost her confidence.</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
 <div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Missing
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Classic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="ss-person-name">
Bianca T<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Bianca_Tomic_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Bianca_Tomic_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Bianca didn't like the appearance of her 'crooked and missing' teeth, and has used instasmile to hide any gaps and boost her confidence.</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Missing
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Classic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="CatherineT" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
 <div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Catherine_Todd_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Catherine_Todd_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="ss-person-name">
Catherine T<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">× </button>
<div class="ss-lightbox-review">
<p>Catherine had crooked teeth that had started to discolour. She wanted clip-on veneers to give an all round more even and whiter look.<br><br>"I can't believe the difference that my instasmile has made. They look so natural, I forget they're not real myself!"</p>
</div>
</div>
<div class="row modal-inner-row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Combination Of Issues
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="ss-person-name">
Catherine T<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Catherine_Todd_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Catherine_Todd_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Catherine had crooked teeth that had started to discolour. She wanted clip-on veneers to give an all round more even and whiter look.<br><br>"I can't believe the difference that my instasmile has made. They look so natural, I forget they're not real myself!"</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Combination Of Issues
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="ElenaG" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Elena_Genevinne_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Elena_Genevinne_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg">
</div>
<div class="ss-person-name">
Elena G<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">× </button>
<div class="ss-lightbox-review">
<p>Elena didn't want to commit to the cost of cosmetic veneers so chose Instasmile Classic Veneers to achieve a natural looking smile. <br><br>"Everyone thinks that I have real veneers. They look beautiful and I'm in love"</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<br>
<div class="smile-lightbox-btn">
<a class="btn btn-primary" href="https://youtu.be/usBJNYddagE" role="button" target="_blank">
Watch my review on
<img class="ss-youtube-btn" src="https://cdn.instasmile.com/new-website/images/button-more-info.png">
</a>
</div>
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Crooked
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Classic BL1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg">
</div>
<div class="ss-person-name">
Elena G<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Elena_Genevinne_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Elena_Genevinne_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Elena didn't want to commit to the cost of cosmetic veneers so chose Instasmile Classic Veneers to achieve a natural looking smile. <br><br>"Everyone thinks that I have real veneers. They look beautiful and I'm in love"</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="smile-lightbox-btn">
<a class="btn btn-primary" href=" https://youtu.be/usBJNYddagE" role="button" target="_blank">
Watch my review on
<img class="ss-youtube-btn" src="https://cdn.instasmile.com/new-website/images/button-more-info.png">
</a>
</div>
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Crooked
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Classic BL1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="AnissaT" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">
 
<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Anissa_Trujillo_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Anissa_Trujillo_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="ss-person-name">
Anissa T<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">× </button>
<div class="ss-lightbox-review">
<p>Missing and discoloured teeth had knocked Anissa's self esteem, but she says that instasmile have given her her smile back.</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Missing
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="ss-person-name">
Anissa T<text>.</text>
</div>
 </div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Anissa_Trujillo_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Anissa_Trujillo_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Missing and discoloured teeth had knocked Anissa's self esteem, but she says that instasmile have given her her smile back.</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Missing
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="EmmaK" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Emma_Kalsi_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Emma_Kalsi_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg">
</div>
<div class="ss-person-name">
Emma K<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">× </button>
<div class="ss-lightbox-review">
<p>Emma is a naturally smiley person, but missing teeth made her self conscious.<br><br>"I just wanted to be able to smile without thinking about it, and now I can!"</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Missing
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Classic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg">
</div>
<div class="ss-person-name">
Emma K<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Emma_Kalsi_After.jpg">
</div></div><div class="owl-item"><div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Emma_Kalsi_Before.jpg">
</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Emma is a naturally smiley person, but missing teeth made her self conscious.<br><br>"I just wanted to be able to smile without thinking about it, and now I can!"</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg">
Solution: Missing
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg">
instasmile Classic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>
<script type="text/javascript">
    /* YOutube Icon Change on Hover*/
    var sourceSwap = function () {
        var $this = $(this);
        var newSource = $this.data('alt-src');
        $this.data('alt-src', $this.attr('src'));
        $this.attr('src', newSource);
    }
    $(function () {
        $('img.ss-youtube-btn').hover(sourceSwap, sourceSwap);
    });
    /* YOutube Icon Change on Hover*/

    /* Start Story Image Slider Js */
    $(document).ready(function () {
        $(".ss-person-images #owl-demo").owlCarousel({
            navigation: true, // Show next and prev buttons
            center: true,
            slideSpeed: 300,
            loop: false,
            nav: true,
            autoplay: false,
            autoplayTimeout: 5000,
            navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
            autoplayHoverPause: true,
            items: 1
        });
    });
    /* End Story Image Slider Js */

    /* Start Preloader GIF File */
    var image = new Image();
    image.src = 'https://cdn.instasmile.com/new-website/images/heart_png.gif';
        /* End Preloader GIF File */
</script>


<div class="row story-more-btn">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p class=""><a class="btn btn-primary btn-02" role="button" href="/pages/result">More Results</a></p>
</div>
</div>
</div>
</section>

<section class="home-section-4">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p class="smile-story-line"><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/Smile_Row_Icon_859d0817-b6e4-4d14-9e6b-9ac2be3a76ba.png?v=1635485029"></p>
</div>
</div>
</div>
</section>






{% schema %}
  {
    "name": "Result Section",
    "settings": [],
"presets": [
{
"name": "Result Section"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<style>
.story-box:hover .team_icon{
  background-image: url('{{ 'heart_01.gif' | asset_url }}');
}
    
  
</style>
