
<section class="home-section-9 section_padding">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="sec-9-details text-center">
<h2>Over 200,000 happy customers have already found their perfect smile</h2>
<p class="home-sub-head"><span>Rated GREAT on Trustpilot</span><img src="https://cdn.instasmile.com/new-website/images/sec-3-rating.svg"><span>Based on <a href="https://uk.trustpilot.com/review/instasmile.com" style="color: black; text-decoration: underline">3,693 reviews</a></span></p>
</div>
</div>
</div>
</div>
<div class="row client-testimonial">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 testimonial-col">
<div id="owl-demo" class="owl-carousel owl-reviews owl-theme owl-height">
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6187e47b75069a4da49bdc7d" target="_blank">Mauricio Alejandro Villalobos</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">And now, for your reading pleasure, a pre-view that trusts instasmile will deliver nothing less than their serendipitous has, and if I may indulge,...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/61842a10234f1b1fe56e7653" target="_blank">Martyn</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Excellent service throughout the process. I had initially gone for an upper set of veneers as I was unsure if it was a good move but once my...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618425d175069a4da499787b" target="_blank">Julie Mccarthy</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Excellent company very helpful phone back when ask answers emails looking forward to receiving my veneers high recommend</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182de7975069a4da4986589" target="_blank">Talus2</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Stellar Performance !</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182d34d75069a4da49857ee" target="_blank">victor cancel</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">My smiles looks beautiful. I feel like a brand new person &#x2665;&#xFE0F;</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182734675069a4da497dd2b" target="_blank">Ann Stickney</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Quick turnaround time after they approve impressions. Super customer service team. Fit was perfect and they look great and natural.</p>
 <p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182637275069a4da497c98e" target="_blank">Luna Sheehan</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I highly recommend, before getting these I had no confidence and hadn&#x27;t smiled in many years since getting these instasmile veneers I have been...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618146ef75069a4da496f5cf" target="_blank">Phil Carl Griffin</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">The process is slightly lengthy, but the results are amazing! I&#x27;ve ordered twice with Instasmile, and will continue with them in the future.</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
 <p class="client-name"><a href="https://uk.trustpilot.com/reviews/617c020c75069a4da4938bf7" target="_blank">Hillary Bartlett</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Friendly, amazing service. Very happy with the whole experience.</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/617999e9234f1b1fe5669f61" target="_blank">Thonya Biage</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Instasmile gave me a reason to smile again!! A really big beautiful smile!</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6178821c234f1b1fe565c996" target="_blank">MRS P CHARMAN</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Instasmile were brilliant, friendly helpful staff that helped me all the way through, and a great end product.&#xA;The only thing I was disappointed about...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6172bdaf234f1b1fe561beb8" target="_blank">Teresa Scott</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I absolutely love my venneers, I was cynical at first but how quick they came and the process was so easy. I ordered another top set straight away and...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6171f3bd234f1b1fe56138d6" target="_blank">Karen Padgett</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I love my teeth! The team that worked with me online and over the phone were awesome. I&#x27;m so happy with the end result. These are meant to be...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6171863575069a4da48bf465" target="_blank">JUNIOR ALLEN</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">The best!!!!!!</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/61715337234f1b1fe560900e" target="_blank">Morgan Davidson</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Absolutely loving my new look. I ordered back in August and yes it took me a while to get the impressions right (twice for my upper teeth and four for...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/616e0edc75069a4da4892050" target="_blank">customer</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">perfect fit, an gives me confidence,&#xA;i am great full for your service thank you.</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/616df02e75069a4da4891551" target="_blank">customer</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I have two chopped teeth at the front and wanted them sorted for my wedding in September and my dentist quoted &#xA3;4K and three months worth of...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/616dcd50234f1b1fe55dd517" target="_blank">Johann Asgeirsson</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Love the service and product. I had some fit issues but the team at instasmile worked with me until it was right. Overall excellent experience. I...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/616dba6575069a4da488e796" target="_blank">James cunningham</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">First class product, exceeded my expectations, cant stop smiling, cant wait for the day when face masks are no longer required so I can share my smile...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/616ae509234f1b1fe55be9a7" target="_blank">Charles G.</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Excellent product! I looked like a jack-o-lantern every time I smiled, with missing teeth and receding gums. Now, I can smile with confidence again!...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
</div>
</div>
</div>
</section>



{% schema %}
  {
    "name": "Review Section",
    "settings": [],
"presets": [
{
"name": "Review Section"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<!--   <script type="text/javascript">
    $(document).ready(function () {
        $(".client-testimonial #owl-demo").owlCarousel({
            navigation: false, // Show next and prev buttons
            center: false,
            slideSpeed: 300,
            loop: true,
            nav: false,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            items: 4,
                 responsive: {
    0: {
      items: 1
    },

    600: {
      items: 1
    },

    992: {
      items: 3
    },

    1366: {
      items: 4
    }
  }
        });
    });


</script> -->
