<section class="home-section-2" style="background-image:url('{{ 'home-sec-3-bg_1.jpg' | asset_url }}');">
<div class="container">
<div class="row">
<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
</div>
<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
<div class="sec-2-details text-center">
<h2>Over 200,000 happy customers have already found their perfect smile</h2>
<p><span>Rated GREAT on Trustpilot</span><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/sec-3-rating.png"><span>Based on <a href="https://uk.trustpilot.com/review/instasmile.com" style="color: black; text-decoration: underline">3,685 reviews</a></span></p>
</div>
</div>
<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
</div>
</div>
</div>
</section>





{% schema %}
  {
    "name": "Sale Banner Section",
    "settings": [],
"presets": [
{
"name": "Sale Banner Section"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
