<section class="home-section-11">
<div class="container">
<div class="row mb-row mb-row-3-1 mb-step-3-title mb-title-row" style="padding-top: 30px;"></div>
<div class="row our-expert-row text-center">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 our-expert-clmn">
<h2>Scientifically Tested</h2>
<p>Our clip-on veneers have been scientifically tested and designed for your safety and comfort. We have invested millions in R&amp;D, developing patented technology allowing us to create an optimum and secure fit with natural aesthetics.</p>
<div class="row our-expert-row-inner">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<p class="team-mem-img"><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/icon-3d-scanned.png?v=1635512319"></p>
<p class="team-mem-name">3D Scanned</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<p class="team-mem-img"><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/icon-digitally-designed.png?v=1635512362"></p>
<p class="team-mem-name">Digitally Designed</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<p class="team-mem-img"><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/icon-precision-engineered.png?v=1635512395"></p>
<p class="team-mem-name">Precision Engineered</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 our-award-clmn">
<h2>Awards &amp; Partners</h2>
<p>Raising the standards of non-surgical veneers.</p>
<div class="row award-row-inner justify-content-center">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
<p class="award-img"><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/trustpilot-logo-4stars.png?v=1635512431" alt="Trustpilot"></p>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
<p class="award-img"><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/bbb-a-rating.png?v=1635512454" alt="BBB"></p>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
<p class="award-img"><img src="https://cdn.shopify.com/s/files/1/0608/5879/4210/files/FDA-Approved-Materials.jpg?v=1635512475" alt="FDA"></p>
</div>
</div>
<p class="see-more-award-link"><a href="/who-we-are">&ensp;See what sets us apart&ensp;</a></p>
</div>
</div>
</div>
</section>




{% schema %}
  {
    "name": "Scintific & Awards",
    "settings": [],
"presets": [
{
"name": "Scintific & Awards"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

