<section class="straighter-section-7 section_padding">
 
<div class="container">
<div class="row straighter-sec-7-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 straighter-sec-7-clmn-1">
<h2>Results</h2>
<p class="home-sub-head show-desktop">Every smile is unique, but seeing one of our customers wearing their instasmile can help you get a feel for how your new perfect smile will look.</p>
<p class="home-sub-head show-mobile">Every smile is unique, but seeing one of our customers wearing their instasmile can help you get a feel for how your new perfect smile will look.</p>
</div>
</div>
<div class="row straighter-sec-7-row-2">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 straighter-sec-7-clmn-2 straighter-sec-7-story">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chanelle_Lowry_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Chanelle is missing a front tooth, which would be expensive to replace. instasmile was an affordable... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg"><span>Chanelle L • Dynamic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chloe_Tyler_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Chloe's natural teeth are enviously straight, she simply wanted them to be whiter without having to... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg"><span>Chloe T • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Adam_Guthrie_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Adam didn't have big issues with his natural smile, but he wanted the perfect Hollywood look.<br... < p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Adam G • Dynamic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Kenneth_Darnell_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Kenneth's clip-on veneers have provided a subtle but effectinve cosmetic enhancement.<br /><br />"I... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Kenneth D • Classic&nbsp;A1</span>
</p>
</div>
 </div>
</div>
</div>
<div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chloe_Collins_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Chloe wanted a simple cosmetic uplift to make her smile a bit brighter. She opted for our whitest... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Chloe C • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Antony_Davenport_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
A missing tooth was the cause for Antony to start his instasmile journey.<br /><br />"You can't hide... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg"><span>Antony D • Dynamic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Carrie_Owens_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
The gaps in Carrie's teeth made her feel uncomfortable and lowered her self-esteem.<br /><br />"I... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg"><span>Carrie O • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Crystal_Foster_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Crystal is at home in front of the camera, but her natural teeth weren't as white as she would have... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg"><span>Crystal F • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Christina_Calvin_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Christina found the instasmile process so simple from start to finish. She can now smile with a... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_5.svg"><span>Christina C • Classic&nbsp;A2</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Liz_Gibbons_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
"I can eat with them and nearly every new person I meet, they have no idea I'm wearing instasmile. T... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg"><span>Liz G • Dynamic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row straighter-smile-btn">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p><a class="btn btn-primary btn-02" role="button" href="/results">More results</a></p>
</div>
</div>
</div>

</section>



{% schema %}
  {
    "name": "Shades Reviews",
    "settings": [],
"presets": [
{
"name": "Shades Reviews"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}