
<!--frst- block -image-->
<section class="mb-sec-10" style="background-color: #dff7f3;">
<div class="container">
<div class="row mb-row mb-row-10 mb-border-row"></div>
<div class="row mb-row mb-row-10-1 mb-width-row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-10-2 mb-img-right show-mobile">
<div class="img-width"><img src="https://cdn.instasmile.com/new-website/images/product-range-shades/Shade_BL1.jpg"></div>
 </div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-10-content vertical-center">
<h3>BL1 - Hollywood White</h3>
<p>
This is our brightest shade. If you’re looking for that Hollywood smile and a glitzy, glamorous red carpet look, you’ll need the brightest, whitest shade we have. If you’re looking to dazzle with your smile then this is the color for you.
</p>
<h5 style="margin-top: 10px;">Perfect for:</h5>
<p>
Anyone looking for an unmissable, attention-grabbing Hollywood smile
</p>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-10-2 mb-img-right show-desktop">
<div class="img-width"><img src="https://cdn.instasmile.com/new-website/images/product-range-shades/Shade_BL1.jpg"></div>
</div>
</div>
<div class="row mb-row mb-row-10-2 mb-width-row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-10-2-1 mb-img-left">
<div class="img-width"><img src="https://cdn.instasmile.com/new-website/images/product-range-shades/Shade_A1.jpg"></div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-10-content vertical-center">
<h3>A1 - Pure Natural White</h3>
<p>
Our A1 shade delivers the sort of crisp, white smile you’d expect to see after years of whitening toothpaste and a regular scale-and-polish. Not quite as dazzling as Hollywood white, but still certain to grab attention, this shade is the most naturally white a tooth can be.
</p>
<h5 style="margin-top: 10px;">Perfect for:</h5>
<p>
Anyone looking for a pristine, bright, yet still natural smile.
</p>
</div>
</div>
</div>
</section>



<!--second- block -image-->

<section class="mb-sec-10" style="background-color: #dff7f3;">
<div class="container">
<div class="row mb-row mb-row-10-1 mb-width-row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-10-2 mb-img-right show-mobile">
<div class="img-width"><img src="https://cdn.instasmile.com/new-website/images/product-range-shades/Shade_A2.jpg"></div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-10-content vertical-center">
<h3>A2 - Light Ivory</h3>
<p>
This light ivory shade is the sort of shade you’d see on a happy, healthy, natural smile that hasn’t undergone any cosmetic whitening, but that - honestly - <i>doesn’t need to</i>.
</p>
<h5 style="margin-top: 10px;">Perfect for:</h5>
<p>
Anyone looking for clean, healthy and totally natural smile.
</p>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-10-2 mb-img-right show-desktop">
<div class="img-width"><img src="https://cdn.instasmile.com/new-website/images/product-range-shades/Shade_A2.jpg"></div>
</div>
</div>
<div class="row mb-row mb-row-10-2 mb-width-row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-10-2-1 mb-img-left">
<div class="img-width"><img src="https://cdn.instasmile.com/new-website/images/product-range-shades/Shade_A3.jpg"></div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-10-content vertical-center">
<h3>A3 - Medium Ivory</h3>
<p>
Maybe your perfect smile doesn’t need to be dazzling. Maybe you want a subtle, healthy tone that looks 100% natural. If you want a natural smile - and you’re in good company if you do - then our medium ivory shade might be <i>exactly</i> what you’re looking for.
</p>
<h5 style="margin-top: 10px;">Perfect for:</h5>
<p>
Anyone looking for an understated, subtle and naturally healthy smile.
 </p>
</div>
</div>
</div>
</section>


<section class="straighter-section-3">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p class="smile-story-line"><img src="https://cdn.instasmile.com/new-website/images/Smile_Row_Icon.svg"></p>
</div>
</div>
</div>
</section>








{% schema %}
  {
    "name": "Shades Image with Text",
    "settings": [],
"presets": [
{
"name": "Shades Image with Text"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
