<section class="straighter-smile-banner">
<div class="container">
<div class="row straighter-smile-row">
<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 vertical-center s-s-banner-1-clmn">
<div class="straighter-banner-content">
<h2>
Nothing Delivers Confidence Like a Dazzling Smile
</h2>
<p class="straighter-banner-details">Your perfect smile might be natural and understated, or it could be brilliantly white and red carpet ready. But it’s your smile, so it’s your choice.</p>
<p><a class="btn btn-primary btn-01 straighter-btn" role="button" href="/smile-assessment-step-1">Get Started</a></p>
</div>
</div>
<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 s-s-banner-2-clmn">
<img src="https://cdn.instasmile.com/new-website/images/Straighter_Smile/Straighter-Smile-banner.png">
</div>
</div>
</div>
</section>



{% schema %}
  {
    "name": "Shades Banner",
    "settings": [],
"presets": [
{
"name": "Shades Banner"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
