<section class="straighter-section-5 section_padding">

<div class="container">
<div class="row straighter-sec-4-row">
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 s-sec-4clmn-1">
<div class="straighter-sec-5-details">
 <h3>A Unique Process</h3>
<p>instasmile uses a unique, patented process to create superb-looking, hard-wearing custom veneers for anyone worried about their teeth.</p>
<p><a class="btn btn-primary btn-02" role="button" href="/knowledge-base">Learn More</a></p>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 s-sec-4clmn-2">
<div class="straighter-sec-5-details">
<h3>Expand Your Knowledge</h3>
<p>At instasmile, we know what it takes to deliver a winning smile every time. And we’ve shared that knowledge with you in our Knowledge Base.</p>
<p><a class="btn btn-primary btn-02" role="button" href="/knowledge-base">Learn More</a></p>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 s-sec-4clmn-3">
<div class="straighter-sec-5-details">
<h3>Make Your Impression</h3>
<p>There’s no need to wait for an appointment to visit a dentist. We’ll send you the instructions and equipment to make an impression from the comfort of your own home.</p>
<p><a class="btn btn-primary btn-02" role="button" href="/knowledge-base">Learn More</a></p>
</div>
</div>
</div>
</div>

</section>



{% schema %}
  {
    "name": "Shades multicolumn",
    "settings": [],
"presets": [
{
"name": "Shades multicolumn"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
