<section class="mb-sec-11 mb-p-element">
<div class="container">
<div class="row mb-row mb-row-11 mb-border-row"></div>
<div class="row mb-row mb-row-11-1">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-11 text-center">
<h2 class="mb-h2">The instasmile Shade Guide</h2>
<p>
Think about the perfect smile. Of course, it’s straight. It’s clean. It’s free of gaps, cracks and chips. But there’s something else about it.
<br class="show-desktop">
An answer only you can give.
</p>
<br>
<p>
What shade is it? Is it natural and understated, or is it dazzlingly white?
</p>
<br>
<p>
With your instasmile, it’s your choice. You choose the shade, and we’ll make a custom set of clip-on veneers in that color.
</p>
</div>
</div>
</div>
</section>



{% schema %}
  {
    "name": "Shades Richtext",
    "settings": [],
"presets": [
{
"name": "Shades Richtext"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}