<section class="section_padding ppc-style-shade-sec style-tab-sec">
<div class="container">
<div class="row text-center style-tab-row-details ppc-style-tab-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 show-desktop">
<h2>Solutions &amp; Shades</h2>
<p class="home-sub-head">It’s your smile, so it’s your choice! Choose a shade you love, in a product that’s right for your dental profile, and we’ll make your Instasmile.</p>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 show-mobile">
<h2>Solutions &amp; Shades</h2>
<p class="home-sub-head">It’s your smile, so it’s your choice! Choose a shade you love, in a product that’s right for your dental profile, and we’ll make your Instasmile.</p>
</div>
</div>
<div class="row insta-smile-tab">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<ul class="nav nav-tabs insta-smile-ul justify-content-center">
<li class="active"><a data-toggle="tab" class="active" href="#smile-style">Solutions</a></li>
<li><a data-toggle="tab" href="#smile-shades">Shades</a></li>
</ul>
<div class="tab-content tab-content-desktop">
<div id="smile-style" class="tab-pane active">

<div class="row tab-desk-row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
<div class="tab-details">
<h3>Instasmile Classic</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/classic-a1.png"></div>
<ul>
<li class="green-icon"><b>12 month warranty now included</b></li>
<li class="green-icon">All round cosmetic uplift</li>
<li class="green-icon">Cover minimal gaps and chipped teeth</li>
<li class="green-icon">Cover up to two (2) missing teeth in a row per arch</li>
<li class="pink-icon">More than two (2) missing teeth in a row per arch</li>
<li class="pink-icon">Short or ground down teeth</li>
<li class="pink-icon">Large gaps or severely crooked teeth</li>
</ul>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
<div class="tab-details">
<h3>Instasmile Dynamic</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a1.png"></div>
<ul>
<li class="green-icon"><b>12 month warranty now included</b></li>
<li class="green-icon">Cover multiple larger gaps</li>
<li class="green-icon">Cover up to six (6) missing teeth per arch</li>
<li class="green-icon">Mildly crooked, short or ground down teeth</li>
<li class="pink-icon">More than six (6) missing teeth per arch</li>
<li class="pink-icon">Moderate to severely crooked teeth</li>
<br>
<br>
</ul>
</div>
</div>
</div>


<div class="row tab-mobile-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag owl-hidden">


<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s; width: 2820px; transform: translate3d(-470px, 0px, 0px);"><div class="owl-item cloned" style="width: 470px;"><div class="item">
<div class="tab-details">
<h3>Instasmile Classic</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/classic-a1.png"></div>
<ul>
<li class="green-icon"><b>12 month warranty now included</b></li>
<li class="green-icon">All round cosmetic uplift</li>
<li class="green-icon">Cover minimal gaps and chipped teeth</li>
<li class="green-icon">Cover up to two (2) missing teeth in a row per arch</li>
<li class="pink-icon">More than two (2) missing teeth in a row per arch</li>
<li class="pink-icon">Short or ground down teeth</li>
<li class="pink-icon">Large gaps or severely crooked teeth</li>
</ul>
 </div>
</div></div><div class="owl-item cloned" style="width: 470px;"><div class="item">
<div class="tab-details">
<h3>Instasmile Dynamic</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a1.png"></div>
<ul>
<li class="green-icon"><b>12 month warranty now included</b></li>
<li class="green-icon">Cover multiple larger gaps</li>
<li class="green-icon">Cover up to six (6) missing teeth per arch</li>
<li class="green-icon">Mildly crooked, short or ground down teeth</li>
<li class="pink-icon">More than six (6) missing teeth per arch</li>
<li class="pink-icon">Moderate to severely crooked teeth</li>
<li style="visibility: hidden;">&nbsp;</li>
</ul>
</div>
</div></div><div class="owl-item active center" style="width: 470px;"><div class="item">
<div class="tab-details">
<h3>Instasmile Classic</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/classic-a1.png"></div>
<ul>
<li class="green-icon"><b>12 month warranty now included</b></li>
<li class="green-icon">All round cosmetic uplift</li>
<li class="green-icon">Cover minimal gaps and chipped teeth</li>
<li class="green-icon">Cover up to two (2) missing teeth in a row per arch</li>
<li class="pink-icon">More than two (2) missing teeth in a row per arch</li>
<li class="pink-icon">Short or ground down teeth</li>
<li class="pink-icon">Large gaps or severely crooked teeth</li>
</ul>
 </div>
</div></div><div class="owl-item" style="width: 470px;"><div class="item">
<div class="tab-details">
<h3>Instasmile Dynamic</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a1.png"></div>
<ul>
<li class="green-icon"><b>12 month warranty now included</b></li>
<li class="green-icon">Cover multiple larger gaps</li>
<li class="green-icon">Cover up to six (6) missing teeth per arch</li>
<li class="green-icon">Mildly crooked, short or ground down teeth</li>
<li class="pink-icon">More than six (6) missing teeth per arch</li>
<li class="pink-icon">Moderate to severely crooked teeth</li>
<li style="visibility: hidden;">&nbsp;</li>
</ul>
</div>
</div></div><div class="owl-item cloned" style="width: 470px;"><div class="item">
<div class="tab-details">
<h3>Instasmile Classic</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/classic-a1.png"></div>
<ul>
<li class="green-icon"><b>12 month warranty now included</b></li>
<li class="green-icon">All round cosmetic uplift</li>
<li class="green-icon">Cover minimal gaps and chipped teeth</li>
<li class="green-icon">Cover up to two (2) missing teeth in a row per arch</li>
<li class="pink-icon">More than two (2) missing teeth in a row per arch</li>
<li class="pink-icon">Short or ground down teeth</li>
<li class="pink-icon">Large gaps or severely crooked teeth</li>
</ul>
 </div>
</div></div><div class="owl-item cloned" style="width: 470px;"><div class="item">
<div class="tab-details">
<h3>Instasmile Dynamic</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a1.png"></div>
<ul>
<li class="green-icon"><b>12 month warranty now included</b></li>
<li class="green-icon">Cover multiple larger gaps</li>
<li class="green-icon">Cover up to six (6) missing teeth per arch</li>
<li class="green-icon">Mildly crooked, short or ground down teeth</li>
<li class="pink-icon">More than six (6) missing teeth per arch</li>
<li class="pink-icon">Moderate to severely crooked teeth</li>
<li style="visibility: hidden;">&nbsp;</li>
</ul>
</div>
</div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div></div>
</div>
</div>

</div>
<div id="smile-shades" class="tab-pane">

<div class="row tab-desk-row">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
<div class="tab-details">
<h3>BL1 - Hollywood White</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-bl1.png"></div>
<p>Our brightest, whitest, 'Hollywood White' shade, for an absolutely dazzling grin.</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
<div class="tab-details">
<h3>A1 - Pure Natural White</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a1.png"></div>
<p>A wonderful, naturally white shade for a healthy bright smile.</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
<div class="tab-details">
<h3>A2 - Light Ivory</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a2.png"></div>
<p>A softer shade to hide stained teeth and deliver a natural smile every time.</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
<div class="tab-details">
<h3>A3 - Medium Ivory</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a3.png"></div>
<p>Our medium ivory shade provides a subtle transformation to provide real confidence.</p>
</div>
</div>
</div>


<div class="row tab-mobile-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">




<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item"><div class="item">
<div class="tab-details">
<h3>BL1</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-bl1.png"></div>
<p>Our brightest, whitest, 'Hollywood White' shade, for an absolutely dazzling grin.</p>
</div>
</div></div><div class="owl-item"><div class="item">
<div class="tab-details">
<h3>A1</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a1.png"></div>
<p>A wonderful, naturally white shade for a healthy bright smile.</p>
</div>
</div></div><div class="owl-item"><div class="item">
<div class="tab-details">
<h3>A2</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a2.png"></div>
<p>A softer shade to hide stained teeth and deliver a natural smile every time.</p>
</div>
</div></div><div class="owl-item"><div class="item">
<div class="tab-details">
<h3>A3</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a3.png"></div>
<p>Our medium ivory shade provides a subtle transformation to provide real confidence.</p>
</div>
</div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
</section>







{% schema %}
  {
    "name": "Solutions & Shades",
    "settings": [],
"presets": [
{
"name": "Solutions & Shades"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


 <script type="text/javascript">
    /* Start Story Image Slider Js */
    $(document).ready(function () {
        $(".tab-mobile-row #owl-demo").owlCarousel({
            navigation: false, // Show next and prev buttons
            center: true,
            slideSpeed: 300,
            loop: false,
            nav: false,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            items: 1
        });
    });
    /* End Story Image Slider Js */


</script>
