<section class="top-header">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
<div class="top_header_rate">
<ul>
<div class="show-desktop">
<li><img src="https://cdn.instasmile.com/new-website/images/Footer_Star.svg"></li>
<li>3,685 customers rate us GREAT</li>
</div>
<div class="show-mobile">
<ul style="padding-left: 0px;">
<li style="font-size: smaller;"><img src="https://cdn.instasmile.com/new-website/images/cta-buy-now.svg" style="padding-right: 10px;">12 Month Warranty Included</li>
</ul>
</div>
</ul>
</div>
</div>
<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
<div class="top_header_buy text-center">
<ul>
<li><img src="https://cdn.instasmile.com/new-website/images/cta-buy-now.svg"></li>
<li>Free Shipping</li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
<div class="top_header_buy text-center">
<ul>
<li><img src="https://cdn.instasmile.com/new-website/images/cta-buy-now.svg"></li>
<li>12 Month Warranty Included</li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
<div class="top_bar_menu">
<ul>
<li><a href="/pages/who-we-are">Who We Are</a></li>
<li><a href="/pages/faq">FAQs</a></li>
<li><a href="/pages/contact-us">Contact</a></li>
</ul>
</div>
</div>
</div>
</div>
</section>






{% schema %}
  {
    "name": "Top Bar Section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
