<section class="page-template who-we-are-page" style="padding: 70px;">
<section>
<div>
<h1>Terms and conditions</h1>
</div>
</section>
<section>
<p><strong>OUR TERMS OF SALE</strong></p>
<p>Please note that the Company provides products which are temporary removable appliances solely intended to be aesthetic in nature.</p>
<p>The Company has no dental professionals and does not carry out the practice of dentistry in any manner - we do not engage in any diagnosis and do not provide any products which have any therapeutic effect. The Company neither offers professional advice nor provides any treatment or other dental or medical service. Some aesthetic issues may be due to underlying dental and/or medical problems. If you have any queries or concerns regarding the suitability of any of our products, you experience any adverse symptoms, or you have any condition which requires the attention of a professional, please consult your dentist, medical doctor, or other licensed professionals.</p>
<p><strong>THESE TERMS</strong></p>
<ol>
<li>These are the terms and conditions on which we supply products to you (terms). They set out your legal rights and responsibilities, our legal rights and responsibilities, and certain key information required by law.</li>
<li>Please read these terms carefully before you submit your order to us. These terms tell you who we are, how we will provide products to you, how you and we may change or end the contract, what to do if there is a problem and other important information.</li>
</ol>
<p>3 In these terms, the following definitions apply:</p>
<p>Order has the meaning given in clause 4.2;</p>
<p>Products means, together, the Self-Impression Kit, the Veneers, and any other products we may supply to you;</p>
<p>Self-Impression Kit means the self-impression kit we send out to you to allow you to take an accurate impression of your teeth; and</p>
<p>Veneers means the specific instasmile clip-on veneers you have chosen to purchase from us.</p>
<p><strong>KEY TERMS</strong></p>
<p>While you should be familiar and agree with all our terms before you decide to place an Order, it is particularly important that we draw your attention to the following key terms:</p>
<p>Cancelation and Refunds</p>
<ol>
<li>The Veneers are customised to your particular measurements and cannot be used on anyone else. Therefore, once we have started manufacturing the Veneers, <em>you will not be entitled to cancel your contract with us nor receive a refund.</em></li>
</ol>
<p><strong>Our disclaimer</strong></p>
<ol start="2">
<li>Please note that the Veneers are made from dental grade material and are solely intended to be removable and aesthetic in nature. We do not carry out the practice of dentistry in any manner, and we do not engage in any diagnosis and do not provide Veneers which have any therapeutic effects.</li>
<li>We will not be held liable to you if our Products are not suitable for you. Your use of our Products is at your own risk and it is your responsibility to decide if they are suitable for you. If you have any allergies or any other conditions, please consult your dentist or doctor before using our Products. Likewise, if you develop any adverse symptoms from the use of our Products, please seek professional medical advice.</li>
</ol>
<p><strong>Age restriction</strong></p>
<ol start="4">
<li>If you are under the age of 18 you may not buy Veneers from us unless parental or guardian consent has been given.</li>
</ol>
<p><strong>Limit of liability</strong></p>
<ol start="5">
<li>Our liability to you is limited, please see clause 12 for details.</li>
</ol>
<p><strong>WHO WE ARE AND HOW TO CONTACT US</strong></p>
<ol>
<li>' We' , 'us' or 'our' means Smile Lab Solutions Limited trading as 'instasmile'.. Our principal place of business in the United States is located at North Clark Street, Chicago, Illinois 60601.</li>
<li>' You' or 'your' means the person using our site to buy Products from us.</li>
<li>If you want to contact us, please refer to our <a href="/pages/contact-us">customer contact page</a>.</li>
<li>If we have to contact you we will do so by telephone or by writing to you at the email address or postal address you provided to us when placing your Order.</li>
<li>"Writing" includes emails. When we use the words "writing" or "written" in these terms, this includes emails.</li>
</ol>
<p><strong>OUR CONTRACT WITH YOU</strong></p>
<ol>
<li>Below, we set out how a legally binding contract between us and you is made.</li>
<li>You place an order on our website by following our 'Get Started' tool, where we will ask you a series of questions to help us determine the best type of Veneers for you ( Order ). Please note that if you give false or misleading information regarding your suitability for our Products, we will not be held liable to you (please see clauses 2.4-2.5 for further information).</li>
<li>Please read and check your Order carefully before submitting it and correct any errors before confirming your Order.</li>
<li>When you place your Order, we will acknowledge it by email. This acknowledgement does not, however, mean that your Order has been accepted.</li>
<li>We may contact you to say that we do not accept your Order. This is typically for the following reasons:</li>
</ol>
<p>5.1. the Veneers you would like to order are unavailable;</p>
<p>5.2. we cannot authorise your payment;</p>
<p>5.3. there has been a mistake on the pricing or description of the Veneers; or</p>
<p>5.4. we do not consider our Veneers to be suitable for you, due to issues you may have with your oral health, such as having gum disease (<a href="/pages/suitability">please refer to our suitability guide for further information</a>).</p>
<ol start="6">
<li>Our acceptance of your Order will take place when we receive confirmation of a successful payment from you or payment plan creation. We will then confirm your Order number.</li>
<li>By accepting our terms and placing an Order with us, a legally binding contract will be in place between you and us.</li>
</ol>
<p><strong>RIGHT TO CANCEL</strong></p>
<ol>
<li>As noted above, your right to cancel will not apply if we have already started manufacturing your Veneers. We deem manufacturing to have commenced once your physical impressions have been accepted and scanned into our system.</li>
<li>You may be entitled to cancel this contract and receive a refund within 14 days of receiving the Self-Impression Kit, provided it has not been used.</li>
<li>To meet the cancellation deadline, you must let us know that you wish to exercise your right to cancel before the 14-day cancellation period expires by contacting us. <a href="/pages/contact-us">Our details are set out here</a>.</li>
<li>You are responsible for posting the Self-Impression Kit back to us. To ensure we receive it, we recommend you use an appropriate tracking service. You are not permitted to use the returns label if you have opted to cancel your order. If you use the returns label after cancellation then we will apply a charge of $35. Likewise if you refuse delivery from us we also reserve the right to apply a charge of $35.</li>
<li>If you have used the Self-Impression Kit but still wish to cancel the contract, you may do so, however you will be liable to pay a US$ 129 administrative fee.</li>
<li>If you cancel this contract and subject to you complying with our returns deadline (see below) we will reimburse to you all payments received from you, less the US$ 129 administrative fee (if applicable). We will make the reimbursement without undue delay, and not later than:</li>
</ol>
<p>6.1. 14 days after the day we received the Self-Impression Kit back from you; or</p>
<p>6.2. if the Self-Impression Kit was not supplied, 14 days after the day on which we are informed about your decision to cancel this contract.</p>
<ol start="7">
<li>We will make the reimbursement to the original payment method only as you used for the initial transaction, unless we have expressly agreed otherwise; in any event, you will not incur any fees as a result of the reimbursement.</li>
</ol>
<p><strong>Returns deadline</strong></p>
<ol start="8">
<li>If you wish to cancel your contract with us but you have already received the Self-Impression Kit you are required to send it back to us without undue delay, and in any event not later than 28 days from the day on which you communicate your cancellation from this contract to us ( Deadline ).</li>
<li>If we have not received your Self-Impression Kit back by the Deadline, we will be entitled to charge you a <strong>$129 administrative fee</strong>.</li>
</ol>
<p><strong>NATURE OF THE GOODS</strong></p>
<ol>
<li>We must provide you with Products that comply with your legal rights under this Agreement and applicable law.</li>
<li>The packaging of the Products may be different from that shown on our website.</li>
<li>While we try to make sure that the colours of our Veneers are displayed accurately on our website, please note that the images of them on our website are for illustrative purposes only. Therefore, the image you see online may vary slightly from the Veneers you receive.</li>
<li>Please note that if you place a repeat order for Veneers previously ordered, different material may be used. Please refer to clause 16.2 for further information.</li>
</ol>
<p><strong>Measurements</strong></p>
<ol start="5">
<li>Our Veneers are custom made to our specifications, therefore it is your responsibility for ensuring that any information we require is accurate. This includes, but is not limited to:</li>
</ol>
<p>5.1. Your use of our Self-Impression Kit. You are responsible for ensuring that these measurements and impressions are correct. Please refer to the <a href="/pages/impression-kit-guide">guidance on our website</a>, or <a href="/pages/contact-us">contact us</a>, for tips on how to measure correctly; and</p>
<p>5.2. Your use of our online suitability assessment. By taking our online suitability assessment, it is your responsibility to ensure that all information provided to us is correct. We recommend that you thoroughly check that all your data is correct before submitting it to us. If it becomes apparent during our review of your Impressions that you have provided inaccurate information at this stage, we may cancel your contract with us in accordance with clause 17.1.</p>
<ol start="6">
<li>We will not be held responsible for Veneers that don't fit or are unsuitable due to incorrect information supplied by you (however, please refer to clause 7 and our Remake policy for your options if your Veneers do not fit).</li>
</ol>
<p><strong>DELIVERY</strong></p>
<ol>
<li>We use a courier service to deliver our Products to you. They may be sent either to the shipping address provided at the time you place your Order, or to a designated parcel collection point. We will provide further delivery information to you after you have placed your Order.</li>
<li>Our delivery information will be communicated to you when you place an Order with us, and will depend on what is being delivered to you, as follows:</li>
</ol>
<p>2.1. Self-Impression Kit : your estimated delivery date will be within 14 days from the date of your Order; and</p>
<p>2.2. Veneers : your estimated delivery date will be within 30 days from the date we have received an accurate impression that it is suitable for us to use to manufacture your Veneers. We also have an express manufacturing option if you would like your Veneers delivered sooner.</p>
<ol start="3">
<li>When you have completed your Self-Impression Kit, you are required to either:</li>
</ol>
<p>3.1. You <strong>MUST</strong> provide photographs of your impressions to us . We may also request images of your natural dental profile. Failure to do so may delay your order and could incur additional costs. We cannot accept impressions back that have NOT been approved.</p>
<p>3.2 Once your impression photos have been approved you must post this back to us yourself: if doing so, we recommend that you use a tracked courier service to ensure your Self-Impression Kit gets delivered to us safely;</p>
<p>Please see our separate <a href="/blogs/news/how-do-i-send-my-impression-kit-back-to-you">delivery and return guide</a> for full instructions on how to complete the returns process.</p>
<ol start="4">
<li>Events outside our control.</li>
</ol>
<p>We are not responsible for delays in providing the Products to you for reasons outside our control. However, if something happens which means that there will be a delay in delivering the Products to you, we will contact you as soon as possible and will take such reasonable steps to minimize the delay.</p>
<ol start="5">
<li>If you are not at home when the products are delivered.</li>
</ol>
<p>If no one is available at your shipping address to take delivery and the Products cannot be posted through the letterbox, our courier will leave you a note informing you of how to rearrange delivery or collect the Products from a local collection point.</p>
<ol start="6">
<li>If you do not re-arrange delivery.</li>
</ol>
<p>6.1. do not collect the Products as arranged;</p>
<p>6.2. refuse delivery of the Products; or</p>
<p>6.3. after a failed delivery to you, you do not re-arrange delivery or collect them from a delivery depot,</p>
<p>We will contact you for further instructions and may charge you for storage costs and any further delivery costs. If, despite our reasonable efforts, we are unable to contact you or re-arrange delivery or collection we may end the contract and clause 17 will apply.</p>
<p><strong>Risk and ownership of the Products</strong></p>
<ol start="7">
<li>Delivery of the Products will take place when we deliver them to the address that you gave to us.</li>
<li>You are responsible for the Products when delivery has taken place. In other words, the risk in the Products passes to you when you take possession of the Products (which includes if the Products are left in your chosen 'safe-space', such as an outbuilding or porch).</li>
<li>When you own the Products</li>
</ol>
<p>9.1. You own the Veneers only once payment in full has been received and we deliver them to the shipping address you gave us when you made the Order.</p>
<p>9.2. You own the Self-Impression Kit from the point you receive it.</p>
<p><strong>Excluded locations</strong></p>
<ol start="10">
<li>Unfortunately, we do not deliver to the following territories: Belarus, Burma/Myanmar, Democratic Republic of Congo, Eritrea, Former Federal Republic of Yugoslavia & Serbia, International Criminal Tribunal for The Former Yugoslavia, Iran, Iraq, Ivory Coast, Lebanon and Syria, Liberia, North Korea (Democratic People's Republic of Korea), Republic of Guinea, Somalia, Sudan, Zimbabwe, Cuba or the Balkans. Please note that we do have a number of international websites which can be accessed using the links in the tab at the top of our website.</li>
</ol>
<p><strong>PAYMENT</strong></p>
<ol>
<li>When you must pay.</li>
</ol>
<p>You must pay for the Products before we dispatch them, except when entering into a finance agreement with one of our third party finance providers.</p>
<ol start="2">
<li>You may pay for your Products using either: (1) Credit or Debit Card; or (2) by Consumer Finance.</li>
<li>Credit or Debit card. We currently accept Visa, MasterCard, and American Express. Your credit card or debit card will be charged when an Order is successfully placed with us.</li>
<li>Finance. We offer a range of finance options with third party finance providers. Our current providers are listed in the Checkout Page on the website. Please note that these providers may undertake eligibility checks against you before offering you consumer finance. Separate terms and conditions may also apply which you should read in full.</li>
<li>If you have requested a refund in respect of a particular Order ( Order A ) but already owe us money under a separate Order ( Order B ), we will be entitled to offset the amount we refund you for Order A in line with what you already owe us under Order B. Any exercise of our rights under this clause will not prevent us from enforcing any other rights we may have under these terms.</li>
<li>IF YOU ARE IN DEFAULT OF ANY PAYMENT PLAN REFERRED TO IN 9.4, WE ARE UNABLE TO ASSESS ANY ISSUES YOU MAY HAVE IN RELATION TO THE PRODUCTS UNTIL YOUR PLAN IS BROUGHT UP TO DATE.</li>
<li>IF YOU ARE IN DEFAULT OF ANY PAYMENT DUE TO US, WE RESERVE THE RIGHT TO PASS YOUR DETAILS TO A DEBT COLLECTION AGENCY AND SEEK LEGAL ACTION AGAINST YOU. YOU MAY BE LIABLE TO PAY OUR LEGAL COSTS OF DOING SO AND YOUR CREDIT RATING MAY ALSO BE AFFECTED. WE MAY ALSO CHARGE INTEREST AT A RATE EQUAL TO THE LESSER OF EIGHTEEN PERCENT (18%) PER ANNUM OR THE MAXIMUM ALLOWED BY LAW; SUCH INTEREST WILL ACCRUE DAILY UNTIL PAYMENT HAS BEEN MADE.</li>
<li>Security. We will do all that we reasonably can to ensure that all of the information you give us when placing your Order with us is secure by using an encrypted secure payment mechanism. However, in the absence of negligence on our part, any failure by us to comply with this contract or our <a href="/pages/privacy-policy">Privacy Policy</a> or breach by us of our duties under applicable laws we will not be legally responsible to you for any loss that you may suffer if a third party gains unauthorised access to any information that you give us.</li>
</ol>
<p><strong>PRICE</strong></p>
<ol>
<li>The price of the Veneers:</li>
</ol>
<p>1.1. is in US Dollars ($) (USD);</p>
<p>1.2. includes our delivery costs; and</p>
<p>1.3. and includes sales tax. If sales tax is applicable, such shall be charged and reflected on your order, together with the purchase price of the Veneers.</p>
<ol start="2">
<li>The price of the Veneers will be the price indicated on our website when you placed your Order. We take all reasonable care to ensure that the price of the Veneers advised to you is correct. However please see clause 10.3 for what happens if we discover an error in the price of the Veneers you have chosen.</li>
<li>What happens if we got the price wrong? It is always possible that, despite our best efforts, some of our Veneers we sell may be incorrectly priced. We will normally check prices before accepting your Order so that, where a Veneer's correct price at your Order date is less than our stated price at your Order date, we will charge the lower amount. If the Veneer's correct price at your Order date is higher than the price stated to you, we will contact you for your instructions before we accept your Order. If we accept and process your Order where a pricing error is obvious and unmistakable and could reasonably have been recognised by you as a miss-pricing, we may end the contract, refund you any sums you have paid and require the return of any Products provided to you.</li>
<li>What to do if you think an invoice is wrong. If you think an invoice is wrong, please contact us promptly to let us know and we will attempt to resolve the issue.</li>
</ol>
<p><strong>WARRANTY</strong></p>
<ol>
<li>We provide all our customers with our 30-day manufacturer's warranty, however you may also wish to purchase our 12 month extended warranty.</li>
<li>Both warranties have limitations, including limitations for any liability under clause (LIMIT ON OUR RESPONSIBILITY TO YOU)</li>
</ol>
<p><strong>Manufacturer's Warranty</strong></p>
<ol start="3">
<li>We warrant to you that for a period of 30 days from the date of delivery your Veneers will:</li>
</ol>
<p>3.1. conform in all material respects with their description;</p>
<p>3.2. be free from material defects in material; and</p>
<p>3.3. be of satisfactory quality; and</p>
<p>3.4. be fit for the sole purpose of the Veneers, which shall be expressly limited to helping to enhance aesthetic appearance.</p>
<ol start="4">
<li>If you consider that your Veneers do not comply with Manufacturer's Warranty and would like to make a claim under it, you must inform us of any issue within 30 days of receiving your final product. You must then provide us with photographic evidence within 14 days so we can investigate the matter further. You must not return any product to us as we are unable to accept returns.</li>
</ol>
<p><strong>Extended Warranty</strong></p>
<ol start="5">
<li>If you have purchased our extended warranty and within 12 months from the date of delivery to you, your Veneers become lost, damaged, or stolen, we will remake your Veneers for free, up to and including a maximum of 2 arches (e.g. 2 x uppers or 1 x upper & 1 x lower). Please note this will be a like for like replacement.</li>
<li>Please refer to our <a href="/blogs/news/what-is-covered-in-the-12-month-extended-warranty">warranty guidance</a> page for full details of what is covered under each of the Manufacturer's Warranty and the Extended Warranty, and for information on how you can claim under them.</li>
</ol>
<p><strong>LIMIT ON OUR RESPONSIBILITY TO YOU</strong></p>
<ol>
<li>The Veneers are intended to be a cosmetic accessory only and are not suitable for everyone. You should only use them if you do not have any significant health issues. You must also answer our suitability questions correctly to help us determine if the Veneers are suitable for you.</li>
<li>WE MAKE NO OTHER WARRANTIES OTHER THAN AS EXPRESSLY STATED IN THESE TERMS, AND EXPRESSLY REJECT AND DISCLAIM ANY AND ALL OTHER WARRANTIES OF ANY NATURE, TYPE, AND/OR EXTENT WHATSOEVER, INCLUDING BUT NOT LIMITED TO FITNESS FOR A PARTICULAR PURPOSE, MERCHANTABILITY, AND ANY OTHER ITEMS.</li>
<li>IN ABSENCE OF ANY NEGLIGENCE OR OTHER BREACH OF DUTY BY US, OUR LIABILITY TO YOU WILL BE EXPRESSLY LIMITED TO REFUNDING TO YOU THE PRICE PAID FOR THE PRODUCTS. ANY AND ALL CLAIMS FOR CONSEQUENTIAL, INDIRECT, AND/OR PUNITIVE DAMAGES ARE EXPRESSLY WAIVED.</li>
</ol>
<p><strong>SELF-IMPRESSION KIT</strong></p>
<ol>
<li>Before we can manufacture your chosen Veneers, we may send you a Self-Impression Kit. We will also provide you with full instructions on how to use the Self-Impression Kit and YOU MUST provide photographs of your impressions to us ( Impressions ). We may also request images of your natural dental profile.</li>
<li>Please note the Self-Impression Kit may not be suitable for you if:</li>
</ol>
<p>2.1. you have loose teeth (including loose crowns, bridges, or veneers) or you have had teeth recently removed;</p>
<p>2.2. you have existing oral health issues; or</p>
<p>2.3. you are undergoing dental or orthodontic treatment; or</p>
<p>2.4. you are allergic to silicone.</p>
<p>2.6 you have a fixed retainer</p>
<ol start="3">
<li>If you have crowns, bridges, or existing veneers or loose teeth you must take extra care when using the Self-Impression Kit. <strong>We will not be held liable for any damage to any crowns, bridges, existing veneers or loose teeth.</strong></li>
<li>If, due to a build-up of plaque, your use of the Self-Impression Kit is affected,we advise you to remove the plaque and then continue with the Impressions process.</li>
<li>Once our impressions team has reviewed your Impressions, we will contact you and provide you with further information about how to return your Self-Impression Kit back to us.</li>
<li>If we do not receive your returned Self-Impression Kit, or if you have used your Self-Impression Kit incorrectly and we are unable to use the Impressions you have provided then:</li>
</ol>
<p>6.1. we will contact you to arrange the sending out of a replacement Self-Impression Kit;</p>
<p>6.2. we will charge you for the cost of any such replacement kit and for the cost of postage and packaging of sending the replacement Self- Impression Kit to you; and</p>
<ol start="7">
<li>If you fail to return the Self-Impression Kit and we are unable to contact you for a period of 90 days from the date of your Order, we may treat the contract as cancelled. It is important that you therefore contact us at this time to mitigate cancellation.</li>
</ol>
<p><strong>Reorders</strong></p>
<ol start="8">
<li>Please note that we will keep your completed Impressions for 12 months from the date that we scan your impressions onto our system. If your dental portfolio has not changed within this period, you may place an order with us for a new set of Veneers using your existing Impressions; subject to our internal checks. If you decide to proceed with a re-order using existing impressions we cannot be held liable for any fit issues. Please note that we cannot accept a re-order if your account is in default.</li>
<li>You will be required to complete new Impressions if:</li>
</ol>
<p>9.1. more than 12 months from the date that we scan you impressions onto our system or</p>
<p>9.2. your dental portfolio has changed in any way from the order that we are using the impressions from.</p>
<ol start="10">
<li>Please note that if you reorder Veneers from us, the material, shape and profile of the veneers may differ slightly from your previous set of Veneers.</li>
</ol>
<p><strong>USE OF OUR PRODUCTS</strong></p>
<ol>
<li>Eating and drinking. instasmile products are designed to allow you to eat and drink as normal as they dont (where possible) cover your molars (chewing teeth) once in situ. As with any lifestyle product there is always a chance that eating and drinking could on rare occasions damage the product for which we cannot be held liable and should therefore be done so at your own risk.</li>
<li>Side effects. There should be no side effects from using the products unless you have an underlying health issue.. If you experience any side effects, you should cease use of the Products immediately and consult your dentist or medical doctor. If you have any allergies or known chemical sensitivity, you should inform us before placing your order.</li>
<li>You accept that unless we have been negligent, we will not be held liable for any loss, damages or injury associated with applying for, accepting, or using the Products. We will not be responsible if you develop any allergies or adverse reactions as a result of using the Products. Please refer to clause 12 for further information on our liability to you.</li>
</ol>
<p><strong>INTELLECTUAL PROPERTY RIGHTS</strong></p>
<ol>
<li>Please note that you only own the Products for your personal use. We do not convey to you in any manner the technology, know-how, processes and procedures, formulae, patents, trademarks, copyrights, and/or any other intellectual property associated with the Products. You agree not to reverse-engineer or otherwise gain or attempt to gain access to our intellectual property.</li>
<li>If you breach clause 15.1 and we suffer a loss as result, we may take legal action against you in respect of our losses, damages, costs (including legal fees) and expenses incurred by us as a result of or in connection with your misuse of our intellectual property rights.</li>
</ol>
<p><strong>CHANGES TO YOUR ORDER</strong></p>
<ol>
<li>Your right to make changes.</li>
</ol>
<p>1.1. If you wish to make a change to the Veneers you have ordered, please contact us as soon as possible, as once we have started manufacturing your Veneers, no changes can be made.</p>
<p>1.2. We will let you know if the change is possible. If it is possible we will let you know about any changes to the price of the Products, the delivery date, or anything else which would be necessary as a result of your requested change. We will ask you to confirm whether you wish to go ahead with the change.</p>
<ol start="2">
<li>Our rights to make changes. We may change any of the Products listed on our website without notice:</li>
</ol>
<p>2.1. to reflect changes in relevant laws and regulatory requirements;</p>
<p>2.2. to reflect changes in technology; and</p>
<p>2.3. to implement technical adjustments and improvements, for example to address a health and safety or cosmetic concern.</p>
<ol start="3">
<li>If you have already placed an order with us and we need to change your chosen Product for one or more of the above reasons, we will let you know. You will be entitled to refuse to accept the substituted Product, in which case we will offer you a refund or a suitable replacement.</li>
<li>Any changes we make to our Products will not materially affect your use of the Products.</li>
</ol>
<p><strong>OUR RIGHTS TO END OUR CONTRACT WITH YOU</strong></p>
<p>1 We may terminate the contract if you are in breach. We may terminate our contract with you any time if:</p>
<p>1.1. you do not make any payment to us or a third party finance provider when it is due and you continue to not make payment within 7 days of us or the payment provider reminding you that such payment is due;</p>
<p>1.2. you do not, within 90 days of us asking for it, provide us with information that is necessary for us to manufacture the Veneers, for example, your completed Self-Impression Kit, or your Impressions measurements;</p>
<p>1.3 it becomes apparent that you have provided us with dishonest information during the suitability assessment and we do not consider our Veneers to be suitable for you;</p>
<p>1.4 you do not, within 90 days, provide us with the information we need to allow us to deliver the Products to you or if the Products are returned to us after attempted delivery;</p>
<p>1.5 you move address or change the delivery address without letting us know and we are unable to deliver the Products to you;</p>
<p>1.6 you make or publish any fraudulent, untrue, defamatory, threatening, abusive, offensive, obscene or otherwise inappropriate statements or allegations about us, our officers or our employees, online (including on social media) (we also retain the right to have such content removed);</p>
<p>1.7 your Order with us was placed over 12 months ago and you have not been in contact with us for a period of 6 months or more.</p>
<ol start="2">
<li>If we end our contract with you under clause 17.1, we will refund any money you have paid us in advance of Veneers we have not yet manufactured, however we will be entitled to charge you for our administration costs for dealing with the cancellation of your contract.</li>
</ol>
<p><strong>PERSONAL INFORMATION</strong></p>
<ol>
<li>We will use the personal information you provide to us to supply the Products to you and to process your payment for the Products, and to contact you about similar products we have (if you have chosen to receive this from us).</li>
<li>Please refer to our <a href="/pages/privacy-policy">Privacy Policy</a> for further information about how and why we process your personal data.</li>
</ol>
<p><strong>DISPUTES & CHARGEBACKS</strong></p>
<ol>
<li>If you are unhappy with the Products, our service to you, or anything else, please <a href="/pages/contact-us">contact us</a> on our website and our dedicated customer care team will work with you to resolve the issue.</li>
<li>We will try to resolve any disputes with you quickly and efficiently. If your dispute becomes a chargeback your account will be suspended whilst we work with your finance provider or merchant to investigate the issue. The final decision on a chargeback sits with the merchant or finance provider and not us. Where a Chargeback is resolved in our favour we reserve the right to cancel your contract with us immediately without any recourse. We therefore encourage you to work with us outside of any official chargeback process to try to achieve a mutual resolution.</li>
</ol>
<p><strong>OTHER IMPORTANT TERMS</strong></p>
<ol>
<li>We may transfer this contract to someone else. We may transfer our rights and obligations under these terms to another organization.</li>
<li>You need our consent to transfer your rights to someone else. You may only transfer your rights or your obligations under these terms to another person if we agree to this in writing.</li>
<li>Nobody else has any rights under your contract with us. This contract is between you and us. No other person shall have any rights to enforce any of its terms.</li>
<li>If a court finds part of these terms illegal, the rest will continue in force. Each paragraph of these terms operates separately. If any court or relevant authority decides that any of them are unlawful, the remaining paragraphs will remain in full force and effect.</li>
<li>Even if we delay in enforcing our rights under our contract with you, we can still enforce it later. If we do not insist immediately that you do anything you are required to do under these terms, or if we delay in taking steps against you if you have broken this contract, that will not mean that you do not have to do those things and it will not prevent us from taking steps against you at a later date. For example, if you miss a payment and we do not chase you but we still provide the Products, we can still require you to make the payment at a later date.</li>
<li>These terms are subject to change from time to time without notice as to any new customers and/or new orders placed by existing customers.</li>
</ol>
<p><strong>REFUND POLICY</strong></p>
<p>If you wish to change your mind about your order, you have 14 days (cooling off period) from the date you receive your self impressions kit to advise us. To do so you must contact us via the following link: <a href="/pages/contact-us"><b>Contact</b></a> and we will call to discuss the next stages. As part of the cancellation we will discuss the return of the kit, which must be returned tracked and traced at your own cost, within 28 days of the order being placed. We will provide you with an address to return this to once we have confirmed the cancellation. On receipt of the unused kit we will cancel the order and return any monies paid to date and/or cancel your finance plan.</p>
<p>Once you have commenced the impressions process, your cooling off period ends even if this is within 14 days.</p>
<p>If you wish to cancel your order at any time up to your Instasmile veneers entering into manufacture, you can do so but there will be an administration fee to cover our costs. We will discuss this with you at the time of cancellation.</p>
<p>Once your Instasmile has entered into Manufacture you cannot cancel your order or request a refund.</p>
<p>If you are deemed unsuitable for the Instasmile, we will cancel the order and return any monies paid to date and/or cancel your finance plan. We will retain an administration fee to cover our costs which will be advised to you at the time.</p>
<p>***Please note any purchased impressions materials are non refundable.</p>
<p>*If you have paid via a payment plan we will reduce the value of the plan to the relevant fee and we will still 'collect' the payments until this has been cleared.</p>
<p><strong>REMAKE POLICY</strong></p>
<p><strong>We want you to be happy with your custom made Instasmile veneers, however, in the event there is an issue we will work with you to achieve a resolution as follows:</strong></p>
<p>If when you receive your custom made veneers, you feel there is an issue with the fit, you will need to notify us within 30 days of receiving them.</p>
<p><strong>You will need to provide us with images and a video within 14 days of reporting this, which demonstrates the issue to allow our technicians to make a full assessment under the 30 day Manufacturer's Warranty.</strong></p>
<p>When sending evidence of a fit issue we will need to see:</p>
<ul>
<li><strong>Description of the issue</strong></li>
<li><strong>How did the issue occur if relevant</strong></li>
<li><strong>Clear images and a short video with the product in the mouth showing the issue</strong></li>
<li><strong>Natural bite image</strong></li>
</ul>
<p>If you have not previously sent us images of your natural teeth please also provide these to help with the assessment.</p>
<p>If the technician is confident that we can remake the veneer for you and correct the issue, then you must allow us to do so. We will do this free of charge and any materials required will be complimentary.</p>
<p>In some cases, the technician may advise this is not possible and in these cases we will assess your order for a partial refund* of up to 75% of the order value.</p>
<p>If we remake the product and there is still an issue with the fit, we will assess this for a partial refund*.</p>
<p>Please note if the fit issue is with only one arch, we will only assess a partial refund* on this part of the order.</p>
<p>We may ask for the product to be returned, tracked and traced at your own cost, if a partial refund* is being agreed.</p>
<p>If you have received your custom made veneers and you have an expectation issue (i.e. design or shade of the veneers), you will need to notify us within 30 days, and provide us with images of the product fitted to your teeth, within 14 days of reporting this. Remember, a period of adjustment is to be expected when you first receive your product.</p>
<p>If you have not previously sent us images of your natural teeth please also provide these to help with the assessment.</p>
<p>The technician will make an assessment and where necessary provide a solution which may or may not incur a fee, depending on the suggested outcome (e.g. a different shade).</p>
<p>In some cases, the technician may advise this is not possible and may assess your order for partial refund* of up to 75% of the order value at their discretion.</p>
<p>Please note if the issue is with only one arch, we will only assess a partial refund* on this part of the order.</p>
<p>We may ask for the product to be returned, tracked and traced at your own cost, if a partial refund is being agreed. If the veneer fits well, and provides a cosmetic uplift on your natural dental profile, then no refund or remake will be provided.</p>
<p>Should your custom veneers break within the 30 day Manufacturer's Warranty we will need you to provide:</p>
<ul>
<li><strong>Description of the issue</strong></li>
<li><strong>How did the issue occur</strong></li>
<li><strong>Clear images showing the break/crack</strong></li>
<li><strong>Short video with the product being clipped on to teeth, and then removed </strong></li>
<li><strong>Natural bite image</strong></li>
</ul>
<p><strong>30 DAY MANUFACTURER'S WARRANTY</strong></p>
<p>The 30 day Manufacturer's warranty does not cover wear and tear, loss or accidental damage, attempts to self repair or self modify, but there are some instances where a remake will be approved subject to the technician's assessment. Where this is not covered under the Manufacturer's Warranty an alternative solution will be offered.</p>
<p>***Please note any purchased impressions materials are non refundable.</p>
<p>*If you have paid via a payment plan we will reduce the value of the plan to the relevant fee and we will still 'collect' the payments until this has been cleared.</p>
<p><strong>12 MONTHS EXTENDED WARRANTY</strong></p>
<p>This covers for up to 2 arches to be replaced (i.e an upper and a lower, 2 uppers, or 2 lowers), in the event of loss, damage, breakage, wear and tear within 12 months of receiving them.</p>
<p>It is a condition of the warranty that any finance plans must be up to date or paid in full and we may need you to send us confirmation of this for some merchants.</p>
<p>The extended warranty does not cover any fit issues which should have been addressed within 30 days of receiving the under the Manufacturer's Warranty.</p>
<p>Replacements are like for like - and will be in the same design and shade as your original Instasmile.</p>
<p>Before we can replace your veneer we will need you to confirm:</p>
<p>There has been no change to your dental profile</p>
<p>The original veneers fitted fine</p>
<p>Where the product is damaged/broken we will also ask for the following information:</p>
<ul>
<li><strong>Description of the issue</strong></li>
<li><strong>How did the issue occur</strong></li>
<li><strong>Clear images and short video with the product in the mouth showing the issue</strong></li>
<li><strong>Confirm no dental profile changes</strong></li>
</ul>
<p>Once we have all the information required, the timescale for your replacement is 21 days plus shipping.</p>
</section>
</section>