
<main role="main">
<div class="show-desktop">
</div>
{% include 'order-show-mobile' %}
<section class="order-page page-template ">

<section class="order-sec-1 order-title-padding">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 show-desktop">
<h1>Orders</h1>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 show-mobile">
<h1>Orders</h1>
</div>
</div>
</div>
</section>




<div id="ordersComponent">
<section class="no-order-sec-2">
<div class="container">
<div class="row no-order-sec-2-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vertical-center text-center no-order-2-clmn">
<h2>There are no orders to display</h2>
<div class="no-order-btn text-center"><a class="btn btn-primary btn-01" role="button" href="/pages/smile-assessment-1">GET STARTED</a></div>
</div>
</div>
</div>
</section>
</div>


<section class="order-sec-3">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-sec-3-clmn-2">
<div class="order-extra-details order-extra-details-2">
<div class="container">
<div class="row">
<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
</div>
<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
<div class="sec-2-details text-center">
<h2>Over 200,000 happy customers have already found their perfect smile</h2>
<p><span>Rated GREAT on Trustpilot</span><img src="https://cdn.instasmile.com/new-website/images/sec-3-rating.svg"><span>Based on <a href="https://uk.trustpilot.com/review/instasmile.com" style="color: black; text-decoration: underline">3,709 reviews</a></span></p>
</div>
</div>
<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
</div>
</div>
</div>
<section class="home-section-3" style="margin-bottom: -50px;">
<div class="container">

<div class="row story-box-row-1 story-box-row-desk">
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Cynthia_Grant_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="person_name"> &ensp;Cynthia G<text>.</text></div>
</div>
<p>Solution: Missing</p>
<p>Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#CynthiaG" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Dean_Marshall_After.jpg);">
 <div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg">
</div>
<div class="person_name"> &ensp;Dean M<text>.</text></div>
</div>
<p>Solution: Combination Of Issues</p>
<p>Classic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#DeanM" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Amy_Morris_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="person_name"> &ensp;Amy M<text>.</text></div>
</div>
<p>Solution: Combination Of Issues</p>
<p>Classic&ensp;BL1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#AmyM" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Carol_Connelly_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="person_name"> &ensp;Carol C<text>.</text></div>
</div>
<p>Solution: Combination Of Issues</p>
<p>Classic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#CarolC" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Janie_Cameron_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg">
</div>
<div class="person_name"> &ensp;Janie C<text>.</text></div>
</div>
<p>Solution: Missing</p>
<p>Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#JanieC" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Louise_Neale_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg">
</div>
<div class="person_name"> &ensp;Louise N<text>.</text></div>
</div>
<p>Solution: Combination Of Issues</p>
<p>Classic&ensp;BL1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#LouiseN" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Christian_Diesel_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="person_name"> &ensp;Christian D<text>.</text></div>
</div>
<p>Solution: Crooked</p>
<p>Classic&ensp;A1</p>
<p class="story_hover_btn">
 <a class="btn btn-primary btn-04" data-toggle="modal" data-target="#ChristianD" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chris_Heslop_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="person_name"> &ensp;Chris H<text>.</text></div>
</div>
<p>Solution: Combination Of Issues</p>
<p>Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#ChrisH" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Daniel_Taffs_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="person_name"> &ensp;Daniel T<text>.</text></div>
</div>
<p>Solution: Combination Of Issues</p>
<p>Classic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#DanielT" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5" style="padding-bottom: 15px;">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Jessica_Hood_After.jpg);">
<div class="team_details_home">
<div class="team_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg">
</div>
<div class="person_name"> &ensp;Jessica H<text>.</text></div>
</div>
<p>Solution: Combination Of Issues</p>
<p>Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#JessicaH" role="button">More Details</a>
</p>
</div>
</div>
</div>


<div class="row story-box-row-1 story-box-row-mob">
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Cynthia_Grant_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg" class="story-person">&ensp;Cynthia G</p>
<p class="story_hide">Solution: Missing</p>
<p class="story_hide">Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#CynthiaG" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Dean_Marshall_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg" class="story-person">&ensp;Dean M</p>
<p class="story_hide">Solution: Combination Of Issues</p>
<p class="story_hide">Classic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#DeanM" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Amy_Morris_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg" class="story-person">&ensp;Amy M</p>
<p class="story_hide">Solution: Combination Of Issues</p>
<p class="story_hide">Classic&ensp;BL1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#AmyM" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Carol_Connelly_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg" class="story-person">&ensp;Carol C</p>
<p class="story_hide">Solution: Combination Of Issues</p>
<p class="story_hide">Classic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#CarolC" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Janie_Cameron_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg" class="story-person">&ensp;Janie C</p>
<p class="story_hide">Solution: Missing</p>
<p class="story_hide">Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#JanieC" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Louise_Neale_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg" class="story-person">&ensp;Louise N</p>
<p class="story_hide">Solution: Combination Of Issues</p>
<p class="story_hide">Classic&ensp;BL1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#LouiseN" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Christian_Diesel_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg" class="story-person">&ensp;Christian D</p>
<p class="story_hide">Solution: Crooked</p>
<p class="story_hide">Classic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#ChristianD" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chris_Heslop_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg" class="story-person">&ensp;Chris H</p>
<p class="story_hide">Solution: Combination Of Issues</p>
 <p class="story_hide">Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#ChrisH" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Daniel_Taffs_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg" class="story-person">&ensp;Daniel T</p>
<p class="story_hide">Solution: Combination Of Issues</p>
<p class="story_hide">Classic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#DanielT" role="button">More Details</a>
</p>
</div>
</div>
<div class="col-1-5">
<div class="story-box" style="background-image: linear-gradient(180deg,rgb(0 0 0 / 20%) 30%,rgb(0 0 0 / 20%) 100%),url(https://cdn.instasmile.com/new-website/images/results-resized/Resized_Jessica_Hood_After.jpg);">
<p class="story-person-name story_hide"><img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg" class="story-person">&ensp;Jessica H</p>
<p class="story_hide">Solution: Combination Of Issues</p>
<p class="story_hide">Dynamic&ensp;A1</p>
<p class="story_hover_btn">
<a class="btn btn-primary btn-04" data-toggle="modal" data-target="#JessicaH" role="button">More Details</a>
</p>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="CynthiaG" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
 <div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Cynthia_Grant_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Cynthia_Grant_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="ss-person-name">
Cynthia G<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times; </button>
<div class="ss-lightbox-review">
<p>Cynthia didn't like the gaps in her teeth and they made her hold back from smiling fully.<br /><br />"My clip-on veneers are exactly what I wanted. I never cover my mouth when I smile now!"</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Missing
</div>
 </div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="ss-person-name">
Cynthia G<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Cynthia_Grant_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Cynthia_Grant_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Cynthia didn't like the gaps in her teeth and they made her hold back from smiling fully.<br /><br />"My clip-on veneers are exactly what I wanted. I never cover my mouth when I smile now!"</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Missing
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="DeanM" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Dean_Marshall_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Dean_Marshall_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg">
</div>
<div class="ss-person-name">
Dean M<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times; </button>
<div class="ss-lightbox-review">
<p>Dean's teeth are short and chipped, with visible gaps between them.<br /><br />"They're everything I wanted. You'd never guess that my natural teeth look any different."</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Combination Of Issues
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Classic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

 <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg">
</div>
<div class="ss-person-name">
Dean M<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Dean_Marshall_After.jpg">
</div>
<div class="item">
 <img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Dean_Marshall_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Dean's teeth are short and chipped, with visible gaps between them.<br /><br />"They're everything I wanted. You'd never guess that my natural teeth look any different."</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
 Solution: Combination Of Issues
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Classic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="AmyM" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">
 
<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Amy_Morris_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Amy_Morris_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="ss-person-name">
Amy M<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times; </button>
<div class="ss-lightbox-review">
<p>Amy was self conscious about the gap in her teeth and wanted to find a solution that didn't cost thousands.<br /><br />"I'm so glad I chose instasmile, I'm no longer paradoid about people looking at my teeth when I speak. In facct, I want them to now!"</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Combination Of Issues
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Classic BL1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="ss-person-name">
Amy M<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Amy_Morris_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Amy_Morris_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Amy was self conscious about the gap in her teeth and wanted to find a solution that didn't cost thousands.<br /><br />"I'm so glad I chose instasmile, I'm no longer paradoid about people looking at my teeth when I speak. In facct, I want them to now!"</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Combination Of Issues
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Classic BL1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="CarolC" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Carol_Connelly_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Carol_Connelly_Before.jpg">
 </div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="ss-person-name">
Carol C<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times; </button>
<div class="ss-lightbox-review">
<p>Carol's teeth have stained over time, and she wanted to feel more comfortable smiling freely.<br /><br />"My clip-on veneers have made me smile wider than I have in years. I feel amazing wearing my clip-on veneers"</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Combination Of Issues
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Classic A1
</div>
</div>
 </div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="ss-person-name">
Carol C<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Carol_Connelly_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Carol_Connelly_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Carol's teeth have stained over time, and she wanted to feel more comfortable smiling freely.<br /><br />"My clip-on veneers have made me smile wider than I have in years. I feel amazing wearing my clip-on veneers"</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Combination Of Issues
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Classic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="JanieC" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Janie_Cameron_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Janie_Cameron_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg">
</div>
<div class="ss-person-name">
Janie C<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times; </button>
<div class="ss-lightbox-review">
<p>Janie lost her front tooth a few years ago, and she had been looking into possible solutions, when she found instasmile.<br /><br />"I'm a new woman with my instasmile in! I'm so grateful."</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Missing
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg">
 </div>
<div class="ss-person-name">
Janie C<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Janie_Cameron_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Janie_Cameron_Before.jpg">
</div>
</div>
</div>
</div>


 <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Janie lost her front tooth a few years ago, and she had been looking into possible solutions, when she found instasmile.<br /><br />"I'm a new woman with my instasmile in! I'm so grateful."</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Missing
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="LouiseN" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
 <div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Louise_Neale_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Louise_Neale_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg">
</div>
<div class="ss-person-name">
Louise N<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times; </button>
<div class="ss-lightbox-review">
<p>Louise's teeth weren't as white as she would have liked and a few gaps were visible when she smiled.<br /><br />"I'm so much happier showing my teeth when I smile thanks to instasmile, they look so real!"</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Combination Of Issues
 </div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Classic BL1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
 <div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg">
</div>
<div class="ss-person-name">
Louise N<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Louise_Neale_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Louise_Neale_Before.jpg">
</div>
 </div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Louise's teeth weren't as white as she would have liked and a few gaps were visible when she smiled.<br /><br />"I'm so much happier showing my teeth when I smile thanks to instasmile, they look so real!"</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Combination Of Issues
</div>
 </div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Classic BL1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="ChristianD" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Christian_Diesel_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Christian_Diesel_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="ss-person-name">
Christian D<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times; </button>
<div class="ss-lightbox-review">
<p>Christian's natural teeth have discoloured over time, and he was looking for an affordable solution.<br /><br />"I wanted my teeth to still look my teeth, but whiter. I love the end result!"</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
 <div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Crooked
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Classic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
 <div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="ss-person-name">
Christian D<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Christian_Diesel_After.jpg">
 </div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Christian_Diesel_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Christian's natural teeth have discoloured over time, and he was looking for an affordable solution.<br /><br />"I wanted my teeth to still look my teeth, but whiter. I love the end result!"</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
 <img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Crooked
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Classic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="ChrisH" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chris_Heslop_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chris_Heslop_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
</div>
<div class="ss-person-name">
Chris H<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times; </button>
<div class="ss-lightbox-review">
<p>Chris started his instasmile journey over 5 years ago and believes the product has improved with age.<br /><br />"You can do everything you normally do, as long as you keep them clean. They are awesome!"</p>
</div>
</div>
<div class="row modal-inner-row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<br />
<div class="smile-lightbox-btn">
<a class="btn btn-primary" href="https://youtu.be/9L8aXTJkePY" role="button" target="_blank">
Watch my review on
<img class="ss-youtube-btn" src="https://cdn.instasmile.com/new-website/images/button-more-info.png" />
</a>
</div>
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Combination Of Issues
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
 <img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_1.svg">
 </div>
<div class="ss-person-name">
Chris H<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chris_Heslop_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chris_Heslop_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Chris started his instasmile journey over 5 years ago and believes the product has improved with age.<br /><br />"You can do everything you normally do, as long as you keep them clean. They are awesome!"</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="smile-lightbox-btn">
<a class="btn btn-primary" href=" https://youtu.be/9L8aXTJkePY" role="button" target="_blank">
Watch my review on
<img class="ss-youtube-btn" src="https://cdn.instasmile.com/new-website/images/button-more-info.png" />
</a>
</div>
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
 <div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Combination Of Issues
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="DanielT" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Daniel_Taffs_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Daniel_Taffs_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="ss-person-name">
Daniel T<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times; </button>
<div class="ss-lightbox-review">
<p>Daniel's been enjoying his new smile for three years and it's made a huge difference to his life.<br /><br />"I looked at a few permanent solutions for my teeth, but they were too expensive. My clip-on veneers do an amazing job at perfecting my smile. I couldn't be without them."</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Combination Of Issues
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Classic A1
</div>
</div>
</div>
</div>
</div>
</div>
 
</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg">
</div>
<div class="ss-person-name">
Daniel T<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
 <div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Daniel_Taffs_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Daniel_Taffs_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Daniel's been enjoying his new smile for three years and it's made a huge difference to his life.<br /><br />"I looked at a few permanent solutions for my teeth, but they were too expensive. My clip-on veneers do an amazing job at perfecting my smile. I couldn't be without them."</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Combination Of Issues
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Classic A1
</div>
</div>
</div>
</div>
</div>
 </div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="modal fade ss-modal" id="JessicaH" tabindex="-1" aria-labelledby="smile-modal-label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">

<div class="smile-stories-lightbox show-desktop">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Jessica_Hood_After.jpg">
 </div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Jessica_Hood_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg">
</div>
<div class="ss-person-name">
Jessica H<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times; </button>
<div class="ss-lightbox-review">
<p>Jessica decided to start her smile journey after suffering damage to her teeth due to a drug addiction and a violent relationship.<br /><br />"I actually speak to people now. I volunteer at a lot of places so it makes it easier for me to talk to someone. These are life changing. This has changed my life"</p>
</div>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn ">
<br />
<div class="smile-lightbox-btn">
<a class="btn btn-primary" href="https://www.youtube.com/watch?v=gpnYB_gBSFw" role="button" target="_blank">
Watch my review on
<img class="ss-youtube-btn" src="https://cdn.instasmile.com/new-website/images/button-more-info.png" />
</a>
</div>
<div class="row lightbox-smile-style">
 <div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Combination Of Issues
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="smile-stories-lightbox show-mobile">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="modal-top-content">
<div class="ss-person-content">
<div class="insta_smile_icon">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg">
</div>
<div class="ss-person-name">
Jessica H<text>.</text>
</div>
</div>
<button type="button" class="close modal-close-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="ss-person-images">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Jessica_Hood_After.jpg">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Jessica_Hood_Before.jpg">
</div>
</div>
</div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 light-box-clmn">
<div class="ss-lightbox-review">
<p>Jessica decided to start her smile journey after suffering damage to her teeth due to a drug addiction and a violent relationship.<br /><br />"I actually speak to people now. I volunteer at a lot of places so it makes it easier for me to talk to someone. These are life changing. This has changed my life"</p>
</div>
<div class="row modal-inner-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 modal-inner-clmn">
 <div class="smile-lightbox-btn">
<a class="btn btn-primary" href=" https://www.youtube.com/watch?v=gpnYB_gBSFw" role="button" target="_blank">
Watch my review on
<img class="ss-youtube-btn" src="https://cdn.instasmile.com/new-website/images/button-more-info.png" />
</a>
</div>
<div class="row lightbox-smile-style">
<div class="col-xs-6 modal-inner-clmn">
<div>
<img src="https://cdn.instasmile.com/new-website/images/Group_748.svg" />
Solution: Combination Of Issues
</div>
</div>
<div class="col-xs-6 modal-inner-clmn">
<div class="">
<img src="https://cdn.instasmile.com/new-website/images/Group_749.svg" />
 instasmile Dynamic A1
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>
<script type="text/javascript">
    /* YOutube Icon Change on Hover*/
    var sourceSwap = function () {
        var $this = $(this);
        var newSource = $this.data('alt-src');
        $this.data('alt-src', $this.attr('src'));
        $this.attr('src', newSource);
    }
    $(function () {
        $('img.ss-youtube-btn').hover(sourceSwap, sourceSwap);
    });
    /* YOutube Icon Change on Hover*/

    /* Start Story Image Slider Js */
    $(document).ready(function () {
        $(".ss-person-images #owl-demo").owlCarousel({
            navigation: true, // Show next and prev buttons
            center: true,
            slideSpeed: 300,
            loop: false,
            nav: true,
            autoplay: false,
            autoplayTimeout: 5000,
            navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
            autoplayHoverPause: true,
            items: 1
        });
    });
    /* End Story Image Slider Js */

    /* Start Preloader GIF File */
    var image = new Image();
    image.src = 'https://cdn.instasmile.com/new-website/images/heart_png.gif';
        /* End Preloader GIF File */
</script>


<div class="row story-more-btn">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p class=""><a class="btn btn-primary btn-02" role="button" href="/pages/result">More Results</a></p>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</section>

</section>
<script>
    function reloadOrdersComponent(getActiveOrders) {
        if (getActiveOrders) {
            $(".order-container.order-complete").hide();
            $(".order-container").not(".order-complete").show();
            $("section.order-page").removeClass("orders-history-page");
        } else {
            $(".order-container.order-complete").show();
            $(".order-container").not(".order-complete").hide();
            $("section.order-page").addClass("orders-history-page");
        }
    }
</script>