<section class="checkout-step page-template checkout–step-1-page suitability-page">


  <section class="checkout-step-sec show-desktop">
    <div class="container">
      <div class="step-border-div"></div>
      <div class="row check-out-step-row">
        <div class="col col-1-5 step-clmn">
          <a class="step-name  active
                    ">
            Suitability </a>
        </div>
        <div class="col col-1-5 step-clmn">
          <a class="step-name  ">
            Your teeth </a>
        </div>
        <div class="col col-1-5 step-clmn">
          <a class="step-name  ">
            Products </a>
        </div>
        <div class="col col-1-5 step-clmn">
          <a class="step-name  ">
            Your details </a>
        </div>
      </div>
    </div>
  </section>


  <section class="checkout-step-sec show-mobile checkout-step-sec-mob">
    <div class="back-arrow-mobile">
      <a onclick="ToggleLoading();" href="/">
        <img src="https://cdn.instasmile.com/new-website/images/button-back.svg">
      </a>
    </div>
    <div class="container">
      <div class="step-border-div"></div>
      <div class="row check-out-step-row">
        <div class="col col-1-5 step-clmn">
          <a class="step-name  active
                    ">
          </a>
        </div>
        <div class="col col-1-5 step-clmn">
          <a class="step-name  ">
          </a>
        </div>
        <div class="col col-1-5 step-clmn">
          <a class="step-name  ">
          </a>
        </div>
        <div class="col col-1-5 step-clmn">
          <a class="step-name  ">
          </a>
        </div>
        <div class="col col-1-5 step-clmn">
          <a class="step-name  ">
          </a>
        </div>
      </div>
    </div>
  </section>


  <section class="checkout-tittle-sec  checkout-1-title-sec
                  ">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 back-btn-clmn show-desktop">
          <a class="btn-back-go  btn
                    " onclick="ToggleLoading();" href="/">
            <img src="https://cdn.instasmile.com/new-website/images/button-back.svg">
            Back
          </a>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 checkout-title-clmn">
          <h1>We're sorry</h1>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
      </div>
    </div>
  </section>



  <section class="checkout-1-sec-1 checkout-section">
    <div class="container">
      <div class="row check-1-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 check-1-clmn">
          <div class="checkout-1-content">

            <div class="row checkout-1-inner-row">
              <h4 style="font-size: larger;">
                <span style="font-weight: normal;">An Instasmile would not be suitable for you right now. Please speak to your dentist and check back with us in the future.</span>
              </h4>
            </div>


            <div class="row teeth-next-btn-row check-2-inner-row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 checkout-next-btn check-2-inner-clmn">
                <button class="btn btn-primary check-active-btn" onclick="location.href='/pages/smile-assessment'">Start again<i class="fas fa-chevron-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>