
<section class="mb-banner-sec-new">
<div class="container">
<div class="row mb-b-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vertical-center text-center mb-b-clm">
<h1>Instant, Clip-On Confidence</h1>
<h3 style="color: white;">
Getting your new instasmile is easier than you might think…
</h3>
</div>
</div>
</div>
</section>
<section class="mb-sec-7">
<div class="container">
<div class="row mb-row mb-row-6-1 mb-step-7-title mb-title-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-7-1 text-center">
<h2>The Process</h2>
</div>
</div>
<div class="row mb-row mb-row-6-2 mb-step-6-block-row mb-width-row mb-p-element">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-7-1">
<div class="mb-block mistake-box">
<div class="mistake-box-img"><img src="https://cdn.instasmile.com/new-website/images/icons-grey/icon-smile-assessment.svg"></div>
<div class="mistake-box-content">
<h3>1. Take Your Smile Assessment</h3>
<p>Answer a few quick questions, and we’ll help you choose an instasmile that’s right for you.</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-7-2">
<div class="mb-block mistake-box">
<div class="mistake-box-img"><img src="https://cdn.instasmile.com/new-website/images/icons-grey/icon-order-online.svg"></div>
<div class="mistake-box-content">
<h3>
2. Order Online
</h3>
<p>Once you know which instasmile you want, place your order online securely.</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-7-1">
<div class="mb-block mistake-box">
<div class="mistake-box-img"><img src="https://cdn.instasmile.com/new-website/images/icons-grey/icon-instasmile-message.svg"></div>
<div class="mistake-box-content">
<h3>3. Keep An Eye on Your Phone & Email</h3>
<p>We’ll message you after placing your order & keep you updated along the way.</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-7-2">
<div class="mb-block mistake-box">
<div class="mistake-box-img"><img src="https://cdn.instasmile.com/new-website/images/icons-grey/icon-take-impression.svg"></div>
<div class="mistake-box-content">
<h3>4: Take Your Impression</h3>
<p>Your impression kit will arrive in the post. Carefully follow the instructions, and take an accurate impression of your teeth. Our dental technicians need an accurate impression to make your bespoke veneers.</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-7-1">
<div class="mb-block mistake-box">
<div class="mistake-box-img"><img src="https://cdn.instasmile.com/new-website/images/icons-grey/icon-double-check.svg"></div>
<div class="mistake-box-content">
<h3>5. Let Us Double-Check</h3>
<p>
Email us pictures of your impressions, and we’ll check they’re right. When we approve your impressions, you post them back to us. <b>Please do not send your impressions back to us before they have been approved by a member of the instasmile team; this could delay your order and you may incur additional costs.</b>
</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-7-2">
<div class="mb-block mistake-box">
<div class="mistake-box-img"><img src="https://cdn.instasmile.com/new-website/images/icons-grey/icon-instasmile-technicians.svg"></div>
<div class="mistake-box-content">
<h3>6. We’ll Get to Work </h3>
<p>Once we receive your impressions, our team of dental technicians get to work. We’ll spend time digitally scanning, designing and hand finishing your custom-made clip-on veneers. Once they’re ready we’ll send them to you.</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-7-1">
<div class="mb-block mistake-box">
<div class="mistake-box-img"><img src="https://cdn.instasmile.com/new-website/images/icons-grey/icon-clipon-confidence.svg"></div>
<div class="mistake-box-content">
<h3>7. Clip-On Confidence</h3>
<p>Your clip-on veneers will arrive, and you can clip them on and start smiling with confidence!</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-7-2">
<div class="mb-block mistake-box">
<div class="mistake-box-img"><img src="https://cdn.instasmile.com/new-website/images/icons-grey/icon-share-smile.svg"></div>
<div class="mistake-box-content">
<h3>
8. Share your smile!
</h3>
<p>Send us your pictures, tag us on social media and show your new smile to the world!</p>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="straighter-section-3">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p class="smile-story-line"><img src="https://cdn.instasmile.com/new-website/images/Smile_Row_Icon.svg"></p>
</div>
</div>
</div>
</section>
<section class="straighter-sec-4">
<div class="container">
<div class="row">
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_1.svg">
<p>Patented</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_6.svg" />
<p>Choice of shade	</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_3.svg">
<p>Custom-made</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_4.svg">
<p>Slimline</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_5.svg">
<p>Eat & drink</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_2.svg">
<p>Award Winning</p>
</div>
</div>
</div>
</div>
</section>
<section class="straighter-section-6 section_padding">
<div class="container">
<div class="row smile-step-title text-center">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h2>Three simple steps to your perfect instasmile</h2>
</div>
</div>

<div class="row smile-step-row smile-step-row-desk">
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 smile-step-clmn-1">
<div class="smile-step-text-over smile-step-text-over-1">
</div>
<p class="smile-step-details">
<b>Order Online</b><br />
Complete your online <a href="/pages/smile-assessment-1">Smile Assessment</a> and find the instasmile that’s right for you. Order your instasmile securely through our online store.
</p>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 smile-step-clmn-2">
<div class="smile-step-text-over smile-step-text-over-2">
</div>
<p class="smile-step-details">
<b>Make an Impression</b><br />
You’ll get your Impression Kit in the post. Read through all the instructions so you get the perfect impression, and send us a photo so we can check it’s all OK.
</p>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 smile-step-clmn-3">
<div class="smile-step-text-over smile-step-text-over-3">
</div>
<p class="smile-step-details">
<b>Receive Your New Smile</b><br />
After we’ve checked and approved your photo, send us your completed impression. We’ll then get to work on creating your brand new smile.
</p>
</div>
</div>


<div class="row smile-step-row smile-step-row-mobile">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 smile-step-clmn-1">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<div class="smile-step-text-over smile-step-text-over-1">
</div>
<p class="smile-step-details">
<b>Order Online</b><br />
Complete your online <a href="/pages/smile-assessment-1">Smile Assessment</a> and find the instasmile that’s right for you. Order your instasmile securely through our online store.
</p>
</div>
<div class="item">
<div class="smile-step-text-over smile-step-text-over-2">
</div>
<p class="smile-step-details">
<b>Make an Impression</b><br />
You’ll get your Impression Kit in the post. Read through all the instructions so you get the perfect impression, and send us a photo so we can check it’s all OK.
</p>
</div>
<div class="item">
<div class="smile-step-text-over smile-step-text-over-3">
</div>
<p class="smile-step-details">
<b>Receive Your New Smile</b><br />
After we’ve checked and approved your photo, send us your completed impression. We’ll then get to work on creating your brand new smile.
</p>
</div>
</div>
</div>
</div>

<div class="row smile-step-btn">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p><a class="btn btn-primary btn-01" role="button" href="/pages/smile-assessment-1">Get Started</a></p>
</div>
</div>
</div>
</section>
<section class="straighter-section-5 section_padding">

<div class="container">
<div class="row straighter-sec-4-row">
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 s-sec-4 clmn-1">
<div class="straighter-sec-5-details">
<h3>Find Your Answers</h3>
<p>Can the perfect smile really be this easy? We know you’ll have questions, so we’ve put together the answers you need on our FAQ page.</p>
<p><a class="btn btn-primary btn-02" role="button" href="/pages/faq">Learn More</a></p>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 s-sec-4 clmn-2">
<div class="straighter-sec-5-details">
<h3>
Am I Suitable?
</h3>
<p>At instasmile, we’re smile experts, so we have lots of knowledge to share about improving your smile. </p>
<span>&nbsp;</span>
<p><a class="btn btn-primary btn-02" role="button" href="/pages/faq">Learn More</a></p>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 s-sec-4 clmn-3">
<div class="straighter-sec-5-details">
<h3>
Make Your Impression
</h3>
<p>There’s no need to visit a dentist or make an appointment. We’ll send you the instructions and materials to make an impression at home.</p>
<p><a class="btn btn-primary btn-02" role="button" href="/pages/impression-kit-guide">Learn More</a></p>
</div>
</div>
</div>
</div>

</section>
<section class="straighter-section-3" style="background-color: #dceff5;">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p class="smile-story-line"><img src="https://cdn.instasmile.com/new-website/images/Smile_Row_Icon.svg"></p>
</div>
</div>
</div>
</section>
<section class="straighter-section-8 section_padding">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="sec-9-details text-center">
<h2>Over 200,000 happy customers have already found their perfect smile</h2>
<p class="home-sub-head"><span>Rated GREAT on Trustpilot</span><img src="https://cdn.instasmile.com/new-website/images/sec-3-rating.svg"><span>Based on <a href="https://uk.trustpilot.com/review/instasmile.com" style="color: black; text-decoration: underline">3,703 reviews</a></span></p>
</div>
</div>
</div>
</div>
<div class="row client-testimonial">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 testimonial-col">
<div id="owl-demo" class="owl-carousel owl-reviews owl-theme owl-height">
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618e333601034f34babd1656" target="_blank">Cheryl-lee</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Thank you so much to the instasmile team for all your hard work. And also the great communication &#x1F44F; I absolutely love love my new smile I have gained...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618d850601034f34babcc00b" target="_blank">Nicola</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I&#x27;m so happy with my veneers they give me so much more confidence I can now smile &#x1F603;</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618d6a31fb38891f5f08f6ec" target="_blank">Donna Thompson</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I spoke to jack very understanding .explained in an easy way of how to take the impression very helpful</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618c33cdfb38891f5f07f497" target="_blank">Karen Grant</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I&#x27;m so happy with my veneers they are perfect.. Just wot I wanted and so easy to use. Strong and durable too.. I&#x27;m delighted I got them.. Will prob...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618c111901034f34babb7c77" target="_blank">Ms Mills</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Brilliant service and excellent end product. Very happy &#x1F60A;</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618bb6ed75069a4da49edc69" target="_blank">Carol</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">They service from this company is amazing from start to finish just can&#x2019;t fault them end product amazing all staff amazing Thanks for a great...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618a6d8d234f1b1fe572c6b2" target="_blank">Hair at Christines </a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I am so happy with my instasmile. My first set didn&#x2019;t fit me but they worked with me and gave me lots of feedback and support to get my impression...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618984a875069a4da49d32ba" target="_blank">Mark Lyles</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I am so pleased with my intasmile veneers! I have purchased veneers from another company and not only were they more expensive but they are not near...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6189674975069a4da49d0edf" target="_blank">Sherrilynn</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I am absolutely obsessed with my Instasmile!! I have not smiled with my teeth showing in 10&#x2B; years, now I can&#x27;t stop :) I love how thin they are so...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6187e47b75069a4da49bdc7d" target="_blank">Mauricio Alejandro Villalobos</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">And now, for your reading pleasure, a pre-view that trusts instasmile will deliver nothing less than their serendipitous has, and if I may indulge,...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/61842a10234f1b1fe56e7653" target="_blank">Martyn</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Excellent service throughout the process. I had initially gone for an upper set of veneers as I was unsure if it was a good move but once my...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618425d175069a4da499787b" target="_blank">Julie Mccarthy</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Excellent company very helpful phone back when ask answers emails looking forward to receiving my veneers high recommend</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182de7975069a4da4986589" target="_blank">Talus2</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Stellar Performance !</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182d34d75069a4da49857ee" target="_blank">victor cancel</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">My smiles looks beautiful. I feel like a brand new person &#x2665;&#xFE0F;</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182734675069a4da497dd2b" target="_blank">Ann Stickney</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Quick turnaround time after they approve impressions. Super customer service team. Fit was perfect and they look great and natural.</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182637275069a4da497c98e" target="_blank">Luna Sheehan</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I highly recommend, before getting these I had no confidence and hadn&#x27;t smiled in many years since getting these instasmile veneers I have been...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618146ef75069a4da496f5cf" target="_blank">Phil Carl Griffin</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">The process is slightly lengthy, but the results are amazing! I&#x27;ve ordered twice with Instasmile, and will continue with them in the future.</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/617c020c75069a4da4938bf7" target="_blank">Hillary Bartlett</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Friendly, amazing service. Very happy with the whole experience.</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/617999e9234f1b1fe5669f61" target="_blank">Thonya Biage</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Instasmile gave me a reason to smile again!! A really big beautiful smile!</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6178821c234f1b1fe565c996" target="_blank">MRS P CHARMAN</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Instasmile were brilliant, friendly helpful staff that helped me all the way through, and a great end product.&#xA;The only thing I was disappointed about...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
</div>
</div>
</div>
</section>