
<section class="mb-banner-sec">
<div class="container">
<div class="row mb-b-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vertical-center text-center mb-b-clm">
 <h1>The Perfect Instasmile Starts With A Great First Impression</h1>
</div>
</div>
</div>
</section>
<section class="mb-sec-6" style="padding-bottom: 70px;">
<div class="container">
<div class="row mb-row mb-row-6-1 mb-step-6-title mb-title-row"></div>
<div class="row mb-row mb-row-6-2 mb-step-6-block-row mb-width-row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-6-1 mb-clmn-6-img mb-img-left vertical-center">
<div class="img-width"><img src="https://cdn.instasmile.com/new-website/images/impression-kit-guide/block3_alternative.png"></div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-6-2 mb-step-6-block-clmn">
<div class="mb-step-6-box mb-block">
<h2 class="mb-h2">Make A Great Impression</h2>
<p>
Making a great first impression means having a great smile. And having a great instasmile means making a great first impression. Following the instructions carefully means you’ll provide an accurate impression that our skilled smile experts can work their magic with.
</p>
</div>
</div>
</div>
</div>
</section>
<section class="mb-sec-3">
<div class="container">
<div class="row mb-row mb-row-3-1 mb-step-3-title mb-title-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-3-1 text-center">
<h2>Our Guide to Using Your Instasmile Impression Kit</h2>
<p class="home-sub-head">
We understand that this may be a new experience for you. Your impression kit and instructions leaflet will contain all the information you need to make a great impression for your new clip-on veneers.
</p>
<p class="home-sub-head" style="margin-bottom: -15px;">
<b>Ready to Take Your Impressions</b>
</p>
<p class="home-sub-head">
<b>Select the impression kit you have received below</b><br />
<span style="color: red;font-size: medium;">It's important that you select the right impression kit as each kit has slighly different guide</span>
</p>
<div class="row mb-row mb-row-4-2 mb-step-4-block-row" style="padding-bottom: 0px;">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 mb-clmn mb-clmn-4-2 text-center mb-step-4-block-clmn">
<div class="mb-step-4-box mb-block">
<h3 class="p-0">NEW - No Stress Impression Kit</h3>
<p>(Reusable Kit)</p>
<a href="#NSIK">
<img class="image-responsive-width" src="https://cdn.instasmile.com/new-website/images/instasmile_nsi_impression_kit.png">
</a>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-clmn mb-clmn-4-2 text-center mb-step-4-block-clmn">
<div class="mb-step-4-box mb-block">
<h3>Original Impression Kit</h3>
<a href="#OIK">
<img class="image-responsive-width" src="https://cdn.instasmile.com/new-website/images/instasmile_impression_kit.jpg">
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="mb-sec-3">
<div class="container">
<div class="row mb-row mb-row-3-1 mb-step-3-title mb-title-row" style="padding-top: 50px;">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-3-1 text-center">
<h3 style="font-size: medium;"><a id="NSIK"></a>NEW No Stress Impression Kit Video</h3>
<div class="row mb-row mb-row-1">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-1-1">
<iframe width="100%" height="650" src="https://www.youtube.com/embed/5AMdqIyKctg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<p class="home-sub-head">
You’ve watched the video, read through the instructions, and prepared everything you need. Now it’s time to take your impressions.
</p>
<p class="home-sub-head">
Keep your instructions to hand and follow them carefully. You can download a copy here if you need to:
</p>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-12 text-center">
<p><a href="https://cdn.instasmile.com/docs/nsi-upper-instructions-mobile-doc.pdf" target="_blank">Top Impression Instructions</a></p>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-12 text-center">
<p><a href="https://cdn.instasmile.com/docs/nsi-lower-instructions-mobile-doc.pdf" target="_blank">Bottom Impression Instructions</a></p>
</div>
</div>
</div>
</section>
<section class="mb-sec-3">
<div class="container">
<div class="row mb-row mb-row-3-1 mb-step-3-title mb-title-row" style="padding-top: 50px;">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-3-1 text-center">
<h3 style="font-size: medium;"><a id="OIK"></a>The Original Impression Kit Video</h3>
<div class="row mb-row mb-row-1">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-1-1">
<iframe width="100%" height="650" src="https://www.youtube.com/embed/nEOWxImbBqU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<p class="home-sub-head">
You’ve watched the video, read through the instructions, and prepared everything you need. Now it’s time to take your impressions.
</p>
<p class="home-sub-head">
Keep your instructions to hand and follow them carefully. You can download a copy here if you need to:
</p>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-12 text-center">
<p><a href="https://cdn.instasmile.com/docs/upper-instructions-mobile-doc.pdf" target="_blank">Top Impression Instructions</a></p>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-12 text-center">
<p><a href="https://cdn.instasmile.com/docs/lower-instructions-mobile-doc.pdf" target="_blank">Bottom Impression Instructions</a></p>
</div>
</div>
</div>
</section>
<section class="mb-sec-4">
<div class="container">
<div class="row mb-row mb-row-4-1 mb-step-4-title mb-title-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-4-1 text-center">
<h2>Check Your Impressions Yourself</h2>
</div>
</div>
<div class="row mb-row mb-row-4-2 mb-step-4-block-row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-4-2 text-center mb-step-4-block-clmn">
<div class="mb-step-4-box mb-block">
<img class="image-responsive-width" src="https://cdn.instasmile.com/new-website/images/impression-kit-guide/block6-a.jpg">
<h3>A. Visible Gum Line</h3>
<p>This is the area above where your teeth are. This is required on the impression to ensure that your instasmile does not come into contact with your gums as this can cause irritation.</p>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-4-2 text-center mb-step-4-block-clmn">
<div class="mb-step-4-box mb-block">
<img class="image-responsive-width" src="https://cdn.instasmile.com/new-website/images/impression-kit-guide/block6-b.jpg">
<h3>B. Clear Margins</h3>
<p>
This is the outline of your teeth where your tooth hits your gums. These should always be a clear rounded shape at the top. Without clear margins, the technicians will not know the full shape of your teeth and your instasmile may not fully cover your teeth.
</p>
</div>
</div>
</div>
<div class="row mb-row mb-row-4-3 mb-step-4-block-row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-4-2 text-center mb-step-4-block-clmn">
<div class="mb-step-4-box mb-block">
<img class="image-responsive-width" src="https://cdn.instasmile.com/new-website/images/impression-kit-guide/block6-c.jpg">
<h3>
C. One Color
</h3>
<p>The impression putty must be one solid color with no white streaks. If white streaks are visible, the putty will not be fully set. This then allows the putty to shrink and we will not have a full representation of your teeth.</p>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-4-2 text-center mb-step-4-block-clmn">
<div class="mb-step-4-box mb-block">
<img class="image-responsive-width" src="https://cdn.instasmile.com/new-website/images/impression-kit-guide/block6-d.jpg">
<h3>D. Good Depth</h3>
<p>Good depth comes in the form of A & B being visible in your impression. Again, without good depth, the impression is not a true representation of your mouth and can cause fit issues with the instasmile.</p>
</div>
</div>
</div>
</div>
</section>
<section class="mb-sec-5">
<div class="container">
<div class="row mb-row mb-row-5-1 mb-step-5-title mb-title-row"></div>
<div class="row mb-row mb-row-5-2 mb-step-5-block-row mb-width-row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-5-2 mb-clmn-5-img mb-img-right vertical-center show-mobile">
<div class="img-width"><img src="https://cdn.instasmile.com/new-website/images/impression-kit-guide/block4.png"></div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-5-2 mb-step-5-block-clmn">
<div class="mb-step-5-box mb-block">
<p>
instasmile clip-on veneers are custom-made to fit your teeth perfectly, so we need an accurate impression of your teeth and gum line. We have a great online video, and detailed instructions to help you achieve this. If you need any additional help or support, we have a friendly team of experts on hand to assist you.
</p>
<p>
REMEMBER: Please <b>ALWAYS</b> send us a photo of your impression for approval prior to sending them in to us.
</p>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-5-2 mb-clmn-5-img mb-img-right vertical-center show-desktop">
<div class="img-width"><img src="https://cdn.instasmile.com/new-website/images/impression-kit-guide/block4.png"></div>
</div>
</div>
</div>
</section>
<section class="straighter-sec-4">
<div class="row mb-row mb-row-5-1 mb-step-5-title mb-title-row"></div>
<div class="container">
<div class="row">
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_1.svg">
<p>Patented</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_6.svg" />
<p>Choice of shade	</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_3.svg">
<p>Custom-made</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_4.svg">
<p>Slimline</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_5.svg">
<p>Eat & drink</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_2.svg">
<p>Award Winning</p>
</div>
</div>
</div>
</div>
</section>
<section class="mb-sec-2">
<div class="container">
<div class="row mb-row mb-row-3-1 mb-step-3-title mb-title-row" style="padding-top: 0px;">
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-2-2 text-center">
<div class="mb-center-icon-block mb-block">
<h3 style="padding-top: 40px;">Place Your Order</h3>
<p>
Ready to order your instasmile impression kit so we can custom-make your new clip on veneers? Here’s how to do it.
</p>
<span>&nbsp;</span>
<p><a class="btn btn-primary btn-02" role="button" href="/pages/knowledge-base">Learn More</a></p>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-2-2 text-center">
<div class="mb-center-icon-block mb-block">
<h3 style="padding-top: 40px;">Expand Your Knowledge</h3>
<p>
At instasmile, we’re aesthetic dentistry experts, so we have lots of knowledge to share about dental cosmetics.
</p>
<span>&nbsp;</span>
<p><a class="btn btn-primary btn-02" role="button" href="/pages/knowledge-base">Learn More</a></p>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-2-2 text-center">
<div class="mb-center-icon-block mb-block">
<h3 style="padding-top: 40px;">Meet instasmile</h3>
<p>
Here at instasmile, we want the whole world to smile with confidence. Affordable, clip-on confidence. That’s the instasmile promise.
</p>
<p><a class="btn btn-primary btn-02" role="button" href="/pages/who-we-are">Learn More</a></p>
</div>
</div>
</div>
</div>
</section>
<section class="straighter-section-8 section_padding">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="sec-9-details text-center">
<h2>Over 200,000 happy customers have already found their perfect smile</h2>
<p class="home-sub-head"><span>Rated GREAT on Trustpilot</span><img src="https://cdn.instasmile.com/new-website/images/sec-3-rating.svg"><span>Based on <a href="https://uk.trustpilot.com/review/instasmile.com" style="color: black; text-decoration: underline">3,703 reviews</a></span></p>
</div>
</div>
</div>
</div>
<div class="row client-testimonial">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 testimonial-col">
<div id="owl-demo" class="owl-carousel owl-reviews owl-theme owl-height">
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618e333601034f34babd1656" target="_blank">Cheryl-lee</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Thank you so much to the instasmile team for all your hard work. And also the great communication &#x1F44F; I absolutely love love my new smile I have gained...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618d850601034f34babcc00b" target="_blank">Nicola</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I&#x27;m so happy with my veneers they give me so much more confidence I can now smile &#x1F603;</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618d6a31fb38891f5f08f6ec" target="_blank">Donna Thompson</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I spoke to jack very understanding .explained in an easy way of how to take the impression very helpful</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618c33cdfb38891f5f07f497" target="_blank">Karen Grant</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I&#x27;m so happy with my veneers they are perfect.. Just wot I wanted and so easy to use. Strong and durable too.. I&#x27;m delighted I got them.. Will prob...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618c111901034f34babb7c77" target="_blank">Ms Mills</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Brilliant service and excellent end product. Very happy &#x1F60A;</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618bb6ed75069a4da49edc69" target="_blank">Carol</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">They service from this company is amazing from start to finish just can&#x2019;t fault them end product amazing all staff amazing Thanks for a great...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618a6d8d234f1b1fe572c6b2" target="_blank">Hair at Christines </a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I am so happy with my instasmile. My first set didn&#x2019;t fit me but they worked with me and gave me lots of feedback and support to get my impression...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618984a875069a4da49d32ba" target="_blank">Mark Lyles</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I am so pleased with my intasmile veneers! I have purchased veneers from another company and not only were they more expensive but they are not near...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6189674975069a4da49d0edf" target="_blank">Sherrilynn</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I am absolutely obsessed with my Instasmile!! I have not smiled with my teeth showing in 10&#x2B; years, now I can&#x27;t stop :) I love how thin they are so...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6187e47b75069a4da49bdc7d" target="_blank">Mauricio Alejandro Villalobos</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">And now, for your reading pleasure, a pre-view that trusts instasmile will deliver nothing less than their serendipitous has, and if I may indulge,...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/61842a10234f1b1fe56e7653" target="_blank">Martyn</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Excellent service throughout the process. I had initially gone for an upper set of veneers as I was unsure if it was a good move but once my...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618425d175069a4da499787b" target="_blank">Julie Mccarthy</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Excellent company very helpful phone back when ask answers emails looking forward to receiving my veneers high recommend</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182de7975069a4da4986589" target="_blank">Talus2</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Stellar Performance !</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182d34d75069a4da49857ee" target="_blank">victor cancel</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">My smiles looks beautiful. I feel like a brand new person &#x2665;&#xFE0F;</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182734675069a4da497dd2b" target="_blank">Ann Stickney</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Quick turnaround time after they approve impressions. Super customer service team. Fit was perfect and they look great and natural.</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
 <p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182637275069a4da497c98e" target="_blank">Luna Sheehan</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I highly recommend, before getting these I had no confidence and hadn&#x27;t smiled in many years since getting these instasmile veneers I have been...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618146ef75069a4da496f5cf" target="_blank">Phil Carl Griffin</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">The process is slightly lengthy, but the results are amazing! I&#x27;ve ordered twice with Instasmile, and will continue with them in the future.</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/617c020c75069a4da4938bf7" target="_blank">Hillary Bartlett</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Friendly, amazing service. Very happy with the whole experience.</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/617999e9234f1b1fe5669f61" target="_blank">Thonya Biage</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Instasmile gave me a reason to smile again!! A really big beautiful smile!</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6178821c234f1b1fe565c996" target="_blank">MRS P CHARMAN</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Instasmile were brilliant, friendly helpful staff that helped me all the way through, and a great end product.&#xA;The only thing I was disappointed about...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
</div>
</div>
</div>
</section>