<section class="faq-cat-page page-template faqs-page section_padding">
<section class="faq-cat-search-sec">
<div class="container">
<div class="row faq-cat-search-row text-center">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 faq-s-clmn">

<div class="faq-search-div">
<div class="faq-search-input">
<input type="text" id="faq_search" onkeyup="faq_search_fun()" placeholder="Type keywords to find answers" title="">
<span id="clear" class="search-icon"><i class="fas fa-times"></i></span>
</div>
<ul id="faq-que-list">
<li class="cat-search-box"><a href="/pages/what-is-instasmile">What is instasmile</a></li>
<li class="faq-que-search"><a href="/blogs/news/what-is-instasmile">What is instasmile?</a></li>
<li class="faq-que-search"><a href="/blogs/news/what-is-instasmile-made-from">What is instasmile made from?</a></li>
<li class="faq-que-search"><a href="/blogs/news/what-is-the-difference-between-the-classic-and-dynamic-instasmile-2">What is the difference between the Classic and Dynamic instasmile?</a></li>
<li class="faq-que-search"><a href="/blogs/news/can-i-still-buy-the-platinum-product">Can I still buy the Platinum product?</a></li>
<li class="faq-que-search"><a href="/blogs/news/how-many-shades-are-there-to-choose-from">How many shades are there to choose from?</a></li>
<li class="faq-que-search"><a href="/blogs/news/why-do-you-no-longer-offer-straighter-or-natural-designs">Why do you no longer offer straighter or natural designs?</a></li>
<li class="faq-que-search"><a href="/blogs/news/does-it-hurt">Does it hurt?</a></li>
<li class="faq-que-search"><a href="/blogs/news/do-i-need-to-see-a-dentist">Do I need to see a dentist?</a></li>
<li class="faq-que-search"><a href="/blogs/news/will-it-damage-my-own-teeth">Will it damage my own teeth?</a></li>
<li class="faq-que-search"><a href="/blogs/news/can-i-eat-and-drink-with-my-instasmile">Can I eat and drink with my instasmile?</a></li>
<li class="faq-que-search"><a href="/blogs/news/can-i-smoke-in-them">Can I smoke in them?</a></li>
<li class="faq-que-search"><a href="/blogs/news/can-i-kiss-with-them-in">Can I kiss with them in?</a></li>
<li class="faq-que-search"><a href="/blogs/news/will-they-stain">Will they stain?</a></li>
<li class="faq-que-search"><a href="/blogs/news/will-i-have-a-lisp">Will I have a lisp?</a></li>
<li class="faq-que-search"><a href="/blogs/news/how-long-does-instasmile-last">How long does instasmile last?</a></li>
<li class="faq-que-search"><a href="/blogs/news/covid-19-coronavirus">COVID-19 (Coronavirus)</a></li>
<li class="cat-search-box"><a href="/pages/suitability">Suitability</a></li>
<li class="faq-que-search"><a href="/blogs/news/am-i-suitable">Am I suitable?</a></li>
 <li class="faq-que-search"><a href="/blogs/news/i-have-missing-teeth-can-i-use-instasmile">I have missing teeth, can I use instasmile?</a></li>
<li class="faq-que-search"><a href="/blogs/news/which-instasmile-is-best-for-me">Which instasmile is best for me?</a></li>
<li class="faq-que-search"><a href="/blogs/news/i-suffer-from-excessive-plaque-or-tooth-decay-can-i-still-use-instamile">I suffer from excessive plaque or tooth decay, can I still use instamile?</a></li>
<li class="faq-que-search"><a href="/blogs/news/does-it-cover-discoloured-teeth">Does it cover discoloured teeth?</a></li>
<li class="faq-que-search"><a href="/blogs/news/will-my-tooth-be-visible-where-my-instasmile-clips-on">Will my tooth be visible where my instasmile clips on?</a></li>
<li class="faq-que-search"><a href="/blogs/news/i-have-crowns-bridges-veneers-or-implants-can-i-use-instasmile">I have crowns, bridges, veneers or implants, can I use instasmile?</a></li>
<li class="faq-que-search"><a href="/blogs/news/i-suffer-from-severe-gum-disease-or-severe-gum-recession-can-i-use-instamile">I suffer from severe gum disease or severe gum recession, can I use instamile?</a></li>
<li class="faq-que-search"><a href="/blogs/news/i-have-a-fixed-braces-or-a-fixed-retainer-can-i-use-instasmile">I have a fixed braces or a fixed retainer, can I use instasmile?</a></li>
<li class="faq-que-search"><a href="/blogs/news/i-have-loose-or-brittle-teeth-can-i-use-instamile">I have loose or brittle teeth, can I use instamile?</a></li>
<li class="faq-que-search"><a href="/blogs/news/i-have-an-underbite-and-or-a-crossbite-can-i-use-instasmile">I have an underbite and/or a crossbite, can I use instasmile?</a></li>
<li class="faq-que-search"><a href="/blogs/news/i-have-heavily-ground-down-teeth-can-i-use-instasmile">I have heavily ground down teeth, can I use instasmile?</a></li>
<li class="cat-search-box"><a href="/pages/pricing">Pricing</a></li>
<li class="faq-que-search"><a href="/blogs/news/how-much-does-instasmile-cost">How much does instasmile cost?</a></li>
<li class="faq-que-search"><a href="/blogs/news/can-i-spread-the-cost">Can I spread the cost?</a></li>
<li class="cat-search-box"><a href="/pages/payment-plans">Payment Plans</a></li>
<li class="faq-que-search"><a href="/blogs/news/can-i-change-the-date-of-my-payments">Can I change the date of my payments?</a></li>
<li class="faq-que-search"><a href="/blogs/news/will-my-order-be-delayed-if-i-pay-using-a-payment-plan">Will my order be delayed if I pay using a payment plan?</a></li>
<li class="faq-que-search"><a href="/blogs/news/what-if-i-miss-any-payments">What if I miss any payments?</a></li>
<li class="faq-que-search"><a href="/blogs/news/what-if-i-need-to-change-the-card-number-on-my-payment-plan">What if I need to change the card number on my payment plan?</a></li>
<li class="faq-que-search"><a href="/blogs/news/partial-ly-do-i-need-to-create-a-partial-ly-account-to-open-a-payment-plan">Partial.ly - Do I need to create a Partial.ly account to open a payment plan?</a></li>
<li class="faq-que-search"><a href="/blogs/news/partial-ly-how-do-i-create-a-partial-ly-account">Partial.ly - How do I create a Partial.ly account?</a></li>
<li class="faq-que-search"><a href="/blogs/news/partial-ly-how-do-i-log-into-my-partial-ly-account">Partial.ly - How do I log into my Partial.ly account?</a></li>
<li class="faq-que-search"><a href="/blogs/news/partial-ly-does-partial-ly-require-a-credit-check-to-open-a-payment-plan">Partial.ly - Does Partial.ly require a credit check to open a payment plan?</a></li>
<li class="faq-que-search"><a href="/blogs/news/partial-ly-does-partial-ly-accept-paypal">Partial.ly - Does Partial.ly accept PayPal?</a></li>
<li class="faq-que-search"><a href="/blogs/news/partial-ly-what-payment-methods-does-partial-ly-accept">Partial.ly - What payment methods does Partial.ly accept?</a></li>
<li class="faq-que-search"><a href="/blogs/news/partial-ly-my-payment-method-was-lost-stolen-or-cancelled-how-can-i-add-a-new-payment-method">Partial.ly - My payment method was lost, stolen or cancelled. How can I add a new payment method?</a></li>
<li class="faq-que-search"><a href="/blogs/news/partial-ly-when-will-i-receive-my-order">Partial.ly - When will I receive my order?</a></li>
<li class="faq-que-search"><a href="/blogs/news/partial-ly-i-never-received-my-order-what-can-i-do">Partial.ly - I never received my order. What can I do?</a></li>
<li class="faq-que-search"><a href="/blogs/news/partial-ly-who-is-the-merchant-of-my-plan">Partial.ly - Who is the merchant of my plan?</a></li>
<li class="faq-que-search"><a href="/blogs/news/partial-ly-can-i-change-my-payment-schedule">Partial.ly - Can I change my payment schedule?</a></li>
<li class="faq-que-search"><a href="/blogs/news//partial-ly-can-i-cancel-my-payment-plan-after-it-has-been-opened">Partial.ly - Can I cancel my payment plan after it has been opened?</a></li>
<li class="faq-que-search"><a href="/blogs/news/zip-what-is-zip">Zip - What is Zip?</a></li>
<li class="faq-que-search"><a href="/blogs/news/zip-how-can-i-contact-zip">Zip - How can I contact Zip?</a></li>
<li class="faq-que-search"><a href="/blogs/news/zip-what-does-it-cost-to-use-zip">Zip - What does it cost to use Zip?</a></li>
<li class="faq-que-search"><a href="/blogs/news/zip-are-there-late-fees">Zip - Are there late fees?</a></li>
<li class="faq-que-search"><a href="/blogs/news/zip-is-there-a-hard-credit-check">Zip - Is there a hard credit check?</a></li>
<li class="faq-que-search"><a href="/blogs/news/zip-how-do-refunds-to-the-customer-work">Zip - How do refunds to the customer work?</a></li>
<li class="faq-que-search"><a href="/blogs/news/zip-what-payment-types-are-accepted">Zip - What payment types are accepted?</a></li>
<li class="faq-que-search"><a href="/blogs/news/zip-who-can-use-zip">Zip - Who can use Zip?</a></li>
<li class="faq-que-search"><a href="/blogs/news/zip-where-can-i-review-my-plan">Zip - Where can I review my plan?</a></li>
<li class="faq-que-search"><a href="/blogs/news/zip-is-there-a-limit-to-how-much-i-can-spend-on-zip">Zip - Is there a limit to how much I can spend on Zip?</a></li>
<li class="cat-search-box"><a href="/pages/order-process">Order Process</a></li>
<li class="faq-que-search"><a href="/blogs/news/what-is-the-order-process">What is the order process?</a></li>
<li class="faq-que-search"><a href="/blogs/news/what-happens-after-i-place-my-order">What happens after I place my order?</a></li>
<li class="faq-que-search"><a href="/blogs/news/can-i-track-my-order">Can I track my order?</a></li>
<li class="faq-que-search"><a href="/blogs/news/how-long-does-it-take">How long does it take?</a></li>
<li class="faq-que-search"><a href="/blogs/news/can-i-change-my-shade">Can I change my shade?</a></li>
<li class="faq-que-search"><a href="/blogs/news/can-i-change-to-a-different-product-or-solution">Can I change to a different product / solution?</a></li>
<li class="faq-que-search"><a href="/blogs/news/how-do-i-contact-you">How do I contact you?</a></li>
<li class="faq-que-search"><a href="/blogs/news/what-is-your-refund-policy">What is your refund policy?</a></li>
<li class="cat-search-box"><a href="/pages/impressions">Impressions</a></li>
<li class="faq-que-search"><a href="/blogs/news/what-is-a-self-impression-kit">What is a self-impression kit?</a></li>
<li class="faq-que-search"><a href="/blogs/news/my-impression-was-unsuccessful-what-happens-next">My impression was unsuccessful, what happens next?</a></li>
 <li class="faq-que-search"><a href="/pages/how-do-i-take-my-own-impressions">How do I take my own impressions?</a></li>
<li class="faq-que-search"><a href="/blogs/news/how-do-i-order-a-replacement-impression-kit">How do I order a replacement impression kit?</a></li>
<li class="faq-que-search"><a href="/blogs/news/how-do-i-send-my-impression-kit-back-to-you">How do I send my impression kit back to you?</a></li>
<li class="faq-que-search"><a href="/blogs/news/ive-sent-my-impressions-back-to-you-what-happens-next">I've sent my impressions back to you, what happens next?</a></li>
<li class="cat-search-box"><a href="/pages/aftercare">Aftercare</a></li>
<li class="faq-que-search"><a href="/blogs/news/how-do-i-put-in-and-take-out-my-instasmile">How do I put in and take out my instasmile?</a></li>
<li class="faq-que-search"><a href="/blogs/news/my-instasmile-feels-tight-is-this-normal">My instasmile feels tight, is this normal?</a></li>
<li class="faq-que-search"><a href="/blogs/news/my-instasmile-is-the-wrong-shade">My instasmile is the wrong shade</a></li>
<li class="faq-que-search"><a href="/blogs/news/i-have-a-lisp">I have a lisp</a></li>
<li class="faq-que-search"><a href="/blogs/news/how-do-i-clean-my-instasmile">How do I clean my instasmile?</a></li>
<li class="faq-que-search"><a href="/blogs/news/how-do-i-store-my-instasmile">How do I store my instasmile?</a></li>
<li class="faq-que-search"><a href="/blogs/news/does-my-instasmile-come-with-a-warranty">Does my instasmile come with a warranty?</a></li>
<li class="faq-que-search"><a href="/blogs/news/what-is-covered-in-the-12-month-extended-warranty">What is covered in the 12-month extended warranty?</a></li>
<li class="faq-que-search"><a href="/blogs/news/can-i-return-my-instasmile">Can I return my instasmile?</a></li>
<li class="faq-que-search"><a href="/blogs/news/my-instasmile-has-broken">My instasmile has broken</a></li>
<li class="faq-que-search"><a href="/blogs/news/i-want-to-re-order">I want to re-order</a></li>
<li class="cat-search-box"><a href="/pages/delivery">Delivery</a></li>
<li class="faq-que-search"><a href="/blogs/news/do-you-deliver-to-my-country">Do you deliver to my country?</a></li>
<li class="faq-que-search"><a href="/blogs/news/can-i-track-my-delivery">Can I track my delivery?</a></li>
<li class="faq-que-search"><a href="/blogs/news/my-package-has-been-returned-to-you-as-undeliverable-what-does-that-mean">My package has been returned to you as undeliverable, what does that mean?</a></li>
<li class="faq-que-search"><a href="/blogs/news/my-package-hasnt-arrived-yet">My package hasn't arrived yet?</a></li>
<li class="faq-que-search"><a href="/blogs/news/when-will-i-receive-my-impression-kit">When will I receive my impression kit?</a></li>
</ul>
</div>


<script>
    function faq_search_fun() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("faq_search");
        filter = input.value.toUpperCase();
        ul = document.getElementById("faq-que-list");
        btn = document.getElementById("clear");
        li = ul.getElementsByTagName("li");
        if (input.value.length >= 1) {
            btn.style.display = "block";
        }
        else {
            btn.style.display = "none";
        }
        if (input.value.length == 0) {
            ul.style.display = "none";
            return;
        } else {
            ul.style.display = "block";
        }
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "block";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    jQuery(document).ready(function () {
        ul = document.getElementById("faq-que-list");
        btn = document.getElementById("clear");
        $("#clear").click(function () {
            $("#faq_search").val("");
            ul.style.display = "none";
            btn.style.display = "none";
        });
    });
</script>


</div>
</div>
</div>
</section>

<section class="faq-cat-ques-sec">
<div class="container">
<div class="faq-cat-ques-div">
<div class="row faq-cat-name-row">
<div class="col-lg-8 col-md-6 col-sm-6 col-xs-6 faq-cat-que-clmn">
<h1 class="fag-page-h1" delivery<="" h1="">
</h1></div>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 faq-cat-que-clmn con-btn-common">
<a class="btn btn-primary" href="/pages/faq" role="button">View all</a>
</div>
</div>
<div class="row faq-cat-ques-row faqs-links">
{{ page.content }}
</div>
</div>
<div class="row faq-btn-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
<a class="btn btn-primary" href="/pages/faq" role="button">FAQs</a>
</div>
</div>
</div>
</section>

</section>