<section class="section_padding" style="background-color: #F7E6EE;">
<div class="container">
<div class="row">
<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 vertical-center cb-banner-clmn-1 cb-clmn">
<div class="cb-banner-content">
<h1>Teeth Whitening In An Instant</h1>
<p class="cb-banner-details">Enjoy a brighter, whiter looking smile with instant teeth whitening from instasmile. There’s no need for repeated harmful bleaching, or for expensive subscriptions or trips to the dentist. Just gleaming clip-on confidence from the comfort of your own home!</p>
<p><a class="btn btn-primary btn-01 cb-banner-btn" role="button" href="/pages/smile-assessment-1">Get Started</a></p>
</div>
</div>
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 cb-banner-clmn-2 vertical-center show-desktop">
<img src="https://cdn.instasmile.com/new-website/instasmile-before-after/before-whitersmile-donnamellow.png">
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 cb-banner-clmn-3 show-desktop vertical-center">
<img src="https://cdn.instasmile.com/new-website/instasmile-before-after/after-whitersmile-donnamellow.png">
</div>
</div>
<div class="row show-mobile">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cb-banner-clmn-mob">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<img src="https://cdn.instasmile.com/new-website/instasmile-before-after/before-whitersmile-donnamellow.png">
</div>
<div class="item">
<img src="https://cdn.instasmile.com/new-website/instasmile-before-after/after-whitersmile-donnamellow.png">
</div>
</div>
</div>
</div>
</div>
</section>
<section class="mb-sec-11 mb-p-element">
<div class="container">
<div class="row mb-row mb-row-11 mb-border-row"></div>
<div class="row mb-row mb-row-11-1">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-11 text-center">
<h2 class="mb-h2">An Instant Hollywood White Smile</h2>
<p>
Not everyone is lucky enough to have a natural Hollywood white smile, and cosmetic teeth whitening for stained or yellow teeth can be expensive and time-consuming. But with instasmile, it’s easy. Choose your shade, choose your solution, take an impression at home and then clip-on confidence.
</p>
<p style="padding-top: 10px;">Stained or yellow teeth? With our stain resistant technology, we’ve got you covered!</p>
</div>
</div>
</div>
</section>
<section class="mb-sec-5" style="padding-bottom: 70px;">
<div class="container">
<div class="row mb-row mb-row-6-1 mb-step-6-title mb-title-row"></div>
<div class="row mb-row mb-row-6-2 mb-step-6-block-row mb-width-row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-6-1 mb-clmn-6-img mb-img-left vertical-center">
<div class="img-width"><img src="https://cdn.instasmile.com/new-website/images/white-teeth/block3.jpg"></div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-6-2 mb-step-6-block-clmn">
<div class="mb-step-6-content mb-p-element"><p></p></div>
<div class="mb-step-6-box mb-block">
<h2 class="mb-h2">
Considering Cosmetic Tooth Whitening?
<br />
Choose instasmile Instead.
</h2>
<p>
When it comes to cosmetic teeth whitening, you’ve got lots to consider. There are gels, toothpastes and strips that are confusing and take time. For instant teeth whitening, you could try cosmetic bleaching or permanent veneers - but they can damage your natural enamel, and nobody wants to trade healthy teeth for a brighter, brittle smile. Luckily, there’s an alternative. instasmile is a quick, easy and safe whitening option that you can clip on in seconds.
</p>
</div>
</div>
</div>
</div>
</section>
<section class="home-section-6 section_padding">
<div class="container">
<div class="row pricing-title-row">
<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
</div>
<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
<div class="text-center">
<h2>What Does Confidence Cost?</h2>
<p class="home-sub-head">Your brand new Instasmile veneers are more affordable than you might think, and with a range of payment options available, you can spread the cost.</p>
<p class="home-sub-head"><b>All products now include a 12 month warranty in the price.</b></p>
</div>
</div>
<div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
</div>
</div>
<div class="row pricing-details">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pricing-details-left">
<div class="pricing-details text-center">
<h3>Top <i>or</i> Bottom Veneers</h3>
<p class="price-sec-price">
<sup>From</sup>
$400
</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pricing-details-right">
<div class="pricing-details text-center">
<h3>Top <i>and</i> Bottom Veneers</h3>
<p class="price-sec-price">
<sup>From</sup>
$600
</p>
 </div>
</div>
</div>
<div class="row pricing-details" style="display:">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="pricing-details text-center">
<p>Monthly From $17.08</p>
</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 40px;">
<div class="pricing-details text-center">
<p style="font-size: smaller;">
<b>Representative example:</b><br class='show-mobile'> instasmile Classic Top or Bottom veneers.<br><br class='show-mobile'>Pay <b>$195</b> deposit and spread the balance of <b>$205</b> over <b>12 months</b> (monthly payments of <b>$17.08</b>) with 0% interest.<br />Equivalent of $0.56 per day
</p>
</div>
</div>
</div>
<div class="top_header_rate text-center" style="padding-top: 20px;">
<text>Use code <b>BLACKFRIDAY</b> to get a <b>20% discount</b> when you pay in full today!</text>
</div>
<div class="row pricing-more-info text-center">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<a class="btn btn-primary btn-02" role="button" href="/pages/smile-assessment-1">Get Started</a>
</div>
</div>
</div>
</section>
<section class="straighter-section-7" style="padding-top: 40px;">

<div class="container">
<div class="row straighter-sec-7-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 straighter-sec-7-clmn-1">
<h2>Results</h2>
<p class="home-sub-head show-desktop">Every smile is unique, but seeing one of our customers wearing their instasmile can help you get a feel for how your new perfect smile will look.</p>
<p class="home-sub-head show-mobile">Every smile is unique, but seeing one of our customers wearing their instasmile can help you get a feel for how your new perfect smile will look.</p>
</div>
</div>
<div class="row straighter-sec-7-row-2">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 straighter-sec-7-clmn-2 straighter-sec-7-story">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Daniel_Taffs_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Daniel's been enjoying his new smile for three years and it's made a huge difference to his life.<br... < p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Daniel T • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Carol_Connelly_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Carol's teeth have stained over time, and she wanted to feel more comfortable smiling freely.<br /><... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Carol C • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Alisha_Harris_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Alisha wasn't happy with her natural teeth as they weren't the colour she wanted and her front teeth... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg"><span>Alisha H • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Richard_Cathrall_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Richard's stained and chipped teeth had knocked his confidence, but instasmile gave him the boost he... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg"><span>Richard C • Dynamic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Kalen_Lloyd_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Kalen treated himself to a new smile for Christmas after a bad car crash left him with missing teeth... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_2.svg"><span>Kalen L • Classic&nbsp;A1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Craig_Bishop_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Craig suffers with heavily stained, crooked teeth which really affected his confidence.<br /><br />"... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg"><span>Craig B • Dynamic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Chloe_Jones_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Chloe wanted to improve the appearance of her overall smile.<br /><br />"My teeth are a bit crooked... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg"><span>Chloe J • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Jessica_Wright_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Jessica was longing for the 'celebrity bright white' smile and we gave her exactly what she wanted.<... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg"><span>Jessica W • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-odd">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Craig_Cummings_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Craig wanted to upgrade his natural smile to a dazzling Hollywood style grin.<br /><br />"I wear... </p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_4.svg"><span>Craig C • Classic&nbsp;BL1</span>
</p>
</div>
</div>
</div>
</div>
<div class="item item-even">
<div class="straighter-story-sec">
<div class="straighter-story-img"><img src="https://cdn.instasmile.com/new-website/images/results-resized/Resized_Andrea_Kennicott_After.jpg"></div>
<div class="straighter-story-content">
<p class="straighter-story-rating"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="straighter-story-text" style="padding-top: 50px;">
Andrea was looking to cover the gap from her missing tooth, and whiten her smile in the process.<br... < p>
<div class="straighter-story-person-div">
<p class="straighter-story-person">
<img src="https://cdn.instasmile.com/new-website/images/story_icon_3.svg"><span>Andrea K • Dynamic&nbsp;A2</span>
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row straighter-smile-btn">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p><a class="btn btn-primary btn-02" role="button" href="/pages/result">More results</a></p>
</div>
</div>
</div>

</section>
<section class="mb-sec-5" style="padding-top: 70px;">
<div class="container">
<div class="row mb-row mb-row-6-1 mb-step-6-title mb-title-row"></div>
<div class="row mb-row mb-row-6-2 mb-step-6-block-row mb-width-row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-6-1 mb-clmn-6-img mb-img-left vertical-center">
<div class="img-width"><img src="https://cdn.instasmile.com/new-website/images/white-teeth/block6.jpg"></div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-6-2 mb-step-6-block-clmn">
<div class="mb-step-6-content mb-p-element"><p></p></div>
<div class="mb-step-6-box mb-block">
<h2 class="mb-h2">A Brighter, Whiter Smile from the Comfort of Your Home</h2>
<p>
instasmile offers you a brighter, whiter smile that fits perfectly over your teeth, protecting the enamel beneath while boosting your confidence with a truly dazzling grin. There’s no need for disappointing repeat whitening sessions, and running the risk of damaging your enamel. Your new custom-made clip-on veneers have been scientifically tested and are stain resistant. And - best of all - <a href="/pages/process">our simple, effective process </a> means you can enjoy a brilliant new smile without needing to leave your home!
</p>
</div>
</div>
</div>
</div>
</section>
<section class="home-section-8 section_padding style-tab-sec cb-tab-sec">
<div class="container">
<div class="row mb-row mb-row-6-1 mb-step-6-title mb-title-row"></div>
<div class="row text-center home-sec-8-row-1 style-tab-row-details">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h2>
Confidence in Four Stunning Shades
</h2>
<p class="home-sub-head">
Your custom-made instasmile clip-on veneers are available in four stunning shades:
</p>
</div>
</div>
<div class="row insta-smile-tab cb-tab-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

<div id="shade-style">
<div class="row tab-desk-row">
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
<div class="tab-details text-center">
<h3>BL1 - Hollywood White</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-bl1.png" /></div>
<p>
Instant whitening for a Hollywood smile and a glitzy, glamorous red carpet look.
<br />
<span style="visibility: hidden;">empty</span>
</p>
</div>
</div>
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
<div class="tab-details text-center">
<h3>A1 - Pure Natural White</h3>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a1.png" /></div>
<p>
A crisp, white smile that’s the brightest natural white a tooth can be.
<br />
<span style="visibility: hidden;">empty</span>
</p>
</div>
</div>
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
<div class="tab-details text-center">
<h3>A2 - Light Ivory</h3>
<span style="font-size: xx-large;visibility: hidden;">empty</span>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a2.png" /></div>
<p>
A happy, healthy, natural shade that doesn’t need any cosmetic whitening treatment.
<br />
<span style="visibility: hidden;">empty</span>
</p>
</div>
</div>
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
<div class="tab-details text-center">
<h3>A3 - Medium Ivory</h3>
<span style="font-size: xx-large;visibility: hidden;">empty</span>
<div class="tab-img"><img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a3.png" /></div>
<p>
A subtle, understated ivory smile that matches the color of natural teeth with some light staining.
</p>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</section>

<div class="row tab-mobile-row">
<div class="container">
<div class="row mb-row mb-row-3-1 mb-step-3-title mb-title-row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-3-1 text-center">
<h2>Confidence in Four Stunning Shades</h2>
<p class="home-sub-head">Your custom-made instasmile clip-on veneers are available in four stunning shades:</p>
</div>
</div>
<div class="row mb-row mb-row-3-2 mb-step-3-block-row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-3-2 text-center mb-step-3-block-clmn">
<div class="mb-step-3-box mb-block">
<img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-bl1.png">
<h3>
BL1 - Hollywood White
</h3>
<p>
Instant whitening for a Hollywood smile and a glitzy, glamorous red carpet look.
</p>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-3-2 text-center mb-step-3-block-clmn">
<div class="mb-step-3-box mb-block">
<img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a1.png">
<h3>A1 - Pure Natural White</h3>
<p>
A crisp, white smile that’s the brightest natural white a tooth can be.
</p>
</div>
</div>
</div>
<div class="row mb-row mb-row-3-3 mb-step-3-block-row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-3-2 text-center mb-step-3-block-clmn">
<div class="mb-step-3-box mb-block">
<img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a2.png">
<h3>A2 - Light Ivory</h3>
<p>
A happy, healthy, natural shade that doesn’t need any cosmetic whitening treatment.
</p>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-clmn mb-clmn-3-2 text-center mb-step-3-block-clmn">
<div class="mb-step-3-box mb-block">
<img src="https://cdn.instasmile.com/new-website/images/product-shade-block/dynamic-a3.png">
<h3>A3 - Medium Ivory</h3>
<p>
A subtle, understated ivory smile that matches the color of natural teeth with some light staining.
</p>
</div>
</div>
</div>
</div>
</div>

<section class="straighter-sec-2">
<div class="container">
<div class="banner-content">
<p><a class="btn btn-primary btn-01 straighter-btn" role="button" href="/pages/smile-assessment-1">Get Started</a></p>
</div>
</div>
</section>
<section class="home-section-4">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p class="smile-story-line"><img src="https://cdn.instasmile.com/new-website/images/Smile_Row_Icon.svg"></p>
</div>
</div>
</div>
</section>
<section class="straighter-sec-4">
<div class="container">
<div class="row">
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_1.svg">
<p>Patented</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_6.svg" />
<p>Choice of shade	</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_3.svg">
<p>Custom-made</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_4.svg">
<p>Slimline</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_5.svg">
<p>Eat & drink</p>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
<div class="smile_story_details">
<img src="https://cdn.instasmile.com/new-website/images/smile_icon_2.svg">
<p>Award Winning</p>
</div>
</div>
</div>
</div>
</section>
<section class="straighter-section-5 section_padding">

<div class="container">
<div class="row straighter-sec-4-row">
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 s-sec-4clmn-1">
<div class="straighter-sec-5-details">
<h3>Choose Your Smile</h3>
<p>
The right smile starts with the right veneers. Choose the clip-on veneers that are right for you, and you’re a step closer to discovering your confidence.
</p>
<p><a class="btn btn-primary btn-02" role="button" href="/pages/smile-assessment-1">Learn More</a></p>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 s-sec-4clmn-2">
<div class="straighter-sec-5-details">
<h3>Make Your Impression</h3>
<p>There’s no need to visit a dentist or make an appointment. We’ll send you the instructions and materials to make an impression from the comfort of your own home.</p>
<p><a class="btn btn-primary btn-02" role="button" href="/pages/impression-kit-guide">Learn More</a></p>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 s-sec-4clmn-3">
<div class="straighter-sec-5-details">
<h3>Find Your Answers</h3>
<p>Can the perfect smile really be this easy? We know you’ll have questions, so we’ve put together the answers you need on our FAQ page.</p>
<p><a class="btn btn-primary btn-02" role="button" href="/pages/faq">Learn More</a></p>
</div>
</div>
</div>
</div>

</section>
<section class="straighter-section-6 section_padding">
<div class="container">
<div class="row smile-step-title text-center">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h2>Three simple steps to your perfect instasmile</h2>
</div>
</div>

<div class="row smile-step-row smile-step-row-desk">
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 smile-step-clmn-1">
<div class="smile-step-text-over smile-step-text-over-1">
</div>
<p class="smile-step-details">
<b>Order Online</b><br />
Complete your online <a href="/pages/smile-assessment-1">Smile Assessment</a> and find the instasmile that’s right for you. Order your instasmile securely through our online store.
</p>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 smile-step-clmn-2">
<div class="smile-step-text-over smile-step-text-over-2">
</div>
<p class="smile-step-details">
<b>Make an Impression</b><br />
You’ll get your Impression Kit in the post. Read through all the instructions so you get the perfect impression, and send us a photo so we can check it’s all OK.
</p>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 smile-step-clmn-3">
<div class="smile-step-text-over smile-step-text-over-3">
</div>
<p class="smile-step-details">
<b>Receive Your New Smile</b><br />
After we’ve checked and approved your photo, send us your completed impression. We’ll then get to work on creating your brand new smile.
</p>
</div>
</div>


<div class="row smile-step-row smile-step-row-mobile">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 smile-step-clmn-1">
<div id="owl-demo" class="owl-carousel owl-theme">
 <div class="item">
<div class="smile-step-text-over smile-step-text-over-1">
</div>
<p class="smile-step-details">
<b>Order Online</b><br />
Complete your online <a href="/pages/smile-assessment-1">Smile Assessment</a> and find the instasmile that’s right for you. Order your instasmile securely through our online store.
</p>
</div>
<div class="item">
<div class="smile-step-text-over smile-step-text-over-2">
</div>
<p class="smile-step-details">
<b>Make an Impression</b><br />
You’ll get your Impression Kit in the post. Read through all the instructions so you get the perfect impression, and send us a photo so we can check it’s all OK.
</p>
</div>
<div class="item">
<div class="smile-step-text-over smile-step-text-over-3">
</div>
<p class="smile-step-details">
<b>Receive Your New Smile</b><br />
After we’ve checked and approved your photo, send us your completed impression. We’ll then get to work on creating your brand new smile.
</p>
</div>
</div>
</div>
</div>

<div class="row smile-step-btn">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<p><a class="btn btn-primary btn-01" role="button" href="/pages/smile-assessment-1">Get Started</a></p>
</div>
</div>
</div>
</section>
<section class="straighter-section-8 section_padding">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="sec-9-details text-center">
<h2>Over 200,000 happy customers have already found their perfect smile</h2>
<p class="home-sub-head"><span>Rated GREAT on Trustpilot</span><img src="https://cdn.instasmile.com/new-website/images/sec-3-rating.svg"><span>Based on <a href="https://uk.trustpilot.com/review/instasmile.com" style="color: black; text-decoration: underline">3,703 reviews</a></span></p>
</div>
</div>
</div>
</div>
<div class="row client-testimonial">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 testimonial-col">
<div id="owl-demo" class="owl-carousel owl-reviews owl-theme owl-height">
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618e333601034f34babd1656" target="_blank">Cheryl-lee</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Thank you so much to the instasmile team for all your hard work. And also the great communication &#x1F44F; I absolutely love love my new smile I have gained...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618d850601034f34babcc00b" target="_blank">Nicola</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I&#x27;m so happy with my veneers they give me so much more confidence I can now smile &#x1F603;</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618d6a31fb38891f5f08f6ec" target="_blank">Donna Thompson</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I spoke to jack very understanding .explained in an easy way of how to take the impression very helpful</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618c33cdfb38891f5f07f497" target="_blank">Karen Grant</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I&#x27;m so happy with my veneers they are perfect.. Just wot I wanted and so easy to use. Strong and durable too.. I&#x27;m delighted I got them.. Will prob...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618c111901034f34babb7c77" target="_blank">Ms Mills</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Brilliant service and excellent end product. Very happy &#x1F60A;</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618bb6ed75069a4da49edc69" target="_blank">Carol</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">They service from this company is amazing from start to finish just can&#x2019;t fault them end product amazing all staff amazing Thanks for a great...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618a6d8d234f1b1fe572c6b2" target="_blank">Hair at Christines </a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I am so happy with my instasmile. My first set didn&#x2019;t fit me but they worked with me and gave me lots of feedback and support to get my impression...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618984a875069a4da49d32ba" target="_blank">Mark Lyles</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I am so pleased with my intasmile veneers! I have purchased veneers from another company and not only were they more expensive but they are not near...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6189674975069a4da49d0edf" target="_blank">Sherrilynn</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I am absolutely obsessed with my Instasmile!! I have not smiled with my teeth showing in 10&#x2B; years, now I can&#x27;t stop :) I love how thin they are so...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6187e47b75069a4da49bdc7d" target="_blank">Mauricio Alejandro Villalobos</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">And now, for your reading pleasure, a pre-view that trusts instasmile will deliver nothing less than their serendipitous has, and if I may indulge,...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/61842a10234f1b1fe56e7653" target="_blank">Martyn</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Excellent service throughout the process. I had initially gone for an upper set of veneers as I was unsure if it was a good move but once my...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618425d175069a4da499787b" target="_blank">Julie Mccarthy</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Excellent company very helpful phone back when ask answers emails looking forward to receiving my veneers high recommend</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182de7975069a4da4986589" target="_blank">Talus2</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Stellar Performance !</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182d34d75069a4da49857ee" target="_blank">victor cancel</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">My smiles looks beautiful. I feel like a brand new person &#x2665;&#xFE0F;</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182734675069a4da497dd2b" target="_blank">Ann Stickney</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Quick turnaround time after they approve impressions. Super customer service team. Fit was perfect and they look great and natural.</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6182637275069a4da497c98e" target="_blank">Luna Sheehan</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">I highly recommend, before getting these I had no confidence and hadn&#x27;t smiled in many years since getting these instasmile veneers I have been...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/618146ef75069a4da496f5cf" target="_blank">Phil Carl Griffin</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">The process is slightly lengthy, but the results are amazing! I&#x27;ve ordered twice with Instasmile, and will continue with them in the future.</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/617c020c75069a4da4938bf7" target="_blank">Hillary Bartlett</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Friendly, amazing service. Very happy with the whole experience.</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/617999e9234f1b1fe5669f61" target="_blank">Thonya Biage</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Instasmile gave me a reason to smile again!! A really big beautiful smile!</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
<div class="item">
<p class="client-name"><a href="https://uk.trustpilot.com/reviews/6178821c234f1b1fe565c996" target="_blank">MRS P CHARMAN</a></p>
<p class="rating-star"><img src="https://cdn.instasmile.com/new-website/images/Rating_Star.svg"></p>
<p class="client-text">Instasmile were brilliant, friendly helpful staff that helped me all the way through, and a great end product.&#xA;The only thing I was disappointed about...</p>
<p class="img-trustpilot footer"><img src="https://cdn.instasmile.com/new-website/images/Trust_Pillot.svg"></p>
</div>
</div>
</div>
</div>
</section>

<script type="text/javascript">
    /* Start Image Section */
    $(document).ready(function () {
        $(".mb-img-slider #owl-demo").owlCarousel({
            navigation: true, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            loop: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            items: 1,
            nav: true,
            navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
        });
    });
    /* End Image Section */
    /* Start Slider Section */
    $(document).ready(function () {
        $(".mb-slider-item #owl-demo").owlCarousel({
            navigation: true, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            loop: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            items: 1,
        });
    });
    /* End Slider Section */
    /* Start Shade Slider Section */
    $(document).ready(function () {
        $("#shade-style #owl-demo").owlCarousel({
            navigation: false, // Show next and prev buttons
            center: true,
            slideSpeed: 300,
            loop: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            items: 1,
        });
    });
    /* End Shade Slider Section */
    /* Start Banner Images */
    $(document).ready(function () {
        $(".cb-banner-clmn-mob #owl-demo").owlCarousel({
            navigation: true, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            loop: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            items: 1,
        });
    });
    /* End Banner Images */
</script>