<section class="page-template who-we-are-page" style="padding: 70px;">
<section>
<div>
<h1>{{ page.title }}</h1>
</div>
</section>
<div>
<div>
<div>
<div>
<div>
<p>Thank you for visiting&nbsp;<a href="https://us.instasmile.com">https://us.instasmile.com</a>&nbsp;(the &ldquo;Web Site&rdquo;). Your privacy is important to us. To better protect your privacy, we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used at this site. All capitalised terms not defined in this Privacy policy shall have the meanings assigned to them in the Terms and conditions for use of the Web Site,&nbsp;<a href="/pages/terms-and-conditions">located here</a>. From time to time we may update this Privacy Policy. When we do, we will publish the changes on this Web Site. If you do not agree to these changes, please do not continue to use the Web Site. If material changes are made to this Privacy Policy, we will notify you placing a prominent notice of the Web Site.</p>
<h4 style="padding-top: 20px;">The information we collect</h4>
<p>In order to purchase an instasmile product, this site requires that User provides certain personal information. The types of personally identifiable information that we collect may include: name, address, email address, telephone number, fax number and credit card information. The Web Site also allows you to submit information about other people. For example, you might submit a person&rsquo;s information to purchase a gift for that person. The types of personally identifiable information that may be collected about other people at these pages may include: recipient&rsquo;s name, address, email address, and telephone number.</p>
<p>We also automatically collect certain information when you visit the Web Site, such as the type of browser you are using (e.g., Google Chrome, Internet Explorer etc), the type of operating system you are using, (e.g., Windows XP or Mac OS) the domain name of your Internet service provider (e.g., America Online, Earthlink) and collect information on site navigation. We employ third party experts to help us analyse this information, however, we ensure that anyone we employ treats all of the information with the same sensitivity and security that we treat it.</p>
<h4 style="padding-top: 20px;">How we use the information</h4>
<p>We sometimes use this information to communicate with you, such as to notify you when we make changes to our subscriber agreements, to fulfil an online order for instasmile products, to answer your enquiries or to contact you about issues regarding your account with us. From time to time we would like to send you information about our products and services. We may occasionally use your information to carry out customer and market research. For this purpose we may contact you via letter, phone, SMS or email. You may opt-out of receiving such information by selecting the relevant option on our website when you place an order or by sending us an email at&nbsp;<a href="/cdn-cgi/l/email-protection#83eaede5ecc3eaedf0f7e2f0eeeaefe6ade0ecee"><span class="__cf_email__" data-cfemail="553c3b333a153c3b26213426383c39307b363a38">[email&#160;protected]</span></a>&nbsp;. We will only use the information that you provide about others to enable us to send them the relevant products which you have purchased for them.</p>
<p>We will also use the information collected about your computer and your browser settings to improve the design and content of our site and to enable us to provide a more tailored interface for individual Users.</p>
<p>We may also use this information in aggregate (so that no individuals are identified) to analyse site usage and for strategic development purposes. Furthermore, there may be occasions where we are under a legal obligation to disclose a User&rsquo;s personally identifiable information, for example, in response to a court order or a law enforcement agency&rsquo;s request.</p>
<h4 style="padding-top: 20px;">Information we do not collect</h4>
<p>We do not store any credit or debit card details or our customers. All transactions are handled by PayPal.</p>
<h4 style="padding-top: 20px;">Use of cookies</h4>
<p>A cookie is a small piece of information sent by a web server to a web browser, which enables the server to collect information from the browser. Find out more about the use of cookies on&nbsp;<a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org/&nbsp;</a>. We use cookies to identify you when you visit this website and to keep track of your browsing patterns and build up a demographic profile. Our use of cookies also allows registered users to be presented with a personalised version of the site, carry out transactions and have access to information about their account. Most browsers allow you to turn off cookies or to receive a warning before a cookie is stored on your hard drive. Please refer to your browser instructions or help screen to learn more about how to do this. However, should you decide to disable any cookies we place on your computer you may not be able to use certain services or facilities on the Web Site.</p>
<h4 style="padding-top: 20px;">Disclosure</h4>
<p>We will only disclose personal information to agents and contractors of instasmile who are engaged to process data on our behalf. Such organisations are required to protect this information in a manner that is consistent with this Privacy Notice by, for example, not using the information for any purpose other than to carry out the services they are performing for instasmile.</p>
<h4 style="padding-top: 20px;">Internet-based transfers</h4>
<p>Given that the Internet is a global environment, using the Internet to collect and process personal data necessarily involves the transmission of data on an international basis. Therefore, by browsing this website and communicating electronically with us, you acknowledge our processing of personal data in this way. However, we will endeavour to protect all personal information collected through this website in accordance with strict data protection standards.</p>
<h4 style="padding-top: 20px;">Our commitment to security</h4>
<p>We have put in place appropriate physical, electronic, and managerial procedures to safeguard and help prevent unauthorised access, maintain data security, and correctly use the information we collect online.</p>
<h4 style="padding-top: 20px;">How you can access or correct information</h4>
<p>For instructions on how you can access the personally identifiable information that this instasmile site has collected about you online, or how to correct factual errors in such information, please contact us at&nbsp;<a href="/cdn-cgi/l/email-protection#5a33343c351a3334292e3b293733363f74393537"><span class="__cf_email__" data-cfemail="6e070008012e07001d1a0f1d0307020b400d0103">[email&#160;protected]</span></a>&nbsp;. To protect your privacy and security, we will take reasonable steps to help verify your identity before granting access or making corrections.</p>
<h4 style="padding-top: 20px;">How to contact us</h4>
<p>If you have any questions or concerns about this policy or its implementation you may&nbsp;<a href="/pages/contact-us">contact us here</a>.</p>
</div>
</div>
</div>
</div>
</div>
</section>